<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    <span>配件流水账</span>
  </div>
  <div class="card-block">
    <hq-mountings-list (selectItem)="onSelectItem($event)"></hq-mountings-list>
    <hr>
    <div [hidden]="!item">
      <form class="form-inline mb-2" (ngSubmit)="onLoadList()">
        <div class="form-group mb-2">
          <label>查询日期：</label>
          <input [(ngModel)]="params.createStartTime" name="createStartTime" ngui-datetime-picker date-only="true" class="form-control mx-sm-3"
            placeholder="选择开始日期">
        </div>
        <div class="form-group mb-2">
          <label class="mr-sm-2">至：</label>
          <input [(ngModel)]="params.createEndTime" name="createEndTime" ngui-datetime-picker date-only="true" class="form-control mx-sm-3"
            placeholder="选择截至日期">
        </div>
        <div class="form-group mb-2">
          <button type="submit" class="btn btn-primary mx-sm-1" translate>查询明细</button>
        </div>
      </form>
      <div>
        <button *ngFor="let item of tags" (click)="onSelectTag(item)" class="btn mr-1" [class.btn-primary]="item.selected">
          <span>{{item.name}}</span>
          <span class="badge badge-default">{{item.count}}</span>
        </button>
      </div>
      <hr>
      <table class="table table-bordered table-sm table-striped">
        <thead>
          <tr *ngIf="!loading">
            <th translate>序号</th>
            <th translate>单号</th>
            <th translate>发生时间</th>
            <th translate>进出类型</th>
            <th translate>进出量</th>
            <th translate>成本</th>
            <th translate>金额</th>
            <th translate>销售单价</th>
            <th translate>销售金额</th>
            <th translate>库存量</th>
            <th translate>车牌号</th>
            <th translate>供应商</th>
            <th translate>客户名称</th>
            <th translate>操作人</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td>{{item.number}}</td>
            <td>{{item.billCode}}</td>
            <td>{{item.createTime}}</td>
            <td>{{item.billType}}</td>
            <td>{{item.outCount}}</td>
            <td>{{item.price}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.salePrice}}</td>
            <td>{{item.saleAmount}}</td>
            <td>{{item.count}}</td>
            <td>{{item.plateNo}}</td>
            <td>{{item.supplier}}</td>
            <td>{{item.customer}}</td>
            <td>{{item.operator}}</td>
          </tr>
        </tbody>
      </table>
      <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" (pageChanged)="onPageChanged($event)"></hq-pagination>
    </div>
  </div>
  <div class="card-footer text-muted">
    <button class="btn btn-secondary" [disabled]="!list?.length" (click)="onExport($event)">导出</button>
  </div>
</div>