<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    <label>配件流水账</label>
  </div>
  <div class="card-block">
    <hq-mountings-list (selectItem)="onSelectItem($event)"></hq-mountings-list>
    <div [hidden]="!item">
      <form class="form-inline mb-2" (ngSubmit)="onLoadList()">
        <div class="input-group m-1">
          <label class="input-group-addon">查询日期</label>
          <input [(ngModel)]="params.createStartTime" [max-date]="params.createEndTime" name="createStartTime" ngui-datetime-picker
            date-only="true" class="form-control" placeholder="选择开始日期">
          <label class="input-group-addon">-</label>
          <input [(ngModel)]="params.createEndTime" [max-date]="params.createStartTime" name="createEndTime" ngui-datetime-picker date-only="true"
            class="form-control" placeholder="选择截止日期">
        </div>
        <div class="form-group mb-2">
          <button type="submit" class="btn btn-primary mx-sm-1">查询明细</button>
        </div>
      </form>
      <hr>
      <div *ngIf="tags">
        <button *ngFor="let item of tags" (click)="onSelectTag(item)" class="btn mr-1" [class.btn-primary]="item.checked">
          <span>{{item.name}}</span>
          <span class="badge badge-default">{{item.count}}</span>
        </button>
        <hr>
      </div>
      <div class="table-container">
        <table hqHeaderFixed *ngIf="!loading&&current<=0" class="table table-bordered">
          <thead>
            <tr>
              <th>单号</th>
              <th>发生时间</th>
              <th>数量</th>
              <th>成本单价（元）</th>
              <th>成本金额（元）</th>
              <th>销售单价（元）</th>
              <th>销售金额（元）</th>
              <th>库存量</th>
              <th>车牌号</th>
              <th>客户名称</th>
              <th>操作人</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of list">
              <td class="text-center">{{item.billCode}}</td>
              <td class="text-center">{{item.createTime|sDatetime}}</td>
              <td class="text-center">{{item.inCount}}</td>
              <td class="text-right">{{item.costPrice|centToYuan}}</td>
              <td class="text-right">{{item.costAmount|centToYuan}}</td>
              <td class="text-right">{{item.salePrice|centToYuan}}</td>
              <td class="text-right">{{item.saleAmount|centToYuan}}</td>
              <td class="text-center">{{item.count}}</td>
              <td class="text-center">{{item.plateNo}}</td>
              <td>{{item.customer}}</td>
              <td>{{item.operator}}</td>
            </tr>
          </tbody>
        </table>
        <table hqHeaderFixed *ngIf="!loading&&current==1" class="table table-bordered">
          <thead>
            <tr>
              <th>单号</th>
              <th>发生时间</th>
              <th>数量</th>
              <th>成本单价（元）</th>
              <th>成本金额（元）</th>
              <th>销售单价（元）</th>
              <th>销售金额（元）</th>
              <th>库存量</th>
              <th>客户名称</th>
              <th>手机号</th>
              <th>操作人</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of list">
              <td class="text-center">{{item.billCode}}</td>
              <td class="text-center">{{item.createTime|sDatetime}}</td>
              <td class="text-center">{{item.inCount}}</td>
              <td class="text-right">{{item.costPrice|centToYuan}}</td>
              <td class="text-right">{{item.costAmount|centToYuan}}</td>
              <td class="text-right">{{item.salePrice|centToYuan}}</td>
              <td class="text-right">{{item.saleAmount|centToYuan}}</td>
              <td class="text-center">{{item.count}}</td>
              <td>{{item.customer}}</td>
              <td class="text-center">{{item.customerPhone}}</td>
              <td>{{item.operator}}</td>
            </tr>
          </tbody>
        </table>
        <table hqHeaderFixed *ngIf="!loading&&current==2" class="table table-bordered">
          <thead>
            <tr>
              <th>单号</th>
              <th>发生时间</th>
              <th>数量</th>
              <th>不含税单价（元）</th>
              <th>不含税金额（元）</th>
              <th>含税单价（元）</th>
              <th>含税金额（元）</th>
              <th>库存量</th>
              <th>供应商</th>
              <th>操作人</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of list">
              <td class="text-center">{{item.billCode}}</td>
              <td class="text-center">{{item.createTime|sDatetime}}</td>
              <td class="text-center">{{item.inCount}}</td>
              <td class="text-right">{{item.exTaxPrice|centToYuan}}</td>
              <td class="text-right">{{item.exTaxAmount|centToYuan}}</td>
              <td class="text-right">{{item.price|centToYuan}}</td>
              <td class="text-right">{{item.amount|centToYuan}}</td>
              <td class="text-center">{{item.count}}</td>
              <td>{{item.supplier}}</td>
              <td>{{item.operator}}</td>
            </tr>
          </tbody>
        </table>
        <table hqHeaderFixed *ngIf="!loading&&current==3" class="table table-bordered">
          <thead>
            <tr>
              <th>单号</th>
              <th>发生时间</th>
              <th>入库量</th>
              <th>成本单价（元）</th>
              <th>成本金额（元）</th>
              <th>销售单价（元）</th>
              <th>销售金额（元）</th>
              <th>库存量</th>
              <th>领料人</th>
              <th>领料部门</th>
              <th>操作人</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of list">
              <td class="text-center">{{item.billCode}}</td>
              <td class="text-center">{{item.createTime|sDatetime}}</td>
              <td class="text-center">{{item.inCount}}</td>
              <td class="text-right">{{item.costPrice|centToYuan}}</td>
              <td class="text-right">{{item.costAmount|centToYuan}}</td>
              <td class="text-right">{{item.salePrice|centToYuan}}</td>
              <td class="text-right">{{item.saleAmount|centToYuan}}</td>
              <td class="text-center">{{item.count}}</td>
              <td>{{item.takeUser}}</td>
              <td>{{item.takeDepart}}</td>
              <td>{{item.operator}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" [(itemsPerPage)]="size" (pageChanged)="onPageChanged($event)"></hq-pagination>
    </div>
  </div>
  <div class="card-footer text-muted">
    <button class="btn btn-secondary" [disabled]="!list?.length" (click)="onExport($event)">导出</button>
  </div>
</div>