<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    <span>语言列表</span>
    <div class="pull-right">
      <a routerLink="create" class="btn btn-sm btn-primary">add</a>
    </div>
  </div>
  <div class="card-block">
    <form class="form-inline mb-2" (ngSubmit)="onLoadList()">
      <input type="text" class="form-control mb-2 mr-2" name="name" [(ngModel)]="params.name" placeholder="请输入语言名称">
      <input type="text" class="form-control mb-2 mr-2" name="code" [(ngModel)]="params.code" placeholder="请输入语言编码">
      <select name="enabled" [(ngModel)]="params.enabled" class="form-control mb-2 mr-2">
        <option value>全部状态</option>
        <option value="true">可用的</option>
        <option value="false">禁用的</option>
      </select>
      <button type="submit" class="btn btn-primary mb-2 mr-2">search</button>
    </form>
    <table class="table table-bordered table-sm table-striped">
      <thead>
        <tr>
          <th>name</th>
          <th>flag</th>
          <th>code</th>
          <th>display.order</th>
          <th>status</th>
          <th>create.time</th>
          <th>operator</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td class="text-center">{{ item.name }}</td>
          <td class="text-center"><span class="flag-icon flag-icon-{{ item.flag }}"></span></td>
          <td class="text-center">{{ item.culture}}</td>
          <td class="text-center">{{ item.displayOrder }}</td>
          <td class="text-center"><i class="fa fa-{{ item.enabled?'check':'times' }}"></i></td>
          <td class="text-center">{{ item.createdOnUtc|date:'y-MM-dd HH:mm:ss' }}</td>
          <td class="text-center">
            <a [routerLink]="['edit',item.id]" class="btn btn-sm btn-success" title="编辑"><i class="fa fa-pencil-square-o"></i></a>
            <a (click)="onRemove(item)" class="btn btn-sm btn-danger" title="删除"><i class="fa fa-trash-o"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" (pageChanged)="onPageChanged($event)"></hq-pagination>
  </div>
</div>