.hqTableTypeahead{
    background-color: #fff;
    font-size: 14px;
    border-radius: 4px;
    position: absolute;
    z-index: 4;
    border: 1px solid #27b394;
}

td,th{
    padding: 5px 10px!important;
    white-space: nowrap;
}
.table{
    margin-bottom: 0;
}
tbody tr{
    cursor: pointer;
}
.close{
    position: absolute;
    right: -20px;
}
.form-inline .form-control,.goto{
    border:1px solid #27b394 !important;
}

