<div class="hqTableTypeahead" (blur)="result=null" [hidden]="!visible">
  <table class="table table-sm table-bordered table-hover table-responsive">
    <thead>
      <tr>
        <th [hidden]="!multiple"><input [checked]="allChecked" (change)="onSelectAll($event)" type="checkbox" /></th>
        <th *ngFor="let col of columns">{{col.title||col.name}}</th>
        <th class="border-0">
          <button (click)="hide()" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of result?.data" (click)="onItemSelect(item)">
        <th [hidden]="!multiple"><input [checked]="item.checked" type="checkbox" /></th>
        <td *ngFor="let col of columns">
          {{item[col.name]|shorten:col.maxLength||20:'...'}}
        </td>
      </tr>
    </tbody>
  </table>
  <pagination [hidden]="size>=result?.totalCount" class="pagination-sm" [maxSize]="3" [boundaryLinks]="true" [itemsPerPage]="size"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [totalItems]="result?.totalCount" [(ngModel)]="index"
    (pageChanged)="pageChanged($event)"></pagination>
</div>