.hqTableTypeahead{
    background-color: #fff;
    font-size: 14px;
    border-radius: 4px;
    padding: 2px;
}
table{
    margin: 2px;
}

td,th{
    padding: 3px 10px!important;
}

tbody tr{
    cursor: pointer;
}

.close{
    position: absolute;
    right: -20px;
}