.hqTableTypeahead{
    background-color: #fff;
    font-size: 14px;
    border-radius: 4px;
    position: absolute;
    z-index: 4;
}

td,th{
    padding: 5px 10px!important;
}
.table{
    margin-bottom: 0;
}
tbody tr{
    cursor: pointer;
}

.close{
    position: absolute;
    right: -20px;
}