<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    <span>属性列表</span>
    <div class="pull-right">
      <a routerLink="create" class="btn btn-sm btn-primary">add</a>
    </div>
  </div>
  <div class="card-block">
    <form class="form-inline mb-2" (ngSubmit)="onLoadList()">
      <input type="text" class="form-control mb-2 mr-2" [(ngModel)]="params.groupName" name="groupName" placeholder="请输入分组名称">
      <input type="text" class="form-control mb-2 mr-2" [(ngModel)]="params.entityId" name="entityId" placeholder="请输入实体Id">
      <input type="text" class="form-control mb-2 mr-2" [(ngModel)]="params.key" name="key" placeholder="请输入属性名称">
      <select name="languageId" class="form-control mb-2 mr-2" [(ngModel)]="params.languageId">
        <option value>全部语言</option>
        <option *ngFor="let item of languages" value="{{item.id}}">{{item.name}}</option>
      </select>
      <select name="enabled" [(ngModel)]="params.enabled" class="form-control mb-2 mr-2">
        <option value>全部状态</option>
        <option value="true">可用的</option>
        <option value="false">禁用的</option>
      </select>
      <button type="submit" class="btn btn-primary mb-2 mr-2">查询</button>
    </form>
    <table class="table table-bordered table-sm table-striped">
      <thead>
        <tr>
          <th>language</th>
          <th>groupName</th>
           <th>entity</th>
          <th>key</th>
          <th>value</th>
          <th>create.time</th>
          <th>status</th>
          <th>operator</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td>{{ item.languageName }}</td>
          <td>{{ item.groupName }}</td>
          <td>{{ item.entityId }}</td>
          <td>{{ item.key }}</td>
          <td>{{ item.value}}</td>
          <td>{{ item.createdOnUtc|date:'y-MM-dd HH:mm:ss'}}</td>
          <td><i class="fa fa-{{ item.enabled?'check':'times' }}"></i></td>
          <td>
            <a [routerLink]="['edit',item.id]" class="btn btn-sm btn-success" title="编辑"><i class="fa fa-pencil-square-o"></i></a>
            <a (click)="onDelete($event,item.id)" class="btn btn-sm btn-danger" title="删除"><i class="fa fa-trash-o"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" (pageChanged)="onPageChanged($event)"></hq-pagination>
  </div>
</div>