<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    <span> 创建工单</span>
    <ng-template hqSuspendBill="MW" (onRemove)="onSuspendedBillRemove($event)" (onSelect)="onSuspendedBillSelect($event)" [columns]="typeaheadColumns"></ng-template>
  </div>
  <!--填写工单信息表单-->
  <div class="card-block">
    <form [formGroup]="workSheetForm" autocomplete="off" (ngSubmit)="onSerarch()">
      <!--挂单id-->
      <input type="hidden" formControlName="suspendedBillId" />
      <!--工单基本筛选条件面板-->
      <div class="form-group row">
        <label for="plateNo" class="col-1 col-form-label col-form-label"><span class="asterisk mr-1">*</span>车牌号</label>
        <div class="col-2">
          <input [hqTableTypeahead]="plateNotypeaheadSource" [columns]="typeaheadColumns" (onSelect)="plateNoOnSelect($event)" class="form-control form-control"
            formControlName="plateNo" id="plateNo" label="车牌号" type="text" placeholder="请输入车牌号" />
          <!--客户车辆id-->
          <input type="hidden" formControlName="customerVehicleId" />
          <!--客户id-->
          <input type="hidden" formControlName="customerId" />
        </div>
        <label for="customerName" class="col-1 col-form-label col-form-label"><span class="asterisk mr-1">*</span>车主</label>
        <div class="col-2">
          <input [hqTableTypeahead]="customerNametypeaheadSource" label="车主" [columns]="typeaheadColumns" (onSelect)="onCustomerNameSelect($event)"
            type="text" class="form-control" formControlName="customerName" id="customerName" placeholder="输入车主名称">
        </div>
        <label for="phone" class="col-1 col-form-label">车主电话</label>
        <div class="col-2">
          <input type="text" label="手机号" class="form-control" formControlName="phone" id="phone" placeholder="车主电话">
        </div>
      </div>
      <div class="form-group row">
        <label for="vin" class="col-1 col-form-label"><span class="asterisk mr-1">*</span>VIN</label>
        <div class="col-2">
          <input label="vin" type="text" class="form-control" formControlName="vin" id="vin" placeholder="VIN">
        </div>
        <label for="brand" class="col-1 col-form-label"><span class="asterisk mr-1">*</span>品牌</label>
        <div class="col-2">
          <!--label="品牌"-->
          <input forceRefresh="true" [hqTableTypeahead]="brandTypeaheadSource" [columns]="nameTypeaheadColumns" (onSelect)="onBrandSelect($event)"
            type="text" class="form-control" formControlName="brand" id="brand" placeholder="请输入品牌名称">
          <!--品牌id-->
          <input type="hidden" formControlName="brandId" />
        </div>
        <label for="series" class="col-1 col-form-label"><span class="asterisk mr-1">*</span>车系</label>
        <div class="col-2">
          <!--label="车系"-->
          <input forceRefresh="true" [hqTableTypeahead]="seriesTypeaheadSource" [columns]="nameTypeaheadColumns" (onSelect)="onSeriesSelect($event)"
            type="text" class="form-control" formControlName="series" id="series" placeholder="输入车系名称">
          <!--车系id-->
          <input type="hidden" formControlName="seriesId" />
        </div>
        <label for="vehicleName" class="col-1 col-form-label"><span class="asterisk mr-1">*</span>车型</label>
        <div class="col-2">
          <!--label="车型" -->
          <input forceRefresh="true" [hqTableTypeahead]="modelTypeaheadSource" [columns]="nameTypeaheadColumns" (onSelect)="onModelSelect($event)"
            type="text" class="form-control" formControlName="vehicleName" id="vehicleName" placeholder="输入车型名称">
          <!--车辆id-->
          <input type="hidden" formControlName="vehicleId" />
        </div>
      </div>
      <hr>
      <div class="form-group row">
        <label for="type" class="col-1 col-form-label"><span class="asterisk mr-1">*</span>维修类型</label>
        <div class="col-2">
          <select label="维修类型" id="type" formControlName="type" class="form-control">
            <option style="display:none">
            <option *ngFor="let type of maintenanceTypeData" value="{{type.id}}">{{type.value}}</option>
          </select>
        </div>
        <label for="expectLeave" class="col-1 col-form-label"><span class="asterisk mr-1">*</span>预计交车时间</label>
        <div class=" col-2">
          <input [close-on-select]="false" label="预计交车时间" class="form-control" type="text" formControlName="expectLeave" ngui-datetime-picker
          />
        </div>
        <label for="contactUser" class="col-1 col-form-label"><span class="asterisk mr-1">*</span>送修人</label>
        <div class="col-2">
          <input type="text" label="送修人" class="form-control" formControlName="contactUser" id="contactUser" placeholder="送修人">
        </div>
        <label for="contactInfo" class="col-1 col-form-label"><span class="asterisk mr-1">*</span>送修人电话</label>
        <div class="col-2">
          <input type="text" label="送修人电话" class="form-control" formControlName="contactInfo" id="contactInfo" placeholder="送修人电话">
        </div>
      </div>
      <div class="form-group row">
        <label for="mileage" class="col-1 col-form-label"><span class="asterisk mr-1">*</span>行驶里程</label>
        <div class="col-2">
          <div class="input-group">
            <input label="行驶里程" type="text" class="form-control" formControlName="mileage" id="mileage">
            <span class="input-group-addon">KM</span>
          </div>
        </div>
        <label for="introducer" class="col-1 col-form-label">介绍人</label>
        <div class="col-2">
          <input type="text" class="form-control" formControlName="introducer" id="introducer" placeholder="介绍人">
        </div>
        <label for="introPhone" class="col-1 col-form-label">介绍人电话</label>
        <div class="col-2">
          <input type="text" class="form-control" formControlName="introPhone" id="introPhone" placeholder="介绍人电话">
        </div>
        <label for="validate" class="col-1 col-form-label">验车日期</label>
        <div class="  col-2">
          <input class="form-control" type="text" formControlName="validate" ngui-datetime-picker date-format="YYYY-MM-DD" date-only="true"
          />
        </div>
      </div>
      <!--<hr>-->
      <div class="form-group row">
        <label for="location" class="col-1">维修工位</label>
        <div class="col-2">
          <input type="text" class="form-control" formControlName="location" id="location">
        </div>
        <label for="nextDate" class="col-1 col-form-label">建议下次保养日期</label>
        <div class="col-2">
          <input class="form-control" type="text" formControlName="nextDate" ngui-datetime-picker date-format="YYYY-MM-DD" date-only="true"
          />
        </div>
        <label for="nextMileage" class="col-1 col-form-label">建议下次保养里程</label>
        <div class="col-2">
          <div class="input-group">
            <input label="建议下次保养里程" type="text" class="form-control" formControlName="nextMileage" id="nextMileage">
            <span class="input-group-addon">KM</span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="createdOnUtc" class="col-1 col-form-label col-form-label">开单时间</label>
        <div class="col-2">
          <input type="text" class="form-control" formControlName="createdOnUtc" id="createdOnUtc">
        </div>
        <label for="createdUserName" class="col-1 col-form-label">服务顾问</label>
        <div class="col-2">
          <input type="text" class="form-control" formControlName="createdUserName" id="createdUserName">
        </div>
        <label for="lastEnter" class="col-1 col-form-label">上次进店时间</label>
        <div class="col-2">
          <input type="text" class="form-control" formControlName="lastEnter" id="lastEnter">
        </div>
        <label for="lastMileage" class="col-1 col-form-label">上次进店里程</label>
        <div class="col-2">
          <input type="text" class="form-control" formControlName="lastMileage" id="lastMileage">
        </div>
      </div>
    </form>
    <hr>
    <tabset>
      <tab heading="维修项目">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>操作</th>
              <th>维修项目名称</th>
              <th>维修工时(小时)</th>
              <th>工时单价(元)</th>
              <th>折扣率(%)</th>
              <th>金额(元)</th>
              <th>操作时间</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of newMaintenanceItemData">
              <td width="40">
                <a href="#" (click)="onMaintenanceItemEdit($event, addModal, item)">编辑</a>
                <a href="#" (click)="$event.preventDefault();onDelMaintenanceItem(item.serviceId)">删除</a>
              </td>
              <td>{{item.serviceName}}</td>
              <td>{{item.workHour}}</td>
              <td>{{item.price}}</td>
              <td>{{item.discount}}</td>
              <td>{{item.amount}}</td>
              <td>{{item.operationTime}}</td>
            </tr>
          </tbody>
        </table>
        <div>
          <button class="btn btn-secondary mr-2" (click)="addModal.show();">新增</button>
        </div>
      </tab>
      <tab heading="上次维修记录">
        <table class="table table-striped table-bordered">
          <caption>维修项目</caption>
          <thead>
            <tr>
              <th>项目名称</th>
              <th>维修工时</th>
              <th>工时单价(元)</th>
              <th>金额(元)</th>
              <th>折扣率</th>
              <th>操作时间</th>
              <th>操作员</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of lastOrderData?.serviceOutputs">
              <td>{{record?.serviceName}}</td>
              <td>{{record?.workHour}}</td>
              <td>{{record?.price|centToYuan}}</td>
              <td>{{record?.amount|centToYuan}}</td>
              <td>{{record?.discount}}</td>
              <td>{{record?.operateDateTime|date:"yyyy/MM/dd HH:mm:ss"}}</td>
              <td>{{user.username}}</td>
            </tr>
          </tbody>
        </table>
        <br>
        <table class="table table-striped table-bordered">
          <caption>维修配件</caption>
          <thead>
            <tr>
              <th>维修工项</th>
              <th>配件名称</th>
              <th>品牌</th>
              <th>规格型号</th>
              <th>数量</th>
              <th>单价(元)</th>
              <th>金额(元)</th>
              <th>操作时间</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of lastOrderData?.productOutputs">
              <td>{{record?.serviceName}}</td>
              <td>{{record?.productName}}</td>
              <td>{{record?.brandName}}</td>
              <td>{{record?.specification}}</td>
              <td>{{record?.count}}</td>
              <td>{{record?.price}}</td>
              <td>{{record?.price * record?.count}}</td>
              <td>{{record?.operateDateTime|date:"yyyy/MM/dd HH:mm:ss"}}</td>
            </tr>
          </tbody>
        </table>
        <br>
        <table class="table table-striped table-bordered">
          <caption>附加项目</caption>
          <thead>
            <tr>
              <th>备注</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of lastOrderData?.attachServiceOutputs">
              <td>{{record?.description}}</td>
            </tr>
          </tbody>
        </table>
        <br>
        <table class="table table-striped table-bordered">
          <caption>建议维修项目</caption>
          <thead>
            <tr>
              <th>建议维修项目</th>
              <th>操作时间</th>
              <th>备注</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of lastOrderData?.suggestServiceOutputs">
              <td>{{record?.content}}</td>
              <td>{{record?.operateDateTime|date:"yyyy/MM/dd HH:mm:ss"}}</td>
              <td>{{record?.description}}</td>
            </tr>
          </tbody>
        </table>
      </tab>
    </tabset>
    <br>
    <!--只有前4个选项卡显示-->
    <div *ngIf="true" class="card">
      <div class="card-header" style="color:gray;padding: 3px 5px;">
        折前费用: 工时费
        <span class="ml-2 mr-2">{{fee.workHour|centToYuan}}</span> | 材料费
        <span class="ml-2 mr-2">{{fee.material|centToYuan}}</span> | 其它
        <span class="ml-2 mr-2">{{fee.other|centToYuan}}</span> | 合计
        <span class="ml-2 mr-2">{{fee.workHour+fee.material+fee.other|centToYuan}}</span>|
      </div>
    </div>
    <br>
    <div class="text-center">
      <input type="text" class="btn textInputBtn" readonly [disabled]="!enableCreateWorkSheet" (click)="createWorkSheet()" value="生成工单">
      <input type="text" class="btn textInputBtn" readonly [disabled]="!enableSuspendWorkSheet" (click)="suspendOrder()" value="挂单">
    </div>
  </div>
  <div bsModal #addModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <!--每次都创建一个新的 为了清空表单-->
    <div *ngIf="addModal.isShown" class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title pull-left">新增维修项目</h6>
          <button type="button" class="close pull-right" (click)="close(addModal)" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <hq-add-maintenance-item [services]="selectedServices" [item]="selectedItem" (onCancel)="close(addModal)" (onConfirm)="onConfirmNewMaintenanceItem($event, addModal)"></hq-add-maintenance-item>
        </div>
      </div>
    </div>
  </div>
  <hq-workorder-detail-print *ngIf="newWorkOrderData" class="invisible" [data]="newWorkOrderData" hqPrint #printer="hq-print"></hq-workorder-detail-print>