/*重写表单下面的label样式*/
.col-form-label {
    padding: 0;
    text-align: right;
}

/*必选项前面的星号样式*/ 
.asterisk {
    color: #a94442;
}

/*mileage unit*/
.mileageUnit {
    background: transparent;
    border:0;
}

/*只读的文本框背景透明*/
input[readonly] {
  background-color:transparent;
}

.textInputBtn {
    border: 1px solid #eed;
}

/*重写ngui-datetimer-picker表单input样式*/
.datetime-picker {
    width: 100%;
    border-radius:0;
}

hr {
    border-top:1px dotted #ccc;
    /*Rest of stuff here*/
}

/*智能表格日期时间类型单元格样式*/
.datetime-editor {
    width: 100%;
    line-height: normal;
    padding: .375rem .75rem;
}


/*重写表格样式*/
.table th, .table td {
    text-align: center;
    vertical-align: middle;
    font-size: small;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.table th {
    background: silver;
}
caption {
    caption-side: top;
}

input.ng-valid[required], input.ng-valid.required  {
  border-left: 5px solid #42A948 !important; /* green */
}
input.ng-touched.ng-invalid  {
  border-left: 5px solid #a94442; /* red */
  border-radius: .2rem
}

