<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    <span>采购入库</span>
    <ng-template hqPurchaseInBill (onRemove)="onSuspendRemove($event)" (onSelect)="onSuspendSelect($event)"></ng-template>
  </div>
  <div class="card-block">
    <form #form="ngForm" class="form-inline mb-2">
      <div class="input-group m-1">
        <span class="input-group-addon">供应商名称</span>
        <div>
          <input hqProviderTypeahead (onSelect)="onProviderSelect($event)" [(ngModel)]="model.custName" name="custName" class="form-control"
            placeholder="请输入供应商名称" required />
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="form.invalid" (click)="createModal.show()" class="btn btn-primary">新增</button>
      </div>
    </form>
    <div class="table-container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>操作</th>
            <th>仓库</th>
            <th>库位</th>
            <th>配件编码</th>
            <th>配件分类</th>
            <th>配件名称</th>
            <th>品牌</th>
            <th>规格型号</th>
            <th>单位</th>
            <th>数量（个）</th>
            <th>含税单价（元）</th>
            <th>含税金额（元）</th>
            <th>不含税单价（元）</th>
            <th>不含税金额（元）</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of model.list;let i=index">
            <td class="text-center"><button (click)="onProductRemove(item)" class="btn btn-sm btn-warning">删除</button></td>
            <td>{{item.storeName}}</td>
            <td>{{item.locationName }}</td>
            <td>{{item.productCode }}</td>
            <td>{{item.productCategory}}</td>
            <td>{{item.productName }}</td>
            <td>{{item.brandName}}</td>
            <td>{{item.productSpecification}}</td>
            <td>{{item.unit }}</td>
            <td class="text-center">{{item.count }}</td>
            <td class="text-right">{{item.price|centToYuan}}</td>
            <td class="text-right">{{item.amount|centToYuan}}</td>
            <td class="text-right">{{item.exTaxPrice|centToYuan }}</td>
            <td class="text-right">{{item.exTaxAmount|centToYuan }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-muted">
    <button [hqSpinner]="generating" [disabled]="form.invalid||!model.valid" class="btn btn-primary" (click)="generate($event)">生成采购入库单</button>
    <button [hqSpinner]="suspendBill.suspending" [disabled]="form.invalid||!model.valid" class="btn btn-success btn-suspend"
      (click)="suspend($event)">挂单</button>
  </div>
</div>

<div class="modal fade" bsModal #createModal="bs-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">新增</h5>
        <button class="close pull-right" (click)="createModal.hide()">&times;</button>
      </div>
      <div class="modal-body" *ngIf="createModal.isShown">
        <hq-procurement-create (formSubmit)="onCreate($event)"></hq-procurement-create>
      </div>
    </div>
  </div>
</div>

<hq-procurement-print class="invisible" hqPrint #printer="hq-print" [model]="printModel"></hq-procurement-print>