nav{
    background-color: rgb(32, 42, 54)!important;
    z-index: 1049;
}
.container-fluid{
    padding-top: 54px;
    height: 100vh;
}

#main-container{
    height: 100%;
}

#content-container{
    overflow: auto;
    padding-top: 10px!important;
    background: #f3f3f4;
}

#menu-container{
    background-color: #2d384b!important;
    overflow: auto;
    padding-top: 10px;
}

.navbar-right{
    width:100%;
    text-align: right;
    color:#fff;
}

.navbar-right a{
    color:#fff;
}

.dropdown-menu{
    margin-top: 19px;
}

.dropdown-menu.bg-inverse .dropdown-item:focus,.dropdown-menu.bg-inverse .dropdown-item:hover{
    color:#000;
}

.cursor-pointer.btn{
    padding-left: 0;
}

.fa.fa-check{
  margin-left: -20px;
}

.btn.dropdown-toggle{
    padding: 8px 2px;
}

#loading{
    padding-top: 100px;
    position: absolute;
    top: 0px;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(45, 56, 75, 0.5);
    color: #fff;
    text-align: center;
    z-index: 999999999;
}