<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <a class="navbar-brand" href="/">
  <img src="http://sinoauto.com/Themes/SinoAutoAdaption/Content/logonew.png" class="d-inline-block align-middle">
  </a>
  <div class="navbar-right">
    <!--<div dropdown class="dropdown d-inline">
      <a dropdownToggle class="btn cursor-pointer">
        <span [hidden]="language" class="fa fa-globe"> language</span>
        <p *ngIf="language" class="d-inline">
          <span class="flag-icon flag-icon-{{language.flag}}"></span> {{language.name}}
        </p>
      </a>
      <div *dropdownMenu class="dropdown-menu dropdown-menu-right bg-inverse">
        <a class="dropdown-item" (click)="onSelectLanguage(item)" *ngFor="let item of languages">
          <i *ngIf="item.checked||item.culture===language?.culture" class="fa fa-check"></i>
          <span class="flag-icon flag-icon-{{item.flag}}"></span> {{item.name}}
        </a>
      </div>
    </div>-->
    <div dropdown class="dropdown d-inline">
      <a dropdownToggle class="btn cursor-pointer">
        <a><i class="fa fa-user-circle"> {{userService?.user?.username}}</i></a>
      </a>
      <div *dropdownMenu class="dropdown-menu dropdown-menu-right bg-inverse">
        <a class="dropdown-item" href="#">设置</a>
        <a class="dropdown-item" routerLink="/auth/change_pwd">修改密码</a>
        <div class="dropdown-divider"></div>
        <a routerLink="/auth/logout" class="dropdown-item"><i class="fa fa-sign-out">退出</i></a>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="menus col-xs-3 col-sm-3 col-md-3 col-lg-2">
      <div class="menu-container">
        <hq-menu *ngIf="menus" [menus]="menus" [root]="true"></hq-menu>
      </div>
    </div>
    <div id="main-container" class="col-xs-9 pt-3 col-sm-9 col-md-9 col-lg-10">
      <router-outlet></router-outlet>
      <div id="loading" [hidden]="!loading" class="jumbotron align-items-center">
        <div class="container" [hqSpinner]="loading">
          Loading...
        </div>
      </div>
    </div>
  </div>
</div>