<div class="order-detail-print-header">
  <p>
    <span class="mr-2 pull-left"><span class="print-label">门店名称：</span>{{organizationInfo?.name}}</span>
    <span class="mr-2 pull-right"><span class="print-label">门店地址：</span>{{organizationInfo?.address}}朝阳半壁店广渠路中汇银高渠中心</span>
    <span class="clearfix"></span>
  </p>
  <p>
    <span class="fixed-width text-left"><span class="print-label">电话：</span>{{organizationInfo?.serviceCall}}0315-1234567</span>
    <span class="fixed-width text-left"><span class="print-label">24小时救援电话：</span>{{organizationInfo?.rescueCall}}0315-1234567</span>
    <span class="fixed-width text-center"><span class="print-label">操作人：</span>{{employeeInfo?.name}}</span>
    <span class="fixed-width text-right"><span class="print-label">打印时间：</span>{{data?.printDateTime}}</span>
  </p>
</div>
<table class="table table-bordered">
  <tr>
    <td rowspan="4" class="td-header"><span class="print-label">托修方</span></td>
    <td class="fixed-width"><span class="print-label">车牌号</span></td>
    <td>{{data?.plateNo}}</td>
    <td class="fixed-width"><span class="print-label">车型</span></td>
    <td>
      <span *ngIf="data?.brand">{{data?.brand}}</span>
      <span *ngIf="data?.series">,{{data?.series}}</span>
      <span *ngIf="data?.vehicleName">,{{data?.vehicleName}}</span>
    </td>
  </tr>
  <tr>
    <td class="fixed-width"><span class="print-label">VIN</span></td>
    <td>{{data?.vin}}</td>
    <td class="fixed-width"><span class="print-label">工单号</span></td>
    <td>{{data?.billCode}}</td>
  </tr>
  <tr>
    <td class="fixed-width"><span class="print-label">送修人</span></td>
    <td>{{data?.contactUser}}</td>
    <td class="fixed-width"><span class="print-label">送修人手机</span></td>
    <td>{{data?.contactInfo}}</td>
  </tr>
  <tr>
    <td class="fixed-width"><span class="print-label">车主</span></td>
    <td>{{data?.customerName}}</td>
    <td class="fixed-width"><span class="print-label">购车日期</span></td>
    <td>{{data?.purchaseDate|sDate}}</td>
  </tr>
  <tr>
    <td class="td-header" rowspan="4"><span class="print-label">承修方</span></td>
    <td class="fixed-width"><span class="print-label">维修类型</span></td>
    <td>{{data?.typeName}}</td>
    <td class="fixed-width"><span class="print-label">服务顾问</span></td>
    <td>{{data?.createdUserName}}</td>
  </tr>
  <tr>
    <td class="fixed-width"><span class="print-label">维修技师</span></td>
    <td>{{data?.employeeNames}}</td>
    <td class="fixed-width"><span class="print-label">预计交车时间</span></td>
    <td>{{data?.expectLeave|sDatetime}}</td>
  </tr>
  <tr>
    <td class="fixed-width"><span class="print-label">进店时间</span></td>
    <td>{{data?.createdOnUtc|sDatetime}}</td>
    <td class="fixed-width"><span class="print-label">进店里程</span></td>
    <td>{{data?.mileage}}<span class="pull-right">KM</span></td>
  </tr>
  <tr>
    <td class="fixed-width"><span class="print-label">出厂时间</span></td>
    <td>{{data?.leaveTime|sDatetime}}</td>
    <td class="fixed-width"><span class="print-label">出厂里程</span></td>
    <td>{{data?.leaveMileage}}<span class="pull-right">KM</span></td>
  </tr>
</table>
<hq-maintenance-item-list [showCaption]="true" [showNo]="true" [showFee]="true" *ngIf="data?.serviceOutputs?.length>0" [serviceOutputs]="data?.serviceOutputs">
</hq-maintenance-item-list>
<hq-maintenance-fixings-list *ngIf="data?.productOutputs?.length>0" [showFee]="true" [showNo]="true" [showCaption]="true"
  [productOutputs]="data?.productOutputs"></hq-maintenance-fixings-list>
<hq-attachment-item-list *ngIf="data?.attachServiceOutputs?.length>0" [showNo]="true" [showCaption]="true" [attachServiceOutputs]="data?.attachServiceOutputs"></hq-attachment-item-list>
<hq-suggested-item-list *ngIf="data?.suggestServiceOutputs?.length>0" [showNo]="true" [showCaption]="true" [suggestServiceOutputs]="data?.suggestServiceOutputs"></hq-suggested-item-list>
<br>
<div>
  <p class="row text-left">
    <span class="ml-2 col-6"><span class="print-label">客户签字：</span></span>
    <span class="col-5"><span class="print-label">日期：</span></span>
  </p>
</div>