<div class="order-detail-print-header">
  <p>
    <span class="mr-2 pull-left"><span class="print-label">门店名称：</span>{{organizationInfo?.name}}</span>
    <span class="mr-2 pull-right"><span class="print-label">门店地址：</span>{{organizationInfo?.address}}</span>
    <span class="clearfix"></span>
  </p>
  <p>
    <span class="mr-2 pull-left"><span class="print-label">电话：</span>{{organizationInfo?.serviceCall}}</span>
    <span class="mr-2 pull-right"><span class="print-label">24小时救援电话：</span>{{organizationInfo?.rescueCall}}</span>
    <span class="clearfix"></span>
  </p>
</div>
<table class="sign-table">
  <tr>
    <td colspan="6" class="print-label sign-title">托修方</td>
  </tr>
  <tr>
    <td class="fixed-width"><span class="print-label">工单号</span></td>
    <td>{{data?.billCode}}</td>
    <td class="fixed-width"><span class="print-label">车主</span></td>
    <td>{{data?.customerName}}</td>
    <td class="fixed-width"><span class="print-label">车牌号</span></td>
    <td>{{data?.plateNo}}</td>
  </tr>
  <tr>
    <td class="fixed-width"><span class="print-label">送修人</span></td>
    <td>{{data?.contactUser}}</td>
    <td class="fixed-width"><span class="print-label">送修人手机</span></td>
    <td>{{data?.contactInfo}}</td>
    <td class="fixed-width"><span class="print-label">购车日期</span></td>
    <td>{{data?.purchaseDate|sDate}}</td>
  </tr>
  <tr>
    <td class="fixed-width"><span class="print-label">VIN</span></td>
    <td>{{data?.vin}}</td>
    <td class="fixed-width"><span class="print-label">车型</span></td>
    <td rowspan="3">
      <span *ngIf="data?.brand">{{data?.brand}}</span>
      <span *ngIf="data?.series">,{{data?.series}}</span>
      <span *ngIf="data?.vehicleName">,{{data?.vehicleName}}</span>
    </td>
  </tr>
</table>
<table class="sign-table">
  <tr>
    <td colspan="6" class="print-label sign-title">承修方</td>
  </tr>
  <tr>
    <td class="fixed-width"><span class="print-label">维修类型</span></td>
    <td>{{data?.typeName}}</td>
    <td class="fixed-width"><span class="print-label">服务顾问</span></td>
    <td>{{data?.createdUserName}}</td>
    <td class="fixed-width"><span class="print-label">维修技师</span></td>
    <td>{{data?.employeeNames}}</td>
  </tr>
  <tr>
    <td class="fixed-width"><span class="print-label">进厂时间</span></td>
    <td>{{data?.createdOnUtc|sDatetime}}</td>
    <td class="fixed-width"><span class="print-label">进厂里程</span></td>
    <td>{{data?.mileage}}KM</td>
    <td class="fixed-width"><span class="print-label">预计交车时间</span></td>
    <td>{{data?.expectLeave|sDatetime}}</td>
  </tr>
  <tr *ngIf="data.leaveTime">
    <td class="fixed-width"><span class="print-label">出厂时间</span></td>
    <td>{{data?.leaveTime|sDatetime}}</td>
    <td class="fixed-width"><span class="print-label">出厂里程</span></td>
    <td colspan="3">{{data?.leaveMileage}}KM</td>
  </tr>
</table>
<hq-maintenance-item-list [showCaption]="true" [showNo]="true" [showFee]="true" *ngIf="data?.serviceOutputs?.length>0" [serviceOutputs]="data?.serviceOutputs">
</hq-maintenance-item-list>
<hq-maintenance-fixings-list *ngIf="data?.productOutputs?.length>0" [showFee]="true" [showNo]="true" [showCaption]="true"
  [productOutputs]="data?.productOutputs"></hq-maintenance-fixings-list>
<hq-attachment-item-list *ngIf="data?.attachServiceOutputs?.length>0" [showNo]="true" [showCaption]="true" [attachServiceOutputs]="data?.attachServiceOutputs"></hq-attachment-item-list>
<hq-suggested-item-list *ngIf="data?.suggestServiceOutputs?.length>0" [showNo]="true" [showCaption]="true" [suggestServiceOutputs]="data?.suggestServiceOutputs"></hq-suggested-item-list>
<table class="table text-font table-bordered">
  <caption>预检信息</caption>
  <tbody>
    <tr>
      <td>预检类型</td>
      <td>{{data?.maintainType || data?.preCheckOrder?.emptyText}}</td>
      <td>油量</td>
      <td *ngIf="data?.innage">{{data?.innage}}<span class="pull-right">%</span></td>
      <td *ngIf="!data?.innage">{{data?.preCheckOrder?.emptyText}}</td>
    </tr>
    <tr>
      <td>故障描述</td>
      <td colspan="3">{{data?.customerDescription || data?.preCheckOrder?.emptyText}}</td>
    </tr>
  </tbody>
</table>
<table class="table text-font table-bordered">
  <caption>检查项</caption>
  <thead>
    <th>项目名称</th>
    <th>检查项（项）</th>
    <th>异常项</th>
    <th>其他备注</th>
  </thead>
  <tbody>
    <tr>
      <td>随车附件</td>
      <td>
        <span class="d-block">检查项： {{data?.preCheckOrder?.accessory.checkItem}}</span>
        <span class="d-block">合格项： {{data?.preCheckOrder?.accessory.qualified}}</span>
        <span class="d-block text-danger">异常项： {{data?.preCheckOrder?.accessory.exception}}</span>
      </td>
      <td *ngIf="data?.preCheckOrder?.accessory.exceptionList&&data?.preCheckOrder?.accessory.exceptionList.length>0">
        <span class="d-block" *ngFor="let item of data?.preCheckOrder?.accessory.exceptionList">
            {{item.content}}
          </span>
      </td>
      <td *ngIf="!data?.preCheckOrder?.accessory.exceptionList || data?.preCheckOrder?.accessory.exceptionList.length<=0">{{data?.preCheckOrder?.emptyText}}</td>
      <td>
        {{data?.preCheckOrder?.accessoryDescription || data?.preCheckOrder?.emptyText}}
      </td>
    </tr>
    <tr>
      <td>仪表盘</td>
      <td>
        <span class="d-block">检查项： {{data?.preCheckOrder?.dashboard.checkItem}}</span>
        <span class="d-block">合格项： {{data?.preCheckOrder?.dashboard.qualified}}</span>
        <span class="d-block text-danger">异常项： {{data?.preCheckOrder?.dashboard.exception}}</span>
      </td>
      <td *ngIf="data?.preCheckOrder?.dashboard.exceptionList&&data?.preCheckOrder?.dashboard.exceptionList.length>0">
        <span class="d-block" *ngFor="let item of data?.preCheckOrder?.dashboard.exceptionList">
            {{item.content}}
          </span>
      </td>
      <td *ngIf="!data?.preCheckOrder?.dashboard.exceptionList||data?.preCheckOrder?.dashboard.exceptionList.length<=0">{{data?.preCheckOrder?.emptyText}}</td>
      <td>
        {{data?.preCheckOrder?.dashboardDescription || data?.preCheckOrder?.emptyText}}
      </td>
    </tr>
  </tbody>
</table>
<div class="mb-3">
  <span class="mr-2"><span class="print-label">操作人：</span>{{employeeInfo?.name}}</span>
  <span class="print-label">打印时间：</span>{{data?.printDateTime}}<span class="mr-2"></span>
  <span class="print-label mr-5">客户签名：</span><span class="mr-5"></span>
  <span class="print-label">日期：</span>
</div>