.distribute .input-left{
    display: inline-block;
    width: 60%;
}
.distribute .input-right{
    display: inline-block;
    width:20%;
}
caption {
    caption-side: top;
    text-align: center;
}
table th,table td{
     text-overflow:ellipsis; 
     white-space:nowrap; 
     overflow:hidden;
}