<ng-template hq-alerter></ng-template>
<div class="distribute card">
  <div class="card-header">
    <span>维修发料</span>
  </div>
  <div class="card-block">
    <form class="form-in input-form">
      <input [hqTableTypeahead]="PlatNoSource" [columns]="typeaheadColumns" (onSelect)="onPlateNoSelect($event)" class="form-control input-left"
        placeholder="请输入车牌号/工单号/车主姓名">
      <span class='button-right'>
          <button class="btn btn-info" type="submit">搜索</button>
        </span>
    </form>
    <table class="table search-table">
      <tr>
        <td>车主:</td>
        <td>{{orderDetail?.customerName}}</td>
        <td>VIN:</td>
        <td>{{orderDetail?.vin}}</td>
        <td>维修类型:</td>
        <td>{{orderDetail?.typeName}}</td>
        <td>开单时间：</td>
        <td>{{orderDetail?.createdOnUtc |date:"yyyy/MM/dd HH:mm:ss"}}</td>
      </tr>
    </table>

    <a href="#" class="btn btn-warning disabled" role="button" aria-disabled="true">维修项目</a>
    <table class="table table-bordered">
      <thead class="thead-default">
        <tr>
          <th translate>序号</th>
          <th translate>维修项目</th>
          <th translate>维修技师</th>
          <th translate>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let item of serviceData;let index=index'>
          <td>{{index+1}}</td>
          <td>{{item.serviceName}}</td>
          <td>{{item.employeeNames}}</td>
          <td><button class="btn btn-info" href="javascript:void(0)" (click)="OnAddNewItem($event,item.id,item.serviceName,item.employeeNames,item.turnEmployeeNames )">发料</button></td>
        </tr>
      </tbody>
    </table>
    <a href="#" class="btn btn-warning disabled" role="button" aria-disabled="true">维修发料</a>
    <table class="table table-bordered">
      <thead class="thead-default">
        <tr>
          <th>流水号</th>
          <th>序号</th>
          <th>维修项目</th>
          <th>品牌</th>
          <th>*配件编码</th>
          <th>*配件名称</th>
          <th>规格型号</th>
          <th>车型</th>
          <th>仓库</th>
          <th>库位</th>
          <th>*数量（个）</th>
          <th>单价（元/个）</th>
          <th>金额（元）</th>
          <th>备注</th>
          <th>领料人</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of newMainData">

          <td>{{item.a}}</td>
          <td>{{item.number}}</td>
          <td>{{item.serviceItem}}</td>
          <td>{{item.brandName}}</td>
          <td>{{item.productCode}}</td>
          <td>{{item.productName}}</td>
          <td>{{item.productSpecification}}</td>
          <td>{{item.vehicleModelName}}</td>
          <td>{{item.storeId}}</td>
          <td>{{item.locationId}}</td>
          <td>{{item.count}}</td>
          <td>{{item.price/100}}</td>
          <td>{{item.amount/100}}</td>
          <td>{{item.description}}</td>
          <td>{{item.createUser}}</td>
          <td width="40">
            <a href="javascript:void(0)" (click)="OnDelItem($event)">删除</a>
          </td>
        </tr>
        <tr *ngIf="addNewItem">
          <td><input placeholder="" readonly type="text" class="form-control form-control2 form-control-sm" [(ngModel)]="newItem.a"
              required></td>
          <td><input placeholder="" readonly type="text" class="form-control form-control2 form-control-sm" [(ngModel)]="newItem.number"
              required></td>
          <td><input placeholder="" readonly type="text" class="form-control form-control2 form-control-sm" [(ngModel)]="newItem.serviceItem"
              required style="width:100px;"></td>
          <td><input placeholder="" readonly type="text" class="form-control form-control2 form-control-sm" [(ngModel)]="newItem.brandName"
              required></td>
          <td><input placeholder="请输入配件编码" type="text" [hqTableTypeahead]="CodeSource" [columns]="CodeColumns" (onSelect)="onCodeSelect($event)"
              class="form-control form-control-sm input-width" [(ngModel)]="newItem.productCode" required></td>
          <td><input placeholder="请输入配件名称" type="text" [hqTableTypeahead]="NameSource" [columns]="NameColumns" (onSelect)="onNameSelect($event)"
              class="form-control form-control-sm input-width" [(ngModel)]="newItem.productName" required></td>
          <td><input placeholder="" readonly type="text" class="form-control form-control2 form-control-sm" [(ngModel)]="newItem.productSpecification"
              required></td>
          <td><input placeholder="" readonly type="text" class="form-control form-control2 form-control-sm" [(ngModel)]="newItem.vehicleModelName"
              required></td>
          <td><input placeholder="" readonly type="text" class="form-control form-control2 form-control-sm" [(ngModel)]="newItem.storeId"
              required></td>
          <td><input placeholder="" readonly type="text" class="form-control form-control2 form-control-sm" [(ngModel)]="newItem.locationId"
              required></td>
          <td><input placeholder="请输入数量 " type="text" class="input-width form-control form-control-sm" [(ngModel)]="newItem.count"
              required></td>
          <td><input placeholder="" readonly type="text" class="form-control form-control2 form-control-sm" [(ngModel)]="newItem.price"
              required></td>
          <td><input placeholder="" readonly type="text" class="form-control form-control2 form-control-sm" [(ngModel)]="newItem.amount"
              required></td>
          <td><input placeholder="请输入备注" type="text" class="input-width form-control form-control-sm" [(ngModel)]="newItem.description"></td>
          <td><input placeholder="" readonly type="text" class="form-control form-control2 form-control-sm" [(ngModel)]="newItem.createUser"
              required></td>
          <td width="75">
            <a href="javascript:void(0)" (click)="OnConfirmItem($event)">确定</a> |
            <a href="javascript:void(0)" (click)="addNewItem = false">取消</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-muted">
    <button class="btn btn-primary" [disabled]="!isableAppend" (click)="OnCreatBill()">生成发料单</button>
    <button class="btn btn-secondary" (click)="finishedOrder($event,  confirmModal)">取消</button>
    <button class="btn btn-success" (click)="suspend()">挂单</button>
    <button class="btn btn-info" [disabled]="!isablePrint" (click)="export()">打印</button>
  </div>

  <!--提示是否确认退出-->
  <div bsModal #confirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title">温馨提示</p>
          <button type="button" class="close pull-right" aria-label="Close" (click)="confirmModal.hide();">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <p>您确定要取消发料吗</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm" data-dismiss="confirmModal" (click)="confirmModal.hide();">取消</button>
          <button type="button" class="btn btn-sm" data-dismiss="modal" (click)="onConfirmFinished(confirmModal);">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>