<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    车主信息
  </div>
  <div class="card-block">
    <form (ngSubmit)="onLoadList()">
      <div class="form-group row">
        <div class="hq-input">
          <label for="name" class="form-label">车主</label>
          <div class="hq-col">
            <input maxlength="15" type="text" [(ngModel)]="params.name" class="form-control" name="name" id="name" placeholder="车主">
          </div>
        </div>
        <div class="hq-input">
          <label for="plateNo" class="form-label">车牌号</label>
          <div class="hq-col">
            <input maxlength="12" type="text" [(ngModel)]="params.plateNo" class="form-control" name="plateNo" id="plateNo" placeholder="车牌号">
          </div>
        </div>
        <div class="hq-input">
          <label for="phone" class="form-label">车主电话</label>
          <div class="hq-col">
            <input maxlength="11" type="text" [(ngModel)]="params.phone" class="form-control" name="plateNo" id="phone" placeholder="车主电话">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="hq-input">
          <label for="createdStartDate" class="form-label">建档日期</label>
          <div class="hq-col">
            <input readonly [max-date]="maxCreatedStartDate" [(ngModel)]="params.createdStartDate" class="form-control" type="text" name="createdStartDate"
              ngui-datetime-picker date-only="true" />
          </div>
        </div>
        <div class="hq-input">
          <label class="form-label">至</label>
          <div class="hq-col">
            <input readonly [min-date]="minCreatedEndDate" [max-date]="maxCreatedEndDate" [(ngModel)]="params.createdEndDate" class="form-control"
              type="text" name="createdEndDate" ngui-datetime-picker date-only="true" />
          </div>
        </div>
        <div class="hq-input">
          <div class="hq-col">
            <button type="submit" class="btn btn-primary">查询</button>
            <button type="reset" class="btn btn-warning">清空</button>
          </div>
        </div>
      </div>
    </form>
    <hr>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>操作</th>
          <th>建档日期</th>
          <th>车主</th>
          <th>手机号</th>
          <th>首次进店时间</th>
          <th>末次进店时间</th>
          <th>创建人</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td width="75">
            <button [routerLink]="['edit', item.id]" type="button" class="btn btn-sm btn-success">编辑</button>
            <button [hqSpinner]="item.detailGenerating" type="button" class="btn btn-sm btn-info" [disabled]="item.detailGenerating"
              (click)="customerDetail(item, detailLgModal)">详情</button>
            <!--<button [hqSpinner]="item.deleteGenerating" type="button" class="btn btn-sm btn-danger" [disabled]="item.deleteGenerating"
              (click)="customerDel(item)">删除</button>-->
          </td>
          <td>{{item.createdOnUtc|sDate}}</td>
          <td>{{item.name}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.firstEnter|sDatetime}}</td>
          <td>{{item.lastEnter|sDatetime}}</td>
          <td>{{item.createdUserName}}</td>
        </tr>
      </tbody>
    </table>
    <div style="margin-bottom:10px;">
      <button type="button" class="btn btn-primary" [routerLink]="['add']">新增</button>
      <button [hqSpinner]="generating" type="button" class="btn btn-secondary mr-2" (click)="export()">导出</button>
    </div>
    <br>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" (pageChanged)="onPageChanged($event)"></hq-pagination>
  </div>
</div>

<!--车主信息详情-->
<div bsModal #detailLgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title pull-left">车主信息详情</h6>
        <button type="button" class="close pull-right" (click)="detailLgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <hq-car-owner-detail [data]="selectedCustomer"></hq-car-owner-detail>
      </div>
    </div>
  </div>
</div>