.card{
    padding: 20px 40px;
    background:rgba(255, 255, 255, 0.8)!important;
}
.card-block,.card-header{
    background: none;
}
.btn-login{
    background-color: #ed1b23;
    color: #fff;
}
.input-group-addon{
    color:#fff;
    background-color: #666;
}
.input-group-addon{
    border-color:#727171;
}
input.form-control{
    border:1px solid rgba(192, 196, 199, 0.77);
    background: #fff;
}
.input-group-addon.ng-untouched.ng-pristine{
    border-right: 1px solid #666;
}
.form-control{
    height: 40px;
}
.form-control:focus{
    border-color: rgba(121, 123, 125, 0.77) !important;
}
.change-right{
    position: absolute;
    right: 21px;
    top:12px;
    font-weight: 400;
    font-size: 1rem;
    color: #666;
    transition: .2s;
}
