<div class="append card">
  <div class="card-header">
    <span>增项</span>
  </div>
  <div class='card-block'>
    <!--搜索 start-->
    <form _ngcontent-c5="" class="form-inline mb-2 ng-pristine ng-valid ng-touched assign-form" novalidate="">
      <input _ngcontent-c5="" class="form-control mb-2 mr-2 ng-pristine ng-valid ng-touched" name="title" placeholder="请输入车牌号/工单号"
        type="text" ng-reflect-name="title">
      <button _ngcontent-c5="" class="btn btn-primary mb-2 mr-2" translate="" type="submit" ng-reflect-translate="">搜索</button>
    </form>
    <!--搜索 end-->
     <div _ngcontent-c4="" class="form-group row">
        <label _ngcontent-c4="" class="col-sm-1 col-form-label col-form-label-sm input-padd" for="carNo">*车牌号:</label>
        <div _ngcontent-c4="" >
          <input _ngcontent-c4="" class="form-control form-control-sm" id="carNo" placeholder="车牌号" type="text">
        </div>
        <label _ngcontent-c4="" class="col-sm-1 col-form-label col-form-label-sm input-padd" for="carOwner">*车主:</label>
        <div _ngcontent-c4="" >
          <input _ngcontent-c4="" class="form-control form-control-sm" id="carOwner" placeholder="车主" type="text">
        </div>
        <label _ngcontent-c4="" class="col-sm-1 col-form-label col-form-label-sm input-padd" for="carOwnerPhone">*车主电话:</label>
        <div _ngcontent-c4="" >
          <input _ngcontent-c4="" class="form-control form-control-sm" id="carOwnerPhone" placeholder="车主电话" type="tel">
        </div>
    </div>
    <hr>
      <div _ngcontent-c4="" class="form-group row">
        <label _ngcontent-c4="" class="col-sm-1 col-form-label col-form-label-sm input-padd" for="carTime">开单时间:</label>
        <div _ngcontent-c4="">
          <input _ngcontent-c4="" class="form-control form-control-sm" id="carTime" placeholder="开单时间" type="text">
        </div>
        <label _ngcontent-c4="" class="col-sm-1 col-form-label col-form-label-sm input-padd" for="carToPerson">*送修人:</label>
        <div _ngcontent-c4="">
          <input _ngcontent-c4="" class="form-control form-control-sm" id="carToPerson" placeholder="送修人" type="text">
        </div>
        <label _ngcontent-c4="" class="col-sm-1 col-form-label col-form-label-sm input-padd" for="carPersonPhone">*送修人电话:</label>
        <div _ngcontent-c4="">
          <input _ngcontent-c4="" class="form-control form-control-sm" id="carPersonPhone" placeholder="送修人电话" type="tel">
        </div>
      </div>
      <div _ngcontent-c4="" class="form-group row">
          <label _ngcontent-c4="" class="col-sm-1 col-form-label col-form-label-sm input-padd" for="carService">服务顾问:</label>
        <div _ngcontent-c4="" >
          <input _ngcontent-c4="" class="form-control form-control-sm" id="carService" placeholder="服务顾问" type="text">
        </div>
        <label _ngcontent-c4="" class="col-sm-1 col-form-label col-form-label-sm input-padd" for="carBrand">品牌:</label>
        <div _ngcontent-c4="" >
          <input _ngcontent-c4="" class="form-control form-control-sm" id="carBrand" placeholder="品牌" type="text">
        </div>
        <label _ngcontent-c4="" class="col-sm-1 col-form-label col-form-label-sm input-padd" for="carSeries">车系:</label>
        <div _ngcontent-c4="" >
          <input _ngcontent-c4="" class="form-control form-control-sm" id="carSeries" placeholder="车系" type="text">
        </div>
    </div>
 <div _ngcontent-c4="" class="form-group row">
          <label _ngcontent-c4="" class="col-sm-1 col-form-label col-form-label-sm input-padd" for="carSize">车型:</label>
        <div _ngcontent-c4="" >
          <input _ngcontent-c4="" class="form-control form-control-sm" id="carSize" placeholder="车型" type="text">
        </div>
        <label _ngcontent-c4="" class="col-sm-1 col-form-label col-form-label-sm input-padd" for="carVIN">*VIN码:</label>
        <div _ngcontent-c4="" >
          <input _ngcontent-c4="" class="form-control form-control-sm" id="carVIN" placeholder="VIN码" type="text">
        </div>
        <label _ngcontent-c4="" class="col-sm-1 col-form-label col-form-label-sm input-padd" for="carCheckTime">验车时间:</label>
        <div _ngcontent-c4="" class="input-group input-group-sm col-sm-3">
          <input _ngcontent-c4="" class="form-control form-control-sm" id="carCheckTime" placeholder="验车时间" type="text">
       <span _ngcontent-c4="" class="input-group-addon">
                <i _ngcontent-c4="" aria-hidden="true" class="fa fa-calendar"></i>
              </span>
        </div>
    </div>
<hr>
 <div _ngcontent-c4="" class="form-group row">
          <label _ngcontent-c4="" class="col-sm-1 col-form-label col-form-label-sm input-padd" for="carFixType">*维修类型:</label>
        <div _ngcontent-c4="" >
          <input _ngcontent-c4="" class="form-control form-control-sm" id="carFixType" placeholder="维修类型" type="text">
        </div>
        <label _ngcontent-c4="" class="col-sm-1 col-form-label col-form-label-sm input-padd" for="carGetTime">*交车时间:</label>
      <div _ngcontent-c4="" class="input-group input-group-sm col-sm-3">
          <input _ngcontent-c4="" class="form-control form-control-sm" id="carGetTime" placeholder="交车时间" type="text">
       <span _ngcontent-c4="" class="input-group-addon">
                <i _ngcontent-c4="" aria-hidden="true" class="fa fa-calendar"></i>
              </span>
        </div>
        <label _ngcontent-c4="" class="col-sm-1 col-form-label col-form-label-sm input-padd" for="carTravelKM">行驶里程(KM)):</label>
        <div _ngcontent-c4="" >
          <input _ngcontent-c4="" class="form-control form-control-sm" id="carTravelKM" placeholder="行驶里程" type="tel">
        </div>
    </div>
 <div _ngcontent-c4="" class="form-group row">
          <label _ngcontent-c4="" class="col-sm-1 col-form-label col-form-label-sm input-padd" for="carLastTime">上次进店时间:</label>
        <div _ngcontent-c4="" >
          <input _ngcontent-c4="" class="form-control form-control-sm" id="carLastTime" placeholder="上次进店时间" type="text">
       <span _ngcontent-c4="" class="input-group-addon">
                <i _ngcontent-c4="" aria-hidden="true" class="fa fa-calendar"></i>
              </span>
        </div>
        <label _ngcontent-c4="" class="col-sm-1 col-form-label col-form-label-sm input-padd" for="carFixNum">维修工位:</label>
        <div _ngcontent-c4="" >
          <input _ngcontent-c4="" class="form-control form-control-sm" id="carFixNum" placeholder="维修工位" type="text">
        </div>
        <label _ngcontent-c4="" class="col-sm-1 col-form-label col-form-label-sm input-padd" for="carNextTime">建议下次保养日期:</label>
        <div _ngcontent-c4="" >
          <input _ngcontent-c4="" class="form-control form-control-sm" id="carNextTime" placeholder="建议下次保养日期" type="text">
        <span _ngcontent-c4="" class="input-group-addon">
                <i _ngcontent-c4="" aria-hidden="true" class="fa fa-calendar"></i>
              </span>
        </div>

 </div>
  <div _ngcontent-c4="" class="form-group row">
               <label _ngcontent-c4="" class="col-sm-1 col-form-label col-form-label-sm input-padd" for="carNextKM">建议下次保养里程:</label>
        <div _ngcontent-c4="" >
          <input _ngcontent-c4="" class="form-control form-control-sm" id="carNextKM" placeholder="建议下次保养里程" type="text">
        </div>
               <label _ngcontent-c4="" class="col-sm-1 col-form-label col-form-label-sm input-padd" for="carLastKM">上次进店里程:</label>
        <div _ngcontent-c4="" >
          <input _ngcontent-c4="" class="form-control form-control-sm" id="carLastKM" placeholder="上次进店里程" type="text">
        </div>
    </div>

    <hr>

    <div class="  alert-dismissible fade show">
 <!--tab头部切换 start-->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home" role="tab">维修项目</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">维修配件</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#messages" role="tab">附加项目</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#settings" role="tab">建议维修项</a>
      </li>
    </ul>
 <!--tab头部切换 end-->
 <!--tab内容切换 start-->
    <div class="tab-content">
      <!--维修项目-->
  <div class="tab-pane active" id="home" role="tabpanel">
     <table class="table table-bordered table-sm table-striped">
        <thead>
          <tr>
            <th>操作</th>
            <th>项目名称 </th>
            <th>维修工时</th>
            <th>工时单价</th>
            <th>金额</th>
            <th>折扣率</th>
            <th>操作时间</th>
            <th>操作员</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span class='assign-detail' (click)="OnClickPerson()">指派</span></td>
            <td>项目名称1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
            </td>
          </tr>
          <tr>
            <td><span class='assign-detail' (click)="OnClickPerson()">指派</span></td>
            <td>项目名称2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
            </td>
          </tr>
          <tr>
            <td><span class='assign-detail' (click)="OnClickPerson()">指派</span></td>
            <td>项目名称3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  <!--维修配件-->
  <div class="tab-pane" id="profile" role="tabpanel">
     <table class="table table-bordered table-sm table-striped">
        <thead>
          <tr>
            <th>维修工项</th>
            <th>附加项目</th>
            <th>建议维修项</th>
            <th>历史维修记录</th>
            <th>客户回访记录</th>
          
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>维修工项1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
          </tr>
          <tr>
            <td>维修工项2</td>
            <td></td>
            <td></td>
            <td></td>
            <td>
            </td>
          </tr>
          <tr>
           
            <td>维修工项3</td>
            <td></td>
            <td></td>
            <td></td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
 
  </div>
  <!--附加项目-->
  <div class="tab-pane" id="messages" role="tabpanel">
       <table class="table table-bordered table-sm table-striped">
        <thead>
          <tr>
            <th>项目名称</th>
            <th>数量</th>
            <th>单价</th>
            <th>金额</th>
            <th>备注</th>
          
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>项目名称1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
          </tr>
          <tr>
            <td>项目名称2</td>
            <td></td>
            <td></td>
            <td></td>
            <td>
            </td>
          </tr>
          <tr>
           
            <td>项目名称3</td>
            <td></td>
            <td></td>
            <td></td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  <!--建议维修项-->
  <div class="tab-pane" id="settings" role="tabpanel">
      <table class="table table-bordered table-sm table-striped">
        <thead>
          <tr>
            <th>建议维修项目</th>
            <th>是否修理</th>
            <th>操作时间</th>
            <th>操作员</th>
            <th>备注</th>
          
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>建议维修项目1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
          </tr>
          <tr>
            <td>建议维修项目2</td>
            <td></td>
            <td></td>
            <td></td>
            <td>
            </td>
          </tr>
          <tr>
           
            <td>建议维修项目3</td>
            <td></td>
            <td></td>
            <td></td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<!--tab内容切换 end-->
</div>

  </div>