<ng-template hq-alerter></ng-template>
<div class="card">
  <!--<div class="card-header">
    创建盘点清单
  </div>-->
  <div class="card-block">
    <form class="form-inline mb-2" (ngSubmit)="onLoadList()">
      <div class="input-group m-1">
        <span class="input-group-addon">仓库</span>
        <select (change)="onSelectHouse($event)" class="form-control" name="storeId" [(ngModel)]="params.storeId">
          <option *ngFor="let item of houses" value="{{item.value}}">{{item.text}}</option>
        </select>
      </div>
      <div class="input-group m-1">
        <button type="submit" class="btn btn-primary">查询</button>
      </div>
    </form>
    <div class="table-container">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>仓库</th>
            <th>库位</th>
            <th>配件编码</th>
            <th>配件类型</th>
            <th>配件名称</th>
            <th>品牌</th>
            <th>规格型号</th>
            <th>单位</th>
            <th>成本</th>
            <th>库存量</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td>{{ item.houseName}}</td>
            <td>{{ item.locationName}}</td>
            <td>{{ item.productCode }}</td>
            <td>{{ item.categoryName }}</td>
            <td>{{ item.productName }}</td>
            <td>{{ item.productBrand }}</td>
            <td>{{ item.productSpecification }}</td>
            <td class="text-center">{{item.unit }}</td>
            <td class="text-right">{{item.price|centToYuan }}</td>
            <td class="text-center">{{item.stock}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" [(itemsPerPage)]="size" (pageChanged)="onPageChanged($event)"></hq-pagination>
  </div>
  <div class="card-footer text-muted">
    <button class="btn btn-primary" [disabled]="!params?.storeId" (click)="generate($event)">生成盘点清单</button>
    <button class="btn btn-secondary" (click)="cancel()">取消</button>
  </div>
</div>