.checked {
    background: #f7ecd7;
}
.serach-input{
    width: 60%;
    margin-bottom: 1rem;
}
.form-label{
  min-width: 6.25rem;
  padding: 0 0.625rem;
  line-height: 2.5rem;
  height: 2.5rem;
  background:#f3f3f4;
  color: #727171;
  font-size: 0.875rem;
}
label {
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #727171;
}