<div class="print card">
  <div class='card-block'>
    <div *ngFor="let item of data">
      <div class="col-12">发料单号：{{item.billCode}} &nbsp; &nbsp; &nbsp; &nbsp;流水号：{{item.serialNum}} &nbsp; &nbsp; &nbsp; &nbsp;车牌号：{{item.plateNo}}
        &nbsp; &nbsp; &nbsp; &nbsp;开单时间：{{item.createBillDateTime|sDatetime}}</div>
      <table class="table   table-borderd">
        <thead>
          <tr>
            <th>维修项目</th>
            <th>配件编码</th>
            <th>配件类型</th>
            <th>配件名称</th>
            <th>品牌</th>
            <th>规格型号</th>
            <th>单位</th>
            <th>仓库</th>
            <th>库位</th>
            <th>单价</th>
            <th>数量</th>
            <th>金额(元)</th>
            <th>备注</th>
            <th>领料人</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ele of item.list">
            <td>{{ele.serviceItem}}</td>
            <td>{{ele.productCode}}</td>
            <td>{{ele.productCategory}}</td>
            <td>{{ele.productName}}</td>
            <th>{{ele.brand}}</th>
            <td>{{ele.productSpecification}}</td>
            <td>{{ele.unit}}</td>
            <td>{{ele.storeName}}</td>
            <td>{{ele.locationName}}</td>
            <td>{{ele.price |centToYuan}}</td>
            <td>{{ele.count}}</td>
            <td>{{ele.amount|centToYuan}}</td>
            <td>{{ele.description}}</td>
            <td>{{ele.employee}}</td>
          </tr>
        </tbody>
      </table>
      <div class="container">
        <p>
          <span class="mr-2 pull-left">打印时间：{{item.printDateTime|sDatetime}}</span>
          <span class="mr-2 pull-right">操作人：{{item.operator}}</span>
          </p>
      </div>
      <br>
      <div class="print-hidden page-break-after"></div>
    </div>
  </div>

</div>