<!--<ng-template hq-alerter></ng-template>-->
<div class="card">
  <div class="card-header">
    用户管理
  </div>
  <div class="card-block">
    <form [formGroup]="userSearch" (ngSubmit)="getPageList()">
     <div class="input-group col-8 offset-2">
        <input style="border-radius: 5px;" [(ngModel)]="params.keyWord" formControlName="keyword"  placeholder="请输入姓名/手机号" class="form-control mr-3">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="submit">搜索</button>
        </span>
      </div>
    </form>
    <hr>
    <table class="table table-hover table-bordered table-sm">
      <thead>
        <tr>
          <th>姓名</th>
          <th>角色</th>
          <th>职位</th>
          <th>所属部门</th>
          <th>手机号</th>
          <th>创建时间</th>
          <th>备注</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody *ngIf="listUserModels">
        <tr *ngFor="let item of listUserModels">
          <td [id]="item.id">{{item.name}}</td>
          <td>{{item.userRoleName}}</td>
          <td>{{item.positionName}}</td>
          <td>{{item.partName}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.createTime|date:"yyyy/MM/dd HH:mm:ss"}}</td>
          <td>{{item.description}}</td>
          <td style="text-align:center">
            <button [(disabled)]="!item.enabled" href="javascript:void" (click)="openEditorUser(newmodal,item)">编辑</button>&nbsp;&nbsp;&nbsp;
            <button [(disabled)]="!item.enabled" href="javascript:void" (click)="ResetPassWord(item)">重置密码</button>&nbsp;&nbsp;&nbsp;
            <button  href="javascript:void" (click)="EnabledUser(item)">{{ item.enabled?"冻结":"解冻" }}</button>
          </td>
        </tr>
      </tbody>
    </table>
     <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" (pageChanged)="onPageChanged($event)"></hq-pagination>
  </div>
  <div class="text-center" style="margin-bottom: 10px;">
    <button (click)="openCreateUser(newmodal)">新增用户</button>
  </div>
</div>

<div bsModal #newmodal="bs-modal" class="modal" tabindex="1" role="dialog"
  aria-labelledby="modallable" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5>{{ isCreateOrEdit?"新增用户":"编辑用户"}}</h5>
        <button type="button" class="close pull-right"  aria-label="Close" (click)="newmodal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    <form [formGroup]="createUserModel" (ngSubmit)="createOrUpdateUser(newmodal)">
      <div class="modal-body" style='overflow: scroll;'>
         
              <div class="form-group col-sm-2">
                <em>*</em><label>手机号：</label>
                <input type="txt" [(ngModel)]="userModel.phone" formControlName="Phone"/>
              </div>
              <div class="form-group col-sm-2">
                <em>*</em><label>姓名：</label>
                <input type="txt" [(ngModel)]="userModel.name" formControlName="UserName"/>
              </div>
              <div class="form-group col-sm-2">
                <em>*</em><label>角色：</label>
                <ngx-dropdown-treeview class="sm"
                    [items]="roleItem.items"
                    [config]="roleItem.config"
                    (selectedChange)="onSelectedCahngeForRoleItem($event)">
                </ngx-dropdown-treeview>
              </div>
              <div class="form-group col-sm-2">
                 <em>*</em><label>职位：</label>
                 <ngx-dropdown-treeview class="sm"
                   [items]="position.items"
                   [config]="position.config"
                   (selectedChange)="onSelectedChangeForPosition($event)"
                 >
                 </ngx-dropdown-treeview>
              </div>
              <div class="form-group col-sm-2" *ngIf="!isCreateOrEdit">
                创建时间：
                <label  *ngIf="userModel.createTime">{{userModel.createTime |date:"yyyy/MM/dd HH:mm:ss"}}</label>
              </div>
              <div class="form-group col-sm-2">
                <label>备注：</label>
                <input type="txt" [(ngModel)]="userModel.description" formControlName="Remark"/>
              </div>
          
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">确定</button>
      </div>
    </form>
    </div>
  </div>
</div>