<!--<ng-template hq-alerter></ng-template>-->
<div class="card">
  <div class="card-header">
    用户管理
  </div>
  <div class="card-block">
    <form [formGroup]="userSearch" (ngSubmit)="getPageList()">
      <div class="input-group col-8 offset-2">
        <input style="border-radius: 5px;" [(ngModel)]="params.keyWord" formControlName="keyword" placeholder="请输入姓名/手机号" class="form-control mr-3">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">搜索</button>
        </span>
      </div>
    </form>
    <hr>
    <table class="table table-responsive table-striped table-bordered">
      <thead>
        <tr>
          <th>姓名</th>
          <th>角色</th>
          <th>职位</th>
          <th>所属部门</th>
          <th>手机号</th>
          <th>创建时间</th>
          <th>备注</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody *ngIf="listUserModels">
        <tr *ngFor="let item of listUserModels">
          <td [id]="item.id">{{item.name}}</td>
          <td>{{item.userRoleName}}</td>
          <td>{{item.positionName}}</td>
          <td>{{item.partName}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.createTime|date:"yyyy/MM/dd HH:mm:ss"}}</td>
          <td>{{item.description}}</td>
          <td style="text-align:center">
            <a [class]="item.enabled?'':'text-muted'" href="javascript:void" (click)="openEditorUser(newmodal,item)">编辑</a>&nbsp;&nbsp;&nbsp;
            <a [class]="item.enabled?'':'text-muted'" href="javascript:void" (click)="ResetPassWord(item)">重置密码</a>&nbsp;&nbsp;&nbsp;
            <a href="javascript:void" (click)="EnabledUser(item)">{{ item.enabled?"冻结":"解冻" }}</a>
          </td>
        </tr>
      </tbody>
    </table>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" (pageChanged)="onPageChanged($event)"></hq-pagination>
  </div>
  <div class="text-center" style="margin-bottom: 10px;">
    <button (click)="openCreateUser(newmodal)" class="btn btn-primary">新增用户</button>
  </div>
</div>

<div bsModal #newmodal="bs-modal" class="modal" tabindex="1" role="dialog" aria-labelledby="modallable" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5>{{ isCreateOrEdit?"新增用户":"编辑用户"}}</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="newmodal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="createUserModel" (ngSubmit)="createOrUpdateUser(newmodal)">
        <div class="modal-body">
          <div class="container">
            <div class="col-6">
              <div class="form-group">
                <em>*</em><label class="form-control-label">手机号：</label>
                <div>
                  <input type="text" hqError="手机号" [(ngModel)]="userModel.phone" formControlName="Phone" />
                </div>
              </div>

              <div class="form-group" *ngIf="isCreateOrEdit">
                <em>*</em><label class="form-control-label">密码：</label>
                <div>
                  <input hqError="密码" type="text" [(ngModel)]="userModel.passWord" formControlName="PassWord">
                </div>
                <!--<small [hidden]="createUserModel.controls.PassWord.valid"> required pattern="^[0-9A-Za-z]{6,20}$"
                    提示：请输入密码只能是数字或字母最少6位
                 </small>-->
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <em>*</em><label class="form-control-label">姓名：</label>
                <div>
                  <input type="text" hqError="姓名" [(ngModel)]="userModel.name" formControlName="UserName" />
                </div>
              </div>
              <div class="form-group">
                <em>*</em><label class="form-control-label">角色：</label>
                <div>
                  <ngx-dropdown-treeview [items]="roleItem.items" [config]="roleItem.config" (selectedChange)="onSelectedCahngeForRoleItem($event)">
                  </ngx-dropdown-treeview>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <em>*</em><label class="form-control-label">职位：</label>
                <div>
                  <ngx-dropdown-treeview [items]="position.items" [config]="position.config" (selectedChange)="onSelectedChangeForPosition($event)">
                  </ngx-dropdown-treeview>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group" *ngIf="!isCreateOrEdit">
                <label class="form-control-label"> 创建时间：</label>
                <div>
                  <label class="form-control-label">{{userModel.createTime |date:"yyyy/MM/dd HH:mm:ss"}}</label>
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label">备注：</label>
                <div>
                  <input type="text" [(ngModel)]="userModel.description" formControlName="Remark" />
                </div>
              </div>
            </div>

            <div class="offset-6">
              <button type="submit" class="btn btn-primary" [disabled]="!createUserModel.valid" >确定</button>
          </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>