.popover-content{
    padding: 10px 0px 0px 20px;
    min-width: 200px;
}
.popover-content .form-check-options {
    overflow:auto;
    max-height:300px;
}

.form-check{
    display: table;
}

.btn-sm {
    padding: 5px 10px;
}