<ng-template hq-alerter></ng-template>
<div class="card">
  <form *ngIf="form" class="card-block row" [formGroup]="form" (ngSubmit)="onUpdate()">
    <div class="col-6">
      <div class="form-group">
        <label class="form-control-label hq-required">仓库：</label>
        <select label="仓库" (change)="onStorageChange($event)" formControlName="storeId" class="form-control">
          <option *ngFor="let item of warehouses" value="{{item.value}}">{{item.text}}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label hq-required">配件编码：</label>
        <input type="text" class="form-control" [attr.disabled]="editable" formControlName="code">
      </div>
      <div class="form-group">
        <label class="form-control-label hq-required">配件分类：</label>
        <input label="配件分类：" [attr.disabled]='editable' (input)="onCategoryChange($event)" hqProductCategoryTypeahead (onSelect)="onCategorySelect($event)"
          formControlName="categoryName" class="form-control" placeholder="请输入配件分类">
        <input label="配件分类" formControlName="categoryId" [errors]="{required:'请选择一个有效的分类'}" type="hidden">
      </div>
      <div class="form-group">
        <label class="form-control-label hq-required">配件名称：</label>
        <input type="text" class="form-control" [attr.disabled]="editable" formControlName="name">
      </div>
      <div class="form-group">
        <label class="form-control-label hq-required">品牌：</label>
        <input label="品牌" [attr.disabled]='editable' (input)="onBrandChange($event)" hqProductBrandTypeahead (onSelect)="onBrandSelect($event)"
          formControlName="brandName" class="form-control" placeholder="请输入品牌">
      </div>
      <div class="form-group">
        <label class="form-control-label hq-required">规格型号：</label>
        <input [attr.disabled]='editable' formControlName="productSpecification" class="form-control" placeholder="请输入规格型号">
      </div>
      <div class="form-group">
        <label class="form-control-label hq-required">单位：</label>
        <select label="单位" [attr.disabled]="editable" formControlName="unit" class="form-control">
          <option *ngFor="let item of units" value="{{item.value}}">{{item.text}}</option>
        </select>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="form-control-label">库位：</label>
        <input type="text" [params]="typeaheadParams" (input)="onLocationChange($event)" (onSelect)="onLocationSelect($event)" [hqStorageLocationTypeahead]="'name'"
          formControlName="locationName" class="form-control" placeholder="请输入库位">
      </div>
      <div class="form-group">
        <label class="form-control-label">最大库存：</label>
        <input type="number" formControlName="maxCount" class="form-control" placeholder="请输入最大库存">
      </div>
      <div class="form-group">
        <label class="form-control-label">最小库存：</label>
        <input type="number" formControlName="minCount" class="form-control" placeholder="请输入最小库存">
      </div>
      <div class="form-group">
        <label class="form-control-label">产地：</label>
        <input label='产地' [attr.disabled]='editable' formControlName="madeIn" class="form-control" placeholder="请输入产地">
      </div>
      <div class="form-group">
        <label class="form-control-label">包装规格：</label>
        <input label='备注' [attr.disabled]='editable' formControlName="packageInfo" class="form-control" placeholder="请输入包装规格">
      </div>
      <div class="form-group">
        <label class="form-control-label">备注：</label>
        <input type="text" formControlName="description" class="form-control" placeholder="请输入备注">
      </div>
      <div class="form-group">
        <label class="form-control-label">适用车型：</label>
        <div [hidden]="owned">
          <input type="text" hqVehicleTypeahead [checkStrategy]="vehicleCheckStrategy" (onSelect)="onVehicleSelect($event)" class="form-control"
            placeholder="请输入车型">
        </div>
      </div>
    </div>
    <div id="vehicle-container" [hidden]="!vehicles||!vehicles.length" class="col-12 mb-2">
      <div *ngFor="let item of vehicles" class="pull-right btn btn-secondary btn-sm mr-1 mb-1">
        <span>{{item.brandName}} {{item.seriesName}} {{item.name}}</span>
        <i [hidden]="owned" class="cursor-pointer fa fa-times" (click)="onVehicleRemove(item)"></i>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" [disabled]="submitting" class="btn btn-primary mr-3">提交</button>
      <button type="button" (click)="onReset()" class="invisible btn btn-secondary mr-3">重置</button>
    </div>
  </form>
</div>