<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    维修验收
  </div>
  <div class='card-block'>
    <form [formGroup]="checkOrderForm" (ngSubmit)="onSearch()">
      <div class="input-group col-8 offset-2">
        <input style="border-radius: 5px;" [(ngModel)]="params.keyword" formControlName="keyword" placeholder="请输入车牌号/工单号" class="form-control mr-3">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="submit">搜索</button>
        </span>
      </div>
      <hr>
      <div class="form-group">
        <div class="form-check form-check-inline" *ngFor="let type of maintenanceCheckTypes">
          <label class="form-check-label">
            <input class="form-check-input" (change)='type.checked = !type.checked' [checked]="type.checked"  type="checkbox" value="{{type.id}}"> {{type.value}}
          </label>
        </div>
      </div>
    </form>
    <hr>
    <table class="table table-hover table-bordered table-sm">
      <thead>
        <tr>
          <th>操作</th>
          <th>状态</th>
          <th>维修技师</th>
          <th>转派</th>
          <th>维修类型</th>
          <th>工单号</th>
          <th>进店时间</th>
          <th>预计交车时间</th>
          <th>超时</th>
          <th>服务顾问</th>
          <th>品牌</th>
          <th>车型</th>
          <th>车牌号</th>
          <th>行驶里程</th>
          <th>购车时间</th>
          <th>车主</th>
          <th>送修人</th>
          <th>电话</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td width="40">
            <a href="#" (click)="orderDetailsHandler($event, item.id, lgModal)">详情</a>
          </td>
          <td>{{item.statusName}}</td>
          <td>{{item.employees}}</td>
          <!-- 指派的人或者最后更改人 -->
          <td>转派的人</td>
          <!-- 转派的人-->
          <td>{{item.typeName}}</td>
          <td>{{item.billCode}}</td>
          <td>{{item.createdOnUtc|date:"yyyy/MM/dd HH:mm:ss"}}</td>
          <td>{{item.expectLeave|date:"yyyy/MM/dd HH:mm:ss"}}</td>
          <td>{{item.overTime}}</td>
          <td>{{item.createdUserName}}</td>
          <td>{{item.brand}}</td>
          <td>{{item.model}}</td>
          <td>{{item.plateNo}}</td>
          <td>{{item.mileage}}</td>
          <td>{{item.purchaseDate}}</td>
          <td>{{item.customerName}}</td>
          <td>{{item.contactUser}}</td>
          <td>{{item.contactInfo}}</td>
        </tr>
      </tbody>
    </table>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" (pageChanged)="onPageChanged($event)"></hq-pagination>
  </div>


  <!--详情 begin-->
  <div bsModal #lgModal="bs-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title pull-left">维修验收详情</h6>
          <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body" style='overflow: scroll;'>
          <!--导出详情begin-->
          <tabset>
            <tab heading="维修项目">
              <table class="table table-hover table-bordered table-sm">
                <thead>
                  <tr>
                    <th><input value="all" #checkAll (change)="toggleCheckboxAll(checkAll)" [checked]="selectedOrder?.serviceOutputs?.checkedAll"
                        type="checkbox" /></th>
                    <th>项目名称</th>
                    <th>维修工时</th>
                    <th>工时单价(元)</th>
                    <th>金额(元)</th>
                    <th>折扣率</th>
                    <th>操作时间</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let record of selectedOrder?.serviceOutputs" [class.checked]="record.checked" (click)="$event.stopPropagation();toggleCheckbox(record)">
                    <td width="30">
                      <!--已经同意之后, 不可以再次操作-->
                      <input [disabled]="false" value="{{record.id}}" (click)="$event.stopPropagation();toggleCheckbox(record)" [checked]="record.checked" type="checkbox" />
                    </td>
                    <td>
                      {{record?.serviceName}}
                      <!--已通过的打个标记-->
                      <span [class.triangle]="true"></span>
                    </td>
                    <td>{{record?.workHour }}</td>
                    <td>{{record?.price}}</td>
                    <td>{{record?.amount}}</td>
                    <td>{{record?.discount}}</td>
                    <td>{{record?.operateDateTime|date:"yyyy/MM/dd HH:mm:ss"}}</td>
                  </tr>
                </tbody>
              </table>
              <div>
                <button class="btn btn-sm btn-secondary" [disabled]="!selectedOrder?.serviceOutputs?.enableCheck">同意</button>
              </div>
            </tab>
            <tab heading="维修配件">
              <table class="table table-hover table-bordered table-sm">
                <thead>
                  <tr>
                    <th>维修工项</th>
                    <th>配件名称</th>
                    <th>品牌</th>
                    <th>规格型号</th>
                    <th>数量</th>
                    <th>单价(元)</th>
                    <th>金额(元)</th>
                    <th>操作时间</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let record of selectedOrder?.productOutputs">
                    <td>{{record?.serviceName}}</td>
                    <td>{{record?.productName}}</td>
                    <td>{{record?.brandName}}</td>
                    <td>{{record?.specification}}</td>
                    <td>{{record?.count}}</td>
                    <td>{{record?.price}}</td>
                    <td>{{record?.amount}}</td>
                    <td>{{record?.operateDateTime|date:"yyyy/MM/dd HH:mm:ss"}}</td>
                  </tr>
                </tbody>
              </table>
            </tab>
            <tab heading="附加项目">
              <table class="table table-hover table-bordered table-sm">
                <thead>
                  <tr>
                    <th>备注</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let record of selectedOrder?.attachServiceOutputs">
                    <td>{{record?.description}}</td>
                  </tr>
                </tbody>
              </table>
            </tab>

            <tab heading="建议维修项目">
              <table class="table table-hover table-bordered table-sm">
                <thead>
                  <tr>
                    <th>建议维修项目</th>
                    <th>操作时间</th>
                    <th>备注</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let record of selectedOrder?.SuggestServiceDetailOutput">
                    <td>{{record?.content}}</td>
                    <td>{{record?.operateDateTime|date:"yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>{{record?.description}}</td>
                  </tr>
                </tbody>
              </table>
            </tab>
            <hr>
            <div *ngIf="true" class="card">
              <div class="card-header" style="font-size:smaller;color:gray;padding: 3px 5px;">
                折前费用: 工时费
                <span class="ml-2 mr-2">{{selectedOrder?.workHourFee}}</span> | 材料费
                <span class="ml-2 mr-2">{{selectedOrder?.materialFee}}</span> | 其它
                <span class="ml-2 mr-2">{{selectedOrder?.otherFee}}</span> | 合计
                <span class="ml-2 mr-2">{{selectedOrder?.sumFee}}</span>|
              </div>
            </div>
          </tabset>
          <!--建议维修项 end-->
          <!--导出详情end-->
        </div>
      </div>
    </div>
  </div>
  <!--详情 end-->
</div>