/*重写表格样式*/
.table th, .table td {
    text-align: center;
    vertical-align: middle;
    font-size: small;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.table th {
    background: silver;
}
@media (min-width: 992px) {
    .modal-lg {
        max-width: 1000px;
    }
}

caption {
    caption-side: top;
    text-align: center;
}
