<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    配件销售价格查询
  </div>
  <div class="card-block">
    <form class="form-inline mb-2" (ngSubmit)="onLoadList()">
      <div class="form-group mb-2">
        <label>仓库：</label>
        <select class="form-control mx-sm-3" name="storeHouseId" [(ngModel)]="params.storeHouseId">
          <option value="">全部仓库</option>
          <option *ngFor="let item of warehouses" value="{{item.value}}">{{item.text}}</option>
        </select>
      </div>
      <div class="form-group mb-2">
        <label class="mr-sm-2">库位：</label>
        <input type="text" class="form-control mx-sm-3" name="storageLocationName" [(ngModel)]="params.storageLocationName" placeholder="库位">
      </div>
      <div class="form-group mb-2">
        <label class="mr-sm-2">配件编码：</label>
        <input type="text" class="form-control mx-sm-3" name="code" [(ngModel)]="params.code" placeholder="配件编码">
      </div>
      <div class="form-group mb-2">
        <label class="mr-sm-2">配件名称：</label>
        <input type="text" class="form-control mx-sm-3" name="name" [(ngModel)]="params.name" placeholder="配件名称">
      </div>
      <div class="form-group mb-2">
        <label class="mr-sm-2">配件车型：</label>
        <input type="text" class="form-control mx-sm-3" name="vehicleName" [(ngModel)]="params.vehicleName" placeholder="配件车型">
      </div>
      <div class="form-group mb-2">
        <button type="submit" class="btn btn-primary mx-sm-3" translate>search</button>
      </div>
    </form>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th translate>仓库</th>
          <th translate>品牌</th>
          <th translate>配件编码</th>
          <th translate>配件名称</th>
          <th translate>库存量</th>
          <th translate>车型</th>
          <th translate>销售价</th>
          <th translate>类别</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td>{{item.houseName}}</td>
          <td>{{item.brand}}</td>
          <td>{{item.code}}</td>
          <td>{{item.name}}</td>
          <td class="text-center">{{item.count}}</td>
          <td>{{item.vehicleName}}</td>
          <td class="text-right">{{item.price|centToYuan}}</td>
          <td>{{ item.category}}</td>
        </tr>
      </tbody>
    </table>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" (pageChanged)="onPageChanged($event)"></hq-pagination>
  </div>
</div>