<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    盘点清单详情
  </div>
  <div hqPrint #printer="hq-print" class="card-block">
    <div id="printpage">
      <div class="mb-2">
        <span class="mr-3">盘点单号：{{item?.billCode}}</span>
        <span class="mr-3">生成时间：{{item?.createdOn|sDatetime}}</span>
        <span class="mr-3 pr-5 print-visible">盘点人：</span>
        <span class="pr-5 print-visible">盘点时间：</span>
      </div>
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>仓库</th>
            <th>库位</th>
            <th>配件编码</th>
            <th>配件分类</th>
            <th>配件名称</th>
            <th>品牌</th>
            <th>规格型号</th>
            <th>单位</th>
            <th>成本</th>
            <th>库存量</th>
            <th class="print-visible">清点数</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of item?.list">
            <td>{{ item.houseName}}</td>
            <td>{{ item.locationName}}</td>
            <td>{{ item.productCode }}</td>
            <td>{{ item.categoryName }}</td>
            <td>{{ item.productName }}</td>
            <td>{{ item.brand }}</td>
            <td>{{ item.productSpecification }}</td>
            <td>{{ item.unit }}</td>
            <td class="text-right">{{ item.price|centToYuan }}</td>
            <td class="text-center">{{ item.stock }}</td>
            <td class="print-visible"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-muted">
    <button class="btn btn-export" (click)="print()">打印</button>
    <button class="btn btn-info" (click)="export($event)">导出</button>
  </div>
</div>