<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    用户注册
  </div>
  <form *ngIf="form" class="card-block" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="username" class="col-sm-3 col-form-label">用户名</label>
      <div class="col-sm-9">
        <input hqError="用户名" type="email" formControlName="username" class="form-control" id="username">
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-3 col-form-label">密码</label>
      <div class="col-sm-9">
        <input hqError="密码" type="password" formControlName="password" class="form-control" id="password">
      </div>
    </div>
    <div class="form-group row">
      <label for="certainPassword" class="col-sm-3 col-form-label">确认密码</label>
      <div class="col-sm-9">
        <input hqError="密码" type="password" formControlName="certainPassword" class="form-control" id="certainPassword" placeholder="请再次输入密码">
      </div>
    </div>
    <div class="text-center">
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary mr-5">注册</button>
      <button routerLink="/auth/login" class="btn btn-secondary">登录</button>
    </div>
  </form>
</div>