<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    修改密码
  </div>
  <form *ngIf="form" class="card-block" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="oldPassword" class="col-sm-3 col-form-label">旧密码</label>
      <div class="col-sm-9">
        <input hqError="旧密码" type="password" formControlName="oldPassword" class="form-control" id="oldPassword">
      </div>
    </div>
    <div class="form-group row">
      <label for="newPassword" class="col-sm-3 col-form-label">密码</label>
      <div class="col-sm-9">
        <input hqError="密码" type="password" formControlName="newPassword" class="form-control" id="newPassword">
      </div>
    </div>
    <div class="form-group row">
      <label for="certainPassword" class="col-sm-3 col-form-label">确认密码</label>
      <div class="col-sm-9">
        <input hqError="密码" type="password" formControlName="certainPassword" class="form-control" id="certainPassword" placeholder="请再次输入新密码">
      </div>
    </div>
    <div class="text-center">
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary mr-5">提交</button>
      <button (click)="location.back()" class="btn btn-secondary">返回</button>
    </div>
  </form>
</div>