<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header text-center">
    <span class="change-left">修改密码</span>
    <img src="/assets/images/login_logo.png">
  </div>

  <form *ngIf="form" class="card-block" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">旧密码</span>
        <input label="旧密码" type="password" formControlName="oldPassword" class="form-control" id="oldPassword" placeholder="请输入旧密码">
      </div>
    </div>
    <div class="form-group input-h">
      <div class="input-group">
        <span class="input-group-addon">密码</span>
        <input label="密码" type="password" formControlName="newPassword" class="form-control" id="newPassword" placeholder="请输入新密码">
      </div>
    </div>
    <div class="form-group input-h">
      <div class="input-group">
        <span class="input-group-addon">确认密码</span>
        <input label="密码" type="password" formControlName="certainPassword" class="form-control" id="certainPassword" placeholder="请再次输入新密码">
      </div>
    </div>
    <div class="text-center">
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary mr-5">提交</button>
      <button (click)="location.back()" class="btn btn-secondary">返回</button>
    </div>
  </form>
</div>