.print .center{
    text-align:center;
    clear:both;
}
.print .nbspx{
    width:280px;
    display: inline-block;
}
.print .nbspx-sm{
    width:40px;
    display: inline-block;
}
.print .print-bot{
    margin-top:20px;
}
table tr td{
    overflow-wrap: break-word !important;
    word-wrap:break-word !important;
    border: 0 !important;
    font-size: 12px;
    color:#727171 !important;
}
.table-title{
    font-size:14px;
}
.table-print tr{
    border: 0 !important;
}
.table-tr{
    border:1px solid #dcdddd !important;
}