<div class="print card">
  <div class="card-header">
    <span>维修结算单</span>
  </div>
  <div class='card-block'>
    <table class="table table-bordered">
      <tr>
        <td colspan="6">
          <h4>维修结算单</h4>
        </td>
      </tr>
      <tr>
        <td>车牌号:</td>
        <td> {{data.maindata.plateNo}}</td>
        <td>车型描述:</td>
        <td>{{data.maindata.model}} </td>
        <td>VIN:</td>
        <td>{{data.maindata.vin}} </td>

      </tr>
      <tr>
        <td>送修人：</td>
        <td>{{data.maindata.contactUser}}</td>
        <td>送修人电话：</td>
        <td>{{data.maindata.contactInfo}}</td>
        <td>结算单号:</td>
        <td>{{data.maindata.settlementCode}}</td>
      </tr>
      <tr>
        <td>工单号:</td>
        <td>{{data.maindata.billCode}}</td>
        <td>结算员:</td>
        <td>{{data.maindata.updateUser}}</td>
        <td>结算时间：</td>
        <td>{{data.maindata.updateOnUtc|sDatetime}}</td>

      </tr>
      <tr>
        <td>结算方：</td>
        <td>{{data.maindata.settlementParty}}</td>
        <td>维修类型:</td>
        <td>{{data.maindata.typeName}}</td>
        <td>进厂时间:</td>
        <td>{{data.maindata.createdOnUtc|sDatetime}}</td>
      </tr>
      <tr>
        <td>进厂里程(KM):</td>
        <td>{{data.maindata.mileage}}</td>
        <td>出厂里程(KM):</td>
        <td>{{data.maindata.leaveMileage}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>服务顾问:</td>
        <td>{{data.maindata.createdUserName}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <table class="table table-bordered">
      <tr>
        <td colspan="4">
          <h5>表一：收费结算单</h5>
        </td>
      </tr>
      <tr>
        <td>序号</td>
        <td>名称</td>
        <td>金额(元)</td>
        <td>备注</td>
      </tr>
      <tr *ngFor="let item of data?.costData;let index=index">
        <td>{{index+1}}</td>
        <td>{{item?.name}}</td>
        <td>{{item?.discountCost|centToYuan}}</td>
        <td>{{item?.description}}</td>
      </tr>
      <tr>
        <td colspan="4">金额合计：折扣金额：{{(data.moneyObj)?.costCountMoney|centToYuan}}应收金额：{{data.maindata.actualAmount|centToYuan}} &nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
    </table>


    <table class="table table-bordered">
      <tr>
        <td colspan="7">
          <h5>表二：工时明细</h5>
        </td>
      </tr>
      <tr>
        <td>序号</td>
        <td>维修项目</td>
        <td>结算工时</td>
        <td>单价(元/个)</td>
        <td>折扣率(%)</td>
        <td>金额(元)</td>
        <td>备注</td>
      </tr>
      <tr *ngFor="let item of data?.workHourData;let index=index">
        <td>{{index+1}}</td>
        <td>{{item?.serviceName}}</td>
        <td>{{item?.workHour}}</td>
        <td>{{item?.price|centToYuan}}</td>
        <td>{{item?.discount}}</td>
        <td>{{item?.discountCost|centToYuan}}</td>
        <td>{{item?.description}}</td>
      </tr>
      <tr>
        <td colspan="7">金额合计：{{(data.moneyObj)?.workCostMoney|centToYuan}}&nbsp;&nbsp;&nbsp;&nbsp;折扣金额：{{(data.moneyObj)?.discountMoney|centToYuan}}应收金额：{{(data.moneyObj)?.workCostMoney|centToYuan}}</td>
        <!--<td colspan="7">合计：应收金额：{{(data.moneyObj)?.workCostMoney|centToYuan}}&nbsp;&nbsp;&nbsp;&nbsp;折扣金额：{{(data.moneyObj)?.discountMoney|centToYuan}}</td>-->
      </tr>
    </table>

    <table class="table table-bordered" *ngIf="data.materialData.length>0">
      <tr>
        <td colspan="8">
          <h5>表三：配件明细</h5>
        </td>
      </tr>
      <tr>
        <td>序号</td>
        <td>配件名称</td>
        <td>单价(元)</td>
        <td>数量</td>
        <td>金额(元)</td>
        <td>备注</td>
      </tr>
      <tr *ngFor="let item of data?.materialData;let index=index;">
        <td>{{index+1}}</td>
        <td>{{item?.productName}}</td>
        <td>{{item?.price|centToYuan}}</td>
        <td>{{item?.count}}</td>
        <td>{{item?.amount|centToYuan}}</td>
        <td>{{item?.description}}</td>
      </tr>
      <tr>
        <td colspan="8">金额合计：{{(data.moneyObj)?.materialMoney|centToYuan}}</td>
      </tr>
    </table>

    <table class="table table-bordered" *ngIf="data.appendItems.length>0">
      <tr>
        <td colspan="2">
          <h5>表四：附加项目</h5>
        </td>
      </tr>
      <tr>
        <td>序号</td>
        <td>备注</td>
      </tr>
      <tr *ngFor="let items of data?.appendItems;let index=index;">
        <td>{{index+1}}</td>
        <td>{{items.name}}</td>
      </tr>

    </table>

    <table class="table table-bordered" *ngIf="data.adviceItems.length>0">
      <tr>
        <td colspan="3">
          <h5>表五：建议维修项目</h5>
        </td>
      </tr>
      <tr>
        <td>序号</td>
        <td>建议维修项目</td>
        <td>备注</td>
      </tr>
      <tr *ngFor="let item of data?.adviceItems;let index=index;">
        <td>{{index+1}}</td>
        <td>{{item.content}}</td>
        <td>{{item.description}}</td>
      </tr>

    </table>
    <hr>
    <div class="print-bot">
      <div class="pull-left"> 打印时间：{{data.maindata.printOnUtc|sDatetime}}</div>

      <div class="pull-right">操作人：{{data.maindata.currentUserName}}<span class='nbspx'>&nbsp;</span> 客户签名： <span class='nbspx'></span>日期：<span class="nbspx-sm"></span>        年 <span class="nbspx-sm"></span>月
      </div>

    </div>
  </div>