<ng-template hq-alerter></ng-template>
<div class="card">
  <!--<div class="card-header">
    <span>新增配件</span>
    <div class="pull-right">
      <button routerLink="../" class="btn btn-sm btn-info">返回</button>
    </div>
  </div>-->
  <form *ngIf="form" class="card-block row" [formGroup]="form" (ngSubmit)="onCreate()">
    <div class="col-6">
      <div class="form-group">
        <label class="form-control-label">*仓库：</label>
        <select label="仓库" formControlName="storeId" class="form-control">
          <option *ngFor="let item of warehouses" value="{{item.value}}">{{item.text}}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label">*配件编码：</label>
        <input label="配件编码" (input)="onItemChange($event)" [hqProductTypeahead]="'code'" (onSelect)="onItemSelect($event)" formControlName="code"
          class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">*配件分类：</label>
        <ngx-dropdown-treeview [items]="categories" (selectedChange)="onCategorySelect($event)">
        </ngx-dropdown-treeview>
      </div>
      <div class="form-group">
        <label class="form-control-label">*配件名称：</label>
        <input label="配件名称" (input)="onItemChange($event)" [hqProductTypeahead]="'name'" (onSelect)="onItemSelect($event)" formControlName="name"
          class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">*品牌：</label>
        <input label="品牌" [attr.disabled]='owned' (input)="onBrandChange($event)" (typeaheadOnSelect)="onBrandSelect($event)" [typeahead]="brands"
          typeaheadOptionField="text" formControlName="brandName" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">*规格/型号：</label>
        <input type="text" label='规格型号' [attr.disabled]='owned' formControlName="packageInfo" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">*单位：</label>
        <select label="单位" formControlName="unit" class="form-control">
          <option *ngFor="let item of units" value="{{item.value}}">{{item.text}}</option>
        </select>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="form-control-label">库位：</label>
        <input type="text" label="库位" formControlName="locationName" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">最大库存：</label>
        <input type="number" label='最大库存' formControlName="maxCount" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">最小库存：</label>
        <input type="number" label='最小库存' formControlName="minCount" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">产地：</label>
        <input type="text" label='产地' [attr.disabled]='owned' formControlName="madeIn" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">包装规格：</label>
        <input type="text" label='备注' formControlName="description" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">备注：</label>
        <input type="text" label='备注' formControlName="description" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">适用车型：</label>
        <div>
          <div *ngFor="let item of vehicles" class="btn btn-secondary btn-sm mr-1 mb-1">
            <span>{{item.brandName}} {{item.seriesName}} {{item.name}}</span>
            <i class="cursor-pointer fa fa-times" (click)="onVehicleRemove(item)"></i>
          </div>
        </div>
        <input type="text" hqVehicleTypeahead (checkStrategy)="vehicleCheckStrategy" (onSelect)="onVehicleSelect($event)" class="form-control"
          placeholder="请输入车型">
      </div>
    </div>
    <div class="col-12">
      <button type="submit" [disabled]="submitting" class="btn btn-primary mr-3">提交</button>
      <button type="button" (click)="onReset()" class="btn btn-secondary mr-3">重置</button>
    </div>
  </form>
</div>