<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    <span>内部退料</span>
    <ng-template hqSuspendBill="IR" (onSelect)="onSuspendSelect($event)" [columns]="innerColumns"></ng-template>
  </div>
  <div class="card-block">
    <form class="form-inline mb-2">
      <div class="form-group mb-2 mx-sm-3">
        <label>*领料人：</label>
        <!--<input type="text" forceRefresh [(ngModel)]="takeUser" name="takeUser" [hqTableTypeahead]="nameSource" [columns]="itemNameColumns()" (onSelect)="onItemNameSelect($event)" class="form-control" placeholder="请输入领料人">        -->
        <select class="form-control mx-sm-3" (change)="onInnerSelect($event)" [value]="takeUser" name="takeUser">
          <option *ngFor="let employee of employees" [value]="employee.takeUser">{{employee.takeUserName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>部门：</label>
        <select class="form-control mx-sm-3" [value]="takeDepartId" (change)="onDepartSelect($event)">
          <option *ngFor="let department of departments?.departList" [value]="department.id">{{department.name}}</option>
        </select>
      </div>
      <div class="form-group mb-2 mx-sm-3">
        <label>*内部领用单号：</label>
        <input type="text" forceRefresh [(ngModel)]="billCode" name="billCode" [hqTableTypeahead]="codeSource" [columns]="itemColumns"
          (onSelect)="onItemSelect($event)" class="form-control" placeholder="请输入领用单号">
        <!--<input type="hidden" hqError="配件名称">-->
        <!--<button (click)="createModel.show()" class="btn btn-primary mx-sm-1" translate>新增</button>-->
      </div>
    </form>

    <div class="tab-title">内部领用信息</div>
    <div class="table-container">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>操作</th>
            <th>配件编码</th>
            <th>配件分类</th>
            <th>配件名称</th>
            <th>品牌</th>
            <th>规格型号</th>
            <th>单位</th>
            <th>仓库</th>
            <th>库位</th>
            <th>库存量</th>
            <th>单价（元）</th>
            <th>数量</th>
            <th>已退数量</th>
            <th>金额（元）</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td><button [disabled]="item.count<=item.returnCount" class="btn btn-primary" (click)="OnCreatBound(item,item.id)">退料</button></td>
            <td>{{item.productCode }}</td>
            <td>{{item.productTypes[0]}}</td>
            <td>{{item.productName}}</td>
            <td>{{item.brandName }}</td>
            <td>{{item.specification}}</td>
            <td>{{item.unit}}</td>
            <td>{{item.storeName }}</td>
            <td>{{item.locationName }}</td>
            <td>{{item.existCount }}</td>
            <td class="text-right">{{item.price|centToYuan}}</td>
            <td class="text-center">{{item.count}}</td>
            <td class="text-center">{{item.returnCount }}</td>
            <td class="text-right">{{item.amount|centToYuan}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" (pageChanged)="onPageChanged($event)"></hq-pagination>
    <div class="tab-title">内部退料信息</div>
    <div class="table-container">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>操作</th>
            <th>配件编码</th>
            <th>配件分类</th>
            <th>配件名称</th>
            <th>品牌</th>
            <th>规格型号</th>
            <th>单位</th>
            <th>仓库</th>
            <th>库位</th>
            <th>库存量</th>
            <th>单价（元）</th>
            <th>数量</th>
            <th>金额（元）</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of returnData;let i = index">
            <td><button class="btn btn-danger" (click)="onDelCreat(e,i)">删除</button></td>
            <td>{{item.productCode }}</td>
            <td>{{item.productTypes}}</td>
            <td>{{item.productName}}</td>
            <td>{{item.brandName }}</td>
            <td>{{item.specification}}</td>
            <td>{{item.unit}}</td>
            <td>{{item.storeName }}</td>
            <td>{{item.locationName }}</td>
            <td>{{item.existCounts }}</td>
            <td class="text-right">{{item.price|centToYuan}}</td>
            <td class="text-center">{{item.count}}</td>
            <td class="text-right">{{item.amount|centToYuan}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-muted">
    <button  [hqSpinner]="createLoading" [disabled]="!(returnData.length>0)" class="btn btn-primary" (click)="createReturnList()">生成内部退料单</button>
    <!--<button class="btn btn-warning" (click)="cancel($event)">取消</button>-->
    <button [hqSpinner]="suspendLoading" [disabled]="!(returnData.length>0)" class="btn btn-success" (click)="suspend()">挂单</button>
  </div>
</div>

<div class="modal fade" bsModal #createModel="bs-modal" tabindex="-1" role="dialog">
  <div *ngIf="createModel.isShown" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">退料</h5>
        <button class="close pull-right" (click)="createModel.hide()">&times;</button>
      </div>
      <div class="modal-body">
        <hq-return-create [selectReturnData]="selectReturnData" (formSubmit)="onCreate($event)"></hq-return-create>
      </div>
    </div>
  </div>
</div>

<hq-return-print class="invisible" hqPrint #printer="hq-print" [model]="printModel"></hq-return-print>