.center{
    text-align:center;
    clear:both;
}
h4{
    font-size:1.1rem;
    text-align:center;
    font-weight: bold;
    margin-bottom:26px;
}
table th,table td{
    /*width: 8%;*/
     text-align: center;
     color:#727171;
     font-size:16px;
}
.container{
    margin-top: 20px;
}
.card-block{
    color:#727171;
    font-size:14px;
    height: 35px;
    line-height: 35px;
    margin-top:-20px;
}