<ng-template hq-alerter></ng-template>
<div class="card">
  <form *ngIf="form" class="card-block row" [formGroup]="form">
    <div class="col-12">
      <div class="form-group">
        <label class="form-control-label">备注</label>
        <textarea type="textarea" formControlName="description" class="form-control" placeholder="备注"></textarea>
      </div>
    </div>
  </form>
</div>
<div style="text-align:center">
  <button type="submit" class="btn btn-secondary" (click)="onSubmit()">保存</button>
  <button type="button" class="btn btn-secondary" (click)="onCancelHandler()">取消</button>
</div>