<div hqPrint #printer="hq-print" class="card">
  <div class="card-block">
    <div>
      <img class="pull-left" src="http://sinoauto.com/Themes/SinoAutoAdaption/Content/logonew.png" alt="华汽">
      <p class="text-center">维修工单</p>
    </div>
    <hr>
    <div class="row">
      <div class="col-5">
        <label>车牌号: </label>
        <span>{{selectedOrder?.plateNo}}</span>
      </div>
      <div class="col-5">
        <label>工单号: </label>
        <span>{{selectedOrder?.billCode}}</span>
      </div>

    </div>
    <div class="row">
      <div class="col-5">
        <label>车主: </label>
        <span>{{selectedOrder?.customerName}}</span>
      </div>
      <div class="col-5">
        <label>预计交车时间: </label>
        <span>{{selectedOrder?.expectLeave|date:"yyyy/MM/dd HH:mm:ss"}}</span>
      </div>

    </div>
    <div class="row">
      <!---->
      <div class="col-5">
        <label>VIN: </label>
        <span>{{selectedOrder?.vin}}</span>
      </div>
      <div class="col-5">
        <label>车型描述: </label>
        <span *ngIf="selectedOrder?.brand">{{selectedOrder?.brand}}</span>
        <span *ngIf="selectedOrder?.series">,{{selectedOrder?.series}}</span>
        <span *ngIf="selectedOrder?.model">,{{selectedOrder?.model}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label>送修人: </label>
        <span>{{selectedOrder?.contactUser}}</span>
      </div>
      <div class="col-4">
        <label>送修人电话: </label>
        <span>{{selectedOrder?.contactInfo}}</span>
      </div>
      <div class="col-4">
        <label>维修技师: </label>
        <span>
          <span *ngIf="teamType === 1">{{selectedOrder?.employeeNames.join(',')}}</span>
        <span *ngIf="teamType === 2">{{selectedOrder?.turnEmployeeNames.join(',')}}</span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label>介绍人: </label>
        <span>{{selectedOrder?.introducer}}</span>
      </div>
      <div class="col-4">
        <label>介绍人电话: </label>
        <span>{{selectedOrder?.introPhone}}</span>
      </div>
      <div class="col-4">
        <label>服务顾问: </label>
        <span>{{selectedOrder?.createdUserName}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label>购车日期: </label>
        <span>{{selectedOrder?.purchaseDate|date:"yyyy/MM/dd"}}1990-12-12</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-5">
        <label>进店时间: </label>
        <span>{{selectedOrder?.createdOnUtc|date:"yyyy/MM/dd HH:mm:ss"}}</span>
      </div>
      <div class="col-5">
        <label>出厂时间: </label>
        <span>{{selectedOrder?.leaveTim|date:"yyyy/MM/dd HH:mm:ss" }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label>维修类型: </label>
        <span>{{selectedOrder?.typeName}}</span>
      </div>
      <div class="col-4">
        <label>进店里程: </label>
        <span>{{selectedOrder?.mileage}}</span>
      </div>
      <div class="col-4">
        <label>出厂里程: </label>
        <span></span>
      </div>
    </div>
  </div>
  <br>
  <div class="card-block">
    <table class="table table-striped table-bordered">
      <caption>表一：维修项目</caption>
      <thead>
        <tr>
          <th width="50">序号</th>
          <th>项目名称</th>
          <th>维修工时(小时)</th>
          <th>工时单价(元)</th>
          <th>金额(元)</th>
          <th>折扣率(%)</th>
          <!--<th>操作时间</th>
          <th>操作员</th>-->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of selectedOrder?.serviceOutputs;let index=index;">
          <td>{{index+1}}</td>
          <td>{{record?.serviceName}}</td>
          <td>{{record?.workHour}}</td>
          <td>{{record?.price|centToYuan}}</td>
          <td>{{record?.amount|centToYuan}}</td>
          <td>{{record?.discount}}</td>
          <!--<td>{{record?.operateDateTime|date:"yyyy/MM/dd HH:mm:ss"}}</td>
          <td>{{user.username}}</td>-->
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div class="card-block">
    <table class="table table-striped table-bordered">
      <caption>表二：维修配件</caption>
      <thead>
        <tr>
          <th width="50">序号</th>
          <th>维修工项</th>
          <th>配件名称</th>
          <th>品牌</th>
          <th>规格型号</th>
          <th>数量(个)</th>
          <th>单价(元)</th>
          <th>金额(元)</th>
          <!--<th>操作时间</th>-->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of selectedOrder?.productOutputs; let index=index;">
          <td>{{index+1}}</td>
          <td>{{record?.serviceName}}</td>
          <td>{{record?.productName}}</td>
          <td>{{record?.brandName}}</td>
          <td>{{record?.specification}}</td>
          <td>{{record?.count}}</td>
          <td>{{record?.price|centToYuan}}</td>
          <td>{{record?.amount|centToYuan}}</td>
          <!--<td>{{record?.operateDateTime|date:"yyyy/MM/dd HH:mm:ss"}}</td>-->
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div class="card-block">
    <table class="table table-striped table-bordered">
      <caption>表三：附加项目</caption>
      <thead>
        <tr>
          <th width="50">序号</th>
          <th>项目内容</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of selectedOrder?.attachServiceOutputs;let index=index;">
          <td>{{index+1}}</td>
          <td>{{record?.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div class="card-block">
    <table class="table table-striped table-bordered">
      <caption>表四：建议维修项</caption>
      <thead>
        <tr>
          <th width="50">序号</th>
          <th>建议维修项目</th>
          <!--<th>操作时间</th>-->
          <th>备注</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of selectedOrder?.SuggestServiceDetailOutput;let index=index;">
          <td>{{index+1}}</td>
          <td>{{record?.content}}</td>
          <!--<td>{{record?.operateDateTime|date:"yyyy/MM/dd HH:mm:ss"}}</td>-->
          <td>{{record?.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-block text-center no-print">
    <button (click)="print()" type="button" class="btn btn-primary">打印</button>
  </div>
</div>