.card {
    border: none;
    font-size: 12px;
    font-family: "Courier New", Courier, monospace;
}
.card-block {
    border: 1px solid #eceeef;
    font-weight: 100;
}
.card-block label {
    width: 100px;
    text-align: right;
}
hr {
    border-top: 2px solid #8c8b8b;
}
th, td {
    padding: 0.25rem;
    text-align: center;
    /*内容多了要换行*/
    white-space: normal; 
}


