@media (min-width: 992px) {
    .modal-lg {
        max-width: 1000px;
    }
}
.checked {
    background: #f7ecd7;
}
/*增项标志*/
.triangle{
    border-top: 10px solid gray;
    border-left: 10px solid transparent;
    float: right;
}