<ng-template *ngIf="!isDetailModalShown" hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    维修验收
  </div>
  <div class='card-block'>
    <form (ngSubmit)="onSearch()">
      <div class="input-group col-8 offset-2">
        <input style="border-radius: 5px;" [(ngModel)]="params.keyword" name="keyword" placeholder="请输入车牌号/工单号" class="form-control mr-3">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">查询</button>
        </span>
      </div>
      <hr>
      <div class="form-group">
        <div class="form-check form-check-inline" *ngFor="let type of maintenanceCheckTypes">
          <label class="form-check-label mr-2">
            <input class="form-check-input" (change)='onStatusChange(type)' [checked]="type.checked"  type="checkbox" value="{{type.id}}"> {{type.value}}
            <span *ngIf="statistics">({{statistics[type.id]}})</span>
          </label>
        </div>
      </div>
    </form>
    <hr>
    <div class="overflow-auto">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>操作</th>
            <th>状态</th>
            <th>车牌号</th>
            <th>工单号</th>
            <th>维修技师</th>
            <th>转派</th>
            <th>维修类型</th>
            <th>进厂时间</th>
            <th>预计交车时间</th>
            <th>超时</th>
            <th>车型</th>
            <th>VIN</th>
            <th>服务顾问</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td>
              <button [hqSpinner]="item.checkGenerating" type="button" class="btn btn-sm btn-info" [disabled]="item.checkGenerating" (click)="orderDetailsHandler(item, lgModal)">验收</button>
            </td>
            <td>{{item.statusName}}</td>
            <td>{{item.plateNo}}</td>
            <td>{{item.billCode}}</td>
            <td>
              <span *ngIf="item.teamType === 1 || item.teamType === 2"> {{item.employeeNames?.join(',')}}</span>
            </td>
            <!-- 指派的人或者最后更改人 -->
            <td>
              <span *ngIf="item.teamType === 2"> {{item.turnEmployeeNames?.join(',')}}</span>
            </td>
            <!-- 转派的人-->
            <td>{{item.typeName}}</td>
            <td>{{item.createdOnUtc|sDatetime}}</td>
            <td>{{item.expectLeave|sDatetime}}</td>
            <td [class.overtime]="item.overTime">{{item.overTime|durationHumanize}}</td>
            <td>
              <span *ngIf="item?.brand">{{item.brand}}</span>
              <span *ngIf="item?.series">,{{item.series}}</span>
              <span *ngIf="item?.vehicleName">,{{item.vehicleName}}</span>
            </td>
            <td>{{item.vin}}</td>
            <td>{{item.createdUserName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" (pageChanged)="onPageChanged($event)"></hq-pagination>
  </div>
  <!--详情 begin-->
  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div *ngIf="lgModal.isShown" class="modal-dialog modal-lg">
      <div class="modal-content">
        <ng-template *ngIf="isDetailModalShown" hq-alerter></ng-template>
        <div class="modal-header">
          <h6 class="modal-title pull-left">维修验收详情</h6>
          <button type="button" class="close pull-right" (click)="lgModal.hide();isDetailModalShown=false;" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <!--导出详情begin-->
          <tabset>
            <tab heading="维修项目" *ngIf="selectedOrder?.serviceOutputs?.length>0">
              <div class="overflow-auto">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th><input value="all" #checkAll (change)="toggleCheckboxAll(checkAll)" [checked]="selectedOrder?.serviceOutputs?.checkedAll"
                          type="checkbox" /></th>
                      <th>项目名称</th>
                      <th>维修工时(小时)</th>
                      <!--<th>验收时间</th>-->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let record of selectedOrder?.serviceOutputs" [class.checked]="record.checked" (click)="$event.stopPropagation();toggleCheckbox(record)">
                      <td>
                        <!--已经通过之后, 不可以再次操作-->
                        <input [disabled]="record.teamType === 6" value="{{record.id}}" (click)="$event.stopPropagation();toggleCheckbox(record)"
                          [checked]="record.checked" type="checkbox" />
                      </td>
                      <td>
                        {{record?.serviceName}}
                        <!--已通过的打个标记-->
                        <span [class.triangle]="record.teamType === 6"></span>
                      </td>
                      <td>{{record?.workHour}}</td>
                      <!--<td>{{record?.operateDateTime|sDatetime}}</td>-->
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <button [hqSpinner]="generating" class="btn btn-secondary" [disabled]="!selectedOrder?.serviceOutputs?.enableCheck" (click)="onOrderCheckPass()">通过</button>
              </div>
            </tab>
            <tab heading="维修配件" *ngIf="selectedOrder?.productOutputs?.length>0">
              <div class="overflow-auto">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>维修工项</th>
                      <th>配件名称</th>
                      <th>品牌</th>
                      <th>规格型号</th>
                      <th>数量</th>
                      <th>单价(元)</th>
                      <th>金额(元)</th>
                      <th>操作时间</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let record of selectedOrder?.productOutputs">
                      <td>{{record?.serviceName}}</td>
                      <td>{{record?.productName}}</td>
                      <td>{{record?.brandName}}</td>
                      <td>{{record?.specification}}</td>
                      <td>{{record?.count}}</td>
                      <td>{{record?.price|centToYuan}}</td>
                      <td>{{record?.amount|centToYuan}}</td>
                      <td>{{record?.operateDateTime|sDatetime}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </tab>
            <tab heading="附加项目" *ngIf="selectedOrder?.attachServiceOutputs?.length>0">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>备注</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let record of selectedOrder?.attachServiceOutputs">
                    <td>{{record?.description}}</td>
                  </tr>
                </tbody>
              </table>
            </tab>
            <tab heading="建议维修项目" *ngIf="selectedOrder?.suggestServiceOutputs?.length>0">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>建议维修项目</th>
                    <th>操作时间</th>
                    <th>备注</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let record of selectedOrder?.suggestServiceOutputs">
                    <td>{{record?.content}}</td>
                    <td>{{record?.operateDateTime|sDatetime}}</td>
                    <td>{{record?.description}}</td>
                  </tr>
                </tbody>
              </table>
            </tab>
            <hr>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>