.checked {
    background: #f7ecd7;
}
/*增项标志*/
.triangle{
    border-top: 15px solid green;
    border-left: 15px solid transparent;
    float: right;
}
.serach-input{
    width: 60%;
    margin-bottom: 1rem;
}
.form-label{
  min-width: 6.25rem;
  padding: 0 0.625rem;
  line-height: 2.5rem;
  height: 2.5rem;
  background:#f3f3f4;
  color: #727171;
  font-size: 0.875rem;
}