<hq-alerter [service]="alerter"></hq-alerter>
<div class="card">
  <div class="card-header">
    <span>添加属性</span>
    <div class="pull-right">
      <a routerLink="../../" class="btn btn-sm btn-info">返回</a>
    </div>
  </div>
  <form *ngIf="form" class="card-block" [formGroup]="form" (ngSubmit)="onUpdate()">
    <div class="form-group">
      <label class="form-control-label">实体类型</label>
      <input type="text" formControlName="groupName" class="form-control" placeholder="请输入属性名称">
      <control-errors control="groupName" [form]="form">
        <control-error code="required">实体类型不能为空</control-error>
        <control-error code="maxlength">实体类型要求不能超过60位字符</control-error>
      </control-errors>
    </div>
    <div class="form-group">
      <label class="form-control-label">实体Id</label>
      <input type="text" formControlName="entityId" class="form-control" placeholder="请输入属性名称">
      <control-errors control="entityId" [form]="form">
        <control-error code="required">实体Id不能为空</control-error>
        <control-error code="minlength">实体Id要求36位字符</control-error>
        <control-error code="maxlength">实体Id要求36位字符</control-error>
        <control-error code="pattern">无效的Guid</control-error>
      </control-errors>
    </div>
    <div class="form-group">
      <label class="form-control-label">属性名称</label>
      <input type="text" formControlName="key" class="form-control" placeholder="请输入属性名称">
      <control-errors control="key" [form]="form">
        <control-error code="required">属性名称不能为空</control-error>
        <control-error code="maxlength">属性名称要求不能超过30位字符</control-error>
      </control-errors>
    </div>
    <div class="form-group">
      <label class="form-control-label">属性值</label>
      <input type="text" formControlName="value" class="form-control" placeholder="请输入属性值">
      <control-errors control="value" [form]="form">
        <control-error code="required">属性值不能为空</control-error>
        <control-error code="maxlength">属性值要求不能超过100位字符</control-error>
      </control-errors>
    </div>
    <div class="form-group">
      <label class="form-control-label">属性语言</label>
      <select class="form-control" formControlName="languageId">
        <option *ngFor="let item of languages" value="{{item.id}}">{{item.name}}</option>
      </select>
      <control-errors control="languageId" [form]="form">
        <control-error code="required">属性语言不能为空</control-error>
        <control-error code="maxlength">属性语言不能超过36个字符</control-error>
      </control-errors>
    </div>
    <div class="form-group">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" formControlName="enabled" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">可用的</span>
      </label>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid||submitting" class="btn btn-primary mr-3">提交</button>
      <button type="button" (click)="form.reset(model)" class="btn btn-secondary mr-3">重置</button>
    </div>
  </form>
</div>