<ng-template hq-alerter></ng-template>
<div class="maintain card">
  <div class="card-header">
    <span>维修退料</span>
    <ng-template hqSuspendBill="RR" (onSelect)="onSuspendSelect($event)" [columns]="columns"></ng-template>
  </div>
  <div class='card-block'>
    <form class="form-inline"  autocomplete="off">
      <div class="input-group m-1">
        <!--<span class="input-group-addon">选择工单</span>-->
        <input [hqTableTypeahead]="PlatNoSource" [(ngModel)]="initValue" [columns]="typeaheadColumns" name="initValue" (onSelect)="onPlateNoSelect($event)"
          class="form-control" placeholder="请输入车牌号/工单号">
        <span class='button-right'></span>
      </div>
    </form>
    <table class="table table-order-info table-bordered">
      <thead>
        <tr>
          <th colspan="4" class="tr-left-bold">车辆信息</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>工单号</td>
          <td>{{orderDetail?.billCode}}</td>
          <td>车主</td>
          <td>{{orderDetail?.customerName}}</td>
        </tr>
        <tr>
          <td>车型</td>
          <td>{{orderDetail?.vehicleName}}</td>
          <td>VIN</td>
          <td>{{orderDetail?.vin}}</td>
        </tr>
        <tr>
          <td>维修类型</td>
          <td>{{orderDetail?.typeName}}</td>
          <td>开单时间</td>
          <td>{{orderDetail?.createdOnUtc |sDatetime}}</td>
        </tr>
      </tbody>
    </table>
    <!--维修项目-->
    <div [hqSpinner]="serviceisShow" class="top-px">
      <div class="tab-title" *ngIf="serviceData.length>0"><i class="fa fa-clone" aria-hidden="true"></i>维修项目</div>
      <div class="table-container">
        <table class="table   table-bordered" *ngIf="serviceData.length>0">
          <thead>
            <tr>
              <th>维修项目</th>
              <th>维修技师</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let item of serviceData;let index=index'>
              <td style="position:relative;">{{item.serviceName}}<span *ngIf="item.type === 3" class="append-stamp">增项</span>
                <span [class.accept-stamp]="item.teamType === 6"></span></td>
              <td>{{item.employeeNames.join(",")}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div [hqSpinner]="serialDataShow" class="top-px" *ngIf="serialData.length>0">
      <div class="tab-title"><i class="fa fa-outdent" aria-hidden="true"></i>维修发料信息</div>
      <div class="table-container">
        <table class="table  table-bordered">
          <thead>
            <tr>
              <th>操作</th>
              <th>流水号</th>
              <th>维修项目</th>
              <th>配件编码</th>
              <th>配件分类</th>
              <th>配件名称</th>
              <th>品牌</th>
              <th>规格型号</th>
              <th>单位</th>
              <th>适用车型</th>
              <th>仓库</th>
              <th>库位</th>
              <th>数量</th>
              <th>已退数量</th>
              <th>单价（元）</th>
              <th>金额（元）</th>
              <th>备注</th>
              <th>领料人</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of serialData">
            <tr *ngFor="let ele of item.list">
              <td><button class="btn btn-sm btn-primary" [disabled]="!(item.isable)" (click)="OnCreatBound(ele,item,item.id)">退料</button></td>
              <td>{{item.serialNum}}</td>
              <td>{{ele.serviceName}}</td>
              <td>{{ele.productCode}}</td>
              <td>{{ele.productCategory}}</td>
              <td>{{ele.productName }}</td>
              <td>{{ele.brandName}}</td>
              <td>{{ele.productSpecification}}</td>
              <td>{{ele.productUnit}}</td>
              <td [hqVehicleShow]="ele.vehicleInfoList"></td>
              <td>{{ele.storeName}}</td>
              <td>{{ele.locationName}}</td>
              <td>{{ele.count}}</td>
              <td>{{ele.returnCount}}</td>
              <td  class="text-right">{{ele.price|centToYuan}}</td>
              <td  class="text-right">{{ele.amount|centToYuan}}</td>
              <td>{{ele.description}}</td>
              <td>{{ele.takeUser}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--维修退料-->
    <div *ngIf="newMainData.length>0" class="top-px">
      <div class="tab-title">新增维修退料</div>
      <div class="table-container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>操作</th>
              <th>流水号</th>
              <th>维修项目</th>
              <th>配件编码</th>
              <th>配件分类</th>
              <th>配件名称</th>
              <th>品牌</th>
              <th>规格型号</th>
              <th>单位</th>
              <th>适用车型</th>
              <th>仓库</th>
              <th>库位</th>
              <th>数量</th>
              <th>单价（元）</th>
              <th>金额（元）</th>
              <th>备注</th>
              <th>退料人</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ele of newMainData;let i=index">
              <td><button class="btn btn-sm btn-danger" (click)="onDelCreat(ele,i)">删除</button></td>
              <td>{{ele.serialNum}}</td>
              <td>{{ele.serviceName}}</td>
              <td>{{ele.productCode}}</td>
              <td>{{ele.productCategory}}</td>
              <td>{{ele.productName }}</td>
              <td>{{ele.brandName}}</td>
              <td>{{ele.productSpecification}}</td>
              <td>{{ele.productUnit}}</td>
              <td [hqVehicleShow]="ele.vehicleInfoList"></td>
              <td>{{ele.storeName}}</td>
              <td>{{ele.locationName}}</td>
              <td>{{ele.count}}</td>
              <td  class="text-right">{{ele.price|centToYuan}}</td>
              <td  class="text-right">{{ele.amount|centToYuan}}</td>
              <td>{{ele.description}}</td>
              <td>{{ele.returnUser}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="mrData.length>0" class="top-px">
      <div class="tab-title"><i class="fa fa-indent" aria-hidden="true"></i>维修退料记录</div>
      <div class="table-container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>流水号</th>
              <th>维修项目</th>
              <th>配件编码</th>
              <th>配件分类</th>
              <th>配件名称</th>
              <th>品牌</th>
              <th>规格型号</th>
              <th>单位</th>
              <th>适用车型</th>
              <th>仓库</th>
              <th>库位</th>
              <th>*数量</th>
              <th>单价（元）</th>
              <th>金额（元）</th>
              <th>备注</th>
              <th>退料人</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of mrData">
            <tr *ngFor="let ele of item.list">
              <td>{{item.serialNum}}</td>
              <td>{{ele.serviceName}}</td>
              <td>{{ele.productCode}}</td>
              <td>{{ele.productCategory}}</td>
              <td>{{ele.productName }}</td>
              <td>{{ele.brandName}}</td>
              <td>{{ele.productSpecification?ele.productSpecification:ele.specifications}}</td>
              <td>{{ele.productUnit}}</td>
              <td [hqVehicleShow]="ele.vehicleInfoList"></td>
              <td>{{ele.storeName?ele.storeName:ele.storeHouse}}</td>
              <td>{{ele.locationName}}</td>
              <td>{{ele.count}}</td>
              <td class="text-right">{{ele.price|centToYuan}}</td>
              <td  class="text-right">{{ele.amount|centToYuan}}</td>
              <td>{{ele.description}}</td>
              <td>{{ele.returnUser?ele.returnUser:ele.returnName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--提交按钮-->
  <div class="card-footer text-muted">
    <button class="btn btn-primary" [disabled]="!(newMainData.length>0)" [hqSpinner]="generat" (click)="OnCreatReturnBill()">生成维修退料单</button>
    <!--<button class="btn btn-secondary" (click)="finishedOrder($event,  confirmModal)">取消</button>-->
    <button class="btn btn-success btn-suspend" [disabled]="!(newMainData.length>0)" (click)="suspend()">挂单</button>
    <button class="btn btn-export" [disabled]="!(mrData.length>0)" options="printOptions" (onConfirm)="onConfirmNumber($event)"
      [hqMutilSelect]="numberPrintList" title="选择流水号" href="#" placement="right">打印</button>
  </div>
  <!--提示是否确认退出-->
  <!--<div bsModal #confirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title">温馨提示</p>
          <button type="button" class="close pull-right" aria-label="Close" (click)="confirmModal.hide();">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <p>您确定要取消退料吗</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onConfirmFinished(confirmModal);">确定</button>
          <button type="button" class="btn btn-secondary" data-dismiss="confirmModal" (click)="confirmModal.hide();">取消</button>
        </div>
      </div>
    </div>
  </div>-->
</div>
<div class="modal fade" bsModal #createModal="bs-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">新增</h5>
        <button class="close pull-right" (click)="createModal.hide()">&times;</button>
      </div>
      <div class="modal-body">
        <hq-maintain-creat *ngIf="createModal.isShown" [inputData]="inputData" (formSubmit)="onCreate($event)"></hq-maintain-creat>
      </div>
    </div>
  </div>
</div>
<hq-maintain-print *ngIf="printList" [hidden]="true" [data]="printList" hqPrint #printer="hq-print"  print-title="华汽汽服燕郊店维修退料单"></hq-maintain-print>