<div class="maintain card">
  <div class="card-header">
    <span>维修退料</span>
    <input container="body" type="text" value="我的挂单" readonly placement="bottom" class="pull-right btn btn-sm textInputBtn" style="margin-right: 55px;">
  </div>
  <div class='card-block'>

    <form class="form-in input-form">
      <input [hqTableTypeahead]="PlatNoSource" [columns]="typeaheadColumns" (onSelect)="onPlateNoSelect($event)" class="form-control input-left"
        placeholder="请输入车牌号/工单号/车主姓名">
      <span class='button-right'>
          <button class="btn btn-info" type="submit">搜索</button>
        </span>
    </form>
    <table class="table search-table">
      <tr>
        <td>车主:</td>
        <td>{{orderDetail?.customerName}}</td>
        <td>VIN:</td>
        <td>{{orderDetail?.vin}}</td>
        <td>维修类型:</td>
        <td>{{orderDetail?.typeName}}</td>
        <td>开单时间：</td>
        <td>{{orderDetail?.createdOnUtc |date:"yyyy/MM/dd HH:mm:ss"}}</td>
      </tr>
    </table>
    <hr>
    <!--维修项目-->
    <a href="#" class="btn btn-info  disabled" role="button" aria-disabled="true">维修项目</a>
    <table class="table table-hover">
      <thead class="thead-default">
        <tr>
          <th>序号</th>
          <th>维修项目</th>
          <th>维修技师</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let item of serviceData;let index=index'>
          <td>{{index+1}}</td>
          <td>{{item.serviceName}}</td>
          <td>{{item.employeeNames}}</td>
        </tr>
      </tbody>
    </table>

    <!--维修退料-->
    <a href="#" class="btn btn-info disabled" role="button" aria-disabled="true">维修退料</a>
    <table class="table table-hover">
      <thead class="thead-default">
        <tr>
          <th>序号</th>
          <th>维修项目</th>
          <th>配件编码</th>
          <th>配件名称</th>
          <th>规格型号</th>
          <th>车型</th>
          <th>仓库</th>
          <th>库位</th>
          <th>数量</th>
          <th>价格</th>
          <th>金额</th>
          <th>备注</th>
          <th>领料人</th>
          <th>退料人</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of returnpart">
          <th scope="row">{{item.a}}</th>
          <td>{{item.b}}</td>
          <td>{{item.c}}</td>
          <td>{{item.d}}</td>
          <td>{{item.e}}</td>
          <td>{{item.f}}</td>
          <td>{{item.h}}</td>
          <td>{{item.i}}</td>
          <td>{{item.g}}</td>
          <td>{{item.k}}</td>
          <td>{{item.l}}</td>
          <td>{{item.m}}</td>
          <td>{{item.n}}</td>
          <td>{{item.o}}</td>
          <td><a href="#">退料</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--提交按钮-->
  <div class="card-footer text-muted">
    <button class="btn btn-primary" (click)="createModal.show()">生成发料单</button>
    <button class="btn btn-warning" [disabled]="!selectedItems?.length" (click)="enabled()">取消</button>
    <button class="btn btn-success" (click)="suspend()">挂单</button>
    <button class="btn btn-info" (click)="export()">打印</button>
  </div>
</div>