<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    编辑车主
  </div>
  <!--填写车主信息表单-->
  <div class="card-block">
    <form [formGroup]="carOwnerForm" autocomplete="off" (ngSubmit)="addCarOwner()">
      <div class="form-group row">
        <label for="customerName" class="col-1 col-form-label"><span class="asterisk mr-1">*</span>车主</label>
        <div class="col-2">
          <input type="text" required class="form-control" formControlName="name" placeholder="车主">
          <input type="hidden" formControlName="id" >
        </div>
        <label for="sex" class="col-1 col-form-label">性别</label>
        <div class="col-2">
          <select id="sex" formControlName="sex" class="form-control">
                <option value="true" [selected]="true">男</option>
                <option value="false">女</option>
                <option value="">保密</option>
              </select>
        </div>
        <label for="birthday" class="col-1 col-form-label">生日</label>
        <div class="col-2">
          <input class="form-control form-control datetime-picker" type="text" formControlName="birthday" ngui-datetime-picker date-format="YYYY-MM-DD"
            date-only="true" />
        </div>
        <label for="identityCard" class="col-1 col-form-label">身份证号</label>
        <div class="col-2">
          <input type="text" class="form-control form-control" formControlName="identityCard" id="identityCard" placeholder="身份证号">
        </div>
      </div>
      <div class="form-group row">
        <label for="phone" class="col-1 col-form-label">手机号</label>
        <div class="col-2">
          <input type="text" class="form-control" formControlName="phone" placeholder="手机号">
        </div>
        <label for="tel" class="col-1 col-form-label">电话</label>
        <div class="col-2">
          <input type="text" class="form-control" formControlName="tel" id="tel" placeholder="电话">
        </div>
        <label for="fax" class="col-1 col-form-label">传真</label>
        <div class="col-2">
          <input type="text" class="form-control" formControlName="fax" placeholder="传真" id="fax">
        </div>
        <label for="email" class="col-1 col-form-label">Email</label>
        <div class="col-2">
          <input type="text" class="form-control" formControlName="email" id="email" placeholder="电子邮箱">
        </div>
      </div>
      <div class="form-group row">
        <label for="province" class="col-1 col-form-label">省份</label>
        <div class="col-2">
          <select #province (change)="onProvinceChange(province.value)" formControlName="province" id="province" class="form-control">
                <option style="display:none">
                <option *ngFor="let province of provincesData" value="{{province.id}},{{province.name}}">{{province.name}}</option>
              </select>
        </div>
        <label for="city" class="col-1 col-form-label">城市</label>
        <div class="col-2">
          <select #city (change)="onCityChange(city.value)" formControlName="city" id="city" class="form-control">
                <option style="display:none">
                <option *ngFor="let city of citiesData" value="{{city.id}},{{city.name}}">{{city.name}}</option>
              </select>
        </div>
        <label for="area" class="col-1 col-form-label">区县</label>
        <div class="col-2">
          <select id="area" #area (change)="onAreaChange(area.value)" formControlName="area" class="form-control">
                <option style="display:none">
                <option  *ngFor="let area of areasData" value="{{area.id}},{{area.name}}">{{area.name}}</option>
              </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="address" class="col-1 col-form-label">详细地址</label>
        <div class="col-5">
          <input type="text" class="form-control form-control" formControlName="address" placeholder="详细地址" id="address">
        </div>
      </div>
    </form>
    <hr>
    <tabset>
      <tab heading="车辆信息">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>操作</th>
              <th><span class="asterisk mr-1">*</span>车牌号</th>
              <th><span class="asterisk mr-1">*</span>品牌</th>
              <th><span class="asterisk mr-1">*</span>车系</th>
              <th><span class="asterisk mr-1">*</span>车型</th>
              <th><span class="asterisk mr-1">*</span>VIN</th>
              <th>发动机号</th>
              <th>车身颜色</th>
              <th>购车日期</th>
              <th>验车日期</th>
              <th>保险到期日期</th>
              <th>保险公司</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vehicle of newVehiclesData">
              <td width="75">
                <!--更新车主信息的时候才显示编辑操作 编辑的时候 有车辆id  添加的时候木有-->
                <a *ngIf="false" href="#" (click)="$event.preventDefault();onEditVehicle(vehicle.id);">编辑|</a>
                <a href="#" (click)="$event.preventDefault();onDelVehicleConfirmHandler(vehicle.plateNo);">删除</a>
              </td>
              <td>{{vehicle.plateNo}}</td>
              <td>{{vehicle.brand}}</td>
              <td>{{vehicle.series}}</td>
              <td>{{vehicle.vehicleName}}</td>
              <td>{{vehicle.engineNo}}</td>
              <td>{{vehicle.vin}}</td>
              <td>{{vehicle.vehicleColor}}</td>
              <td>{{vehicle.purchaseDate|date:"yyyy/MM/dd"}}</td>
              <td>{{vehicle.validate|date:"yyyy/MM/dd"}}</td>
              <td>{{vehicle.insuranceDue|date:"yyyy/MM/dd"}}</td>
              <td>{{vehicle.insuranceCompany}}</td>
            </tr>
          </tbody>
        </table>
        <div>
          <button class="btn btn btn-secondary mr-2" (click)="addVehicleModal.show()">新增车辆</button>
        </div>
      </tab>
    </tabset>
    <hr>
    <div style="text-align:center">
      <button type="button" class="btn btn-secondary" [disabled]="!enableSaveCustomer" (click)="saveCustomer()">保存车主信息</button>
      <button type="button" class="btn btn-secondary" [disabled]="false" (click)="goBack()">返回车主列表</button>
    </div>
  </div>
</div>

<div bsModal #addVehicleModal="bs-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title pull-left">编辑车主信息</h6>
        <button type="button" class="close pull-right" (click)="addVehicleModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <hq-add-vehicle (onAddVehicleCancel)="addVehicleModal.hide()" (onAddVehicleConfirm)="addVehicleModal.hide();onAddVehicleConfirmHandler($event)" ></hq-add-vehicle>
      </div>
    </div>
  </div>
</div>