<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    编辑车主
  </div>
  <!--填写车主信息表单-->
  <div class="card-block">
    <form [formGroup]="carOwnerForm" autocomplete="off">
      <div class="form-group row">
        <div class="hq-input">
          <label for="phone" class="form-label"><span class="asterisk mr-1">*</span>手机号</label>
          <div class="hq-col">
            <input maxlength="11" label="手机号" type="text" class="form-control" formControlName="phone">
          </div>
        </div>
        <div class="hq-input">
          <label for="sex" class="form-label">性别</label>
          <div class="hq-col">
            <select id="sex" formControlName="sex" class="form-control">
                <option value="true" [selected]="true">男</option>
                <option value="false">女</option>
                <option value="">保密</option>
              </select>
          </div>
        </div>
        <div class="hq-input">
          <label for="birthday" class="form-label">生日</label>
          <div class="hq-col">
            <input readonly class="form-control form-control" type="text" formControlName="birthday" ngui-datetime-picker date-format="YYYY-MM-DD"
              date-only="true" />
          </div>
        </div>
        <div class="hq-input">
          <label for="identityCard" class="form-label">身份证号</label>
          <div class="hq-col">
            <input maxlength="18" label="身份证号" type="text" class="form-control form-control" formControlName="identityCard" id="identityCard">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="hq-input">
          <label for="customerName" class="form-label"><span class="asterisk mr-1">*</span>车主</label>
          <div class="hq-col">
            <input maxlength="15" type="text" required class="form-control" formControlName="name">
            <input type="hidden" formControlName="id">
          </div>
        </div>
        <div class="hq-input">
          <label for="tel" class="form-label">电话</label>
          <div class="hq-col">
            <input maxlength="12" label="电话" type="text" class="form-control" formControlName="tel" id="tel">
          </div>
        </div>
        <div class="hq-input">
          <label for="fax" class="form-label">传真</label>
          <div class="hq-col">
            <input maxlength="15" label="传真" type="text" class="form-control" formControlName="fax" id="fax">
          </div>
        </div>
        <div class="hq-input">
          <label for="email" class="form-label">Email</label>
          <div class="hq-col">
            <input maxlength="18" label="电子邮箱" type="text" class="form-control" formControlName="email" id="email">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="hq-input">
          <label for="province" class="form-label">省份</label>
          <div class="hq-col">
            <select #province (change)="onProvinceChange(province.value)" formControlName="province" id="province" class="form-control">
                <option style="display:none">
                <option *ngFor="let province of provincesData" value="{{province.id}},{{province.name}}">{{province.name}}</option>
              </select>
          </div>
        </div>
        <div class="hq-input">
          <label [hidden]="isProvinceLevelMunicipality" for="city" class="form-label">城市</label>
          <label [hidden]="!isProvinceLevelMunicipality" for="city" class="form-label">区县</label>
          <div class="hq-col">
            <select #city (change)="onCityChange(city.value)" formControlName="city" id="city" class="form-control">
                <option style="display:none">
                <option *ngFor="let city of citiesData" value="{{city.id}},{{city.name}}">{{city.name}}</option>
              </select>
          </div>
        </div>
        <div class="hq-input">
          <label [hidden]="isProvinceLevelMunicipality" for="area" class="form-label">区县</label>
          <div [hidden]="isProvinceLevelMunicipality" class="hq-col">
            <select id="area" #area (change)="onAreaChange(area.value)" formControlName="area" class="form-control">
                <option style="display:none">
                <option  *ngFor="let area of areasData" value="{{area.id}},{{area.name}}">{{area.name}}</option>
              </select>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="hq-input" style="width:75%">
          <label for="address" class="form-label">详细地址</label>
          <div class="hq-col">
            <input maxlength="25" type="text" class="form-control form-control" formControlName="address" id="address">
          </div>
        </div>
      </div>
    </form>
    <br>
   <!--(delClick)="onDelVehicleConfirmHandler($event)"-->
    <hq-vehicle-add [data]="newVehiclesData" (addClick)="vehicleModal.show();"  (editClick)="selectedVehicle=$event;vehicleModal.show();" ></hq-vehicle-add>
    <hr>
    <div class="text-center">
      <button [hqSpinner]="generating" type="button" class="btn btn-primary" [disabled]="!enableSaveCustomer" (click)="saveCustomer()">保存车主信息</button>
      <button type="button" class="btn btn-secondary" [disabled]="false" (click)="goBack()">返回车主列表</button>
    </div>
  </div>
</div>

<div hqBsModal #vehicleModal="hq-bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div *ngIf="vehicleModal.isShown" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title pull-left">编辑车主信息</h6>
        <button type="button" class="close pull-right" (click)="vehicleModal.hide();selectedVehicle = null;" aria-label="Close">
          <span aria-hidden="true"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <hq-add-vehicle [vehicle]="selectedVehicle" (onVehicleCancel)="vehicleModal.hide();selectedVehicle = null;" (onVehicleConfirm)="onVehicleConfirmHandler($event, vehicleModal)"></hq-add-vehicle>
      </div>
    </div>
  </div>
</div>