<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    <span>编辑应用</span>
    <div class="pull-right">
      <button routerLink="../../" class="btn btn-sm btn-info">返回</button>
    </div>
  </div>
  <form *ngIf="form" class="card-block" [formGroup]="form" (ngSubmit)="onCreate()">
    <div class="form-group">
      <label class="form-control-label">应用名称</label>
      <input label="应用名称" type="text" formControlName="name" class="form-control" placeholder="请输入应用名称">
    </div>
    <div class="form-group">
      <label class="form-control-label">应用Logo</label>
      <input label="应用Logo" type="text" formControlName="logo" class="form-control" placeholder="请输入应用Logo">
    </div>
    <div class="form-group">
      <label class="form-control-label">显示顺序</label>
      <input type="number" formControlName="displayOrder" class="form-control" placeholder="请输入应用显示顺序">
    </div>
    <div class="form-group">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" formControlName="enabled" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">可用的</span>
      </label>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="submitting" class="btn btn-primary mr-3">提交</button>
      <button type="button" (click)="form.reset(model)" class="btn btn-secondary mr-3">重置</button>
    </div>
  </form>
</div>