.card{
    border: none;
    font-size: 14px;
}
.card-block {
    border: 1px solid #333333;
    font-weight: 400;
}
.card .clearborder{
    border: none;
    padding-top: 0;
    font-size: 12px;
}
.card .clearborder p{
    font-size: 14px;
}
.card-block label {
    width: 70px;
}
.clearborder label{
    text-align: right;
}
caption{
    font-weight: 700;
    caption-side: top;
}
hr {
    border-top: 2px solid #333333;
}
th,td {
    padding: 0.25rem;
    text-align: center;
    white-space: normal; 
}
.nbspx{
    width:70px;
    display: inline-block;
}
.nbspx-sm{
    width:40px;
    display: inline-block;
}
.print .print-bot{
    margin-top:20px;
}
.billCode{
    padding-right: 0;
}