.text-font {
    font-size: 0.875rem;
    color: #727171;
    text-align: left;
}
.table td {
    vertical-align: middle;
}
.table th {
    background: white;
    font-weight: 500;
}
.table caption {
    width: 100%;
    background:#f3f3f4;
    padding: 0.5rem;
}
.container {
    margin-left: 0px !important;
}
.trouble-icon {
    display: inline-block;
    width:15px;
    height: 15px;
}