<form>
  <div class="form-group row">
    <div class="col-4">
      <label>车主: </label> {{data?.name}}
    </div>
    <div class="col-4">
      <label>性别: </label> {{data?.sex}}
    </div>
    <div class="col-4">
      <label>生日: </label> {{data?.birthday|sDate}}
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <div class="col-4">
      <label>身份证号: </label> {{data?.identityCard}}
    </div>
    <div class="col-4">
      <label>手机号: </label> {{data?.phone}}
    </div>
    <div class="col-4">
      <label>电话: </label> {{data?.tel}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4">
      <label>传真: </label> {{data?.fax}}
    </div>
    <div class="col-4">
      <label>Email: </label> {{data?.email}}
    </div>
  </div>
  <br>
  <div class="form-group row">
    <div class="col-4">
      <label>省份: </label> {{data?.cityNameList?.split(',')[0]}}
    </div>
    <div class="col-4">
      <label>城市 : </label> {{data?.cityNameList?.split(',')[1]}}
    </div>
    <div class="col-4">
      <label>区县: </label> {{data?.cityNameList?.split(',')[2]}}
    </div>
  </div>
  <br>
  <div class="form-group row">
    <div class="col-8">
      <label>详细地址: </label> {{data?.address}}
    </div>
  </div>
</form>
<hr>
<tabset>
  <tab heading="车辆信息">
    <div class="overflow-auto">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>车牌号</th>
            <th>品牌</th>
            <th>车系</th>
            <th>车型</th>
            <th>动机号</th>
            <th>VIN</th>
            <th>车身颜色</th>
            <th>购车日期</th>
            <th>验车时间</th>
            <th>保险到期日期</th>
            <th>保险公司</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data?.customerVehicles">
            <td>{{item.plateNo}}</td>
            <td>{{item.brand}}</td>
            <td>{{item.model}}</td>
            <td>{{item.series}}</td>
            <td>{{item.engineNo}}</td>
            <td>{{item.vin}}</td>
            <td>{{item.vehicleColor}}</td>
            <td>{{item.purchaseDate|sDate}}</td>
            <td>{{item.validate|sDate}}</td>
            <td>{{item.insuranceDueDate|sDate}}</td>
            <td>{{item.insuranceCompany}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </tab>
</tabset>