<table class="table table-order-info table-bordered">
  <tbody>
    <tr>
      <td class="fixed-width">车主</td>
      <td>{{data?.name}}</td>
      <td class="fixed-width">性别</td>
      <td>
        {{data?.sex}}
      </td>
    </tr>
    <tr>
      <td class="fixed-width">生日</td>
      <td>{{data?.birthday|sDate}}</td>
      <td class="fixed-width">身份证号</td>
      <td>{{data?.identityCard}}</td>
    </tr>
    <tr>
      <td class="fixed-width">手机号</td>
      <td>{{data?.phone}}</td>
      <td class="fixed-width">电话</td>
      <td>{{data?.tel}}</td>
    </tr>
    <tr>
      <td class="fixed-width">传真</td>
      <td>{{data?.fax}}</td>
      <td class="fixed-width">Email</td>
      <td>{{data?.email}}</td>
    </tr>
    <tr>
      <td class="fixed-width">省份</td>
      <td>{{data?.cityNameList?.split(',')[0]}}</td>
      <td class="fixed-width">城市</td>
      <td>{{data?.cityNameList?.split(',')[1]}}</td>
    </tr>
    <tr>
      <td class="fixed-width">区县</td>
      <td>{{data?.cityNameList?.split(',')[1]}}</td>
      <td class="fixed-width">详细地址</td>
      <td>{{data?.address}}
      </td>
    </tr>
  </tbody>
</table>
<tabset>
  <tab>
    <template tabHeading>
      <i class="fa fa-car mr-2" aria-hidden="true"></i>车辆信息
    </template>
    <div class="table-container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>车牌号</th>
            <th>品牌</th>
            <th>车系</th>
            <th>车型</th>
            <th>动机号</th>
            <th>VIN</th>
            <th>车身颜色</th>
            <th>购车日期</th>
            <th>验车时间</th>
            <th>保险到期日期</th>
            <th>保险公司</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data?.customerVehicles">
            <td>{{item.plateNo}}</td>
            <td>{{item.brand}}</td>
            <td>{{item.model}}</td>
            <td>{{item.series}}</td>
            <td>{{item.engineNo}}</td>
            <td>{{item.vin}}</td>
            <td>{{item.vehicleColor}}</td>
            <td>{{item.purchaseDate|sDate}}</td>
            <td>{{item.validate|sDate}}</td>
            <td>{{item.insuranceDueDate|sDate}}</td>
            <td>{{item.insuranceCompany}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </tab>
</tabset>