<table class="table table-order-info table-bordered">
  <tbody>
    <tr>
      <td class="fixed-width">车主</td>
      <td>{{data?.name}}</td>
      <td class="fixed-width">性别</td>
      <td>
        {{data?.sex}}
      </td>
    </tr>
    <tr>
      <td class="fixed-width">生日</td>
      <td>{{data?.birthday|sDate}}</td>
      <td class="fixed-width">身份证号</td>
      <td>{{data?.identityCard}}</td>
    </tr>
    <tr>
      <td class="fixed-width">手机号</td>
      <td>{{data?.phone}}</td>
      <td class="fixed-width">电话</td>
      <td>{{data?.tel}}</td>
    </tr>
    <tr>
      <td class="fixed-width">传真</td>
      <td>{{data?.fax}}</td>
      <td class="fixed-width">Email</td>
      <td>{{data?.email}}</td>
    </tr>
    <tr>
      <td class="fixed-width">省份</td>
      <td>{{data?.cityNameList?.split(',')[0]}}</td>
      <td class="fixed-width">城市</td>
      <td>{{data?.cityNameList?.split(',')[1]}}</td>
    </tr>
    <tr>
      <td class="fixed-width">区县</td>
      <td>{{data?.cityNameList?.split(',')[1]}}</td>
      <td class="fixed-width">详细地址</td>
      <td>{{data?.address}}
      </td>
    </tr>
  </tbody>
</table>
<hq-vehicle-list [data]="data?.customerVehicles"></hq-vehicle-list>