table.table-order-info{
     table-layout: fixed;
}
.table-order-info td{
    text-align: left;
    padding-left: 1.1rem !important;
    color: #727171;
}
.table-order-info td.fixed-width {
    width: 85px;
}