<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    <span>编辑资源分组</span>
    <div class="pull-right">
      <a routerLink="../../" class="btn btn-sm btn-info">返回</a>
    </div>
  </div>
  <form *ngIf="form" class="card-block" [formGroup]="form" (ngSubmit)="onUpdate()">
    <div class="form-group">
      <label class="form-control-label">分组名称</label>
      <input label="分组名称" type="text" formControlName="groupName" class="form-control">
    </div>
    <div class="form-group">
      <label class="form-control-label">分组显示顺序</label>
      <input label="显示顺序" type="number" formControlName="displayOrder" class="form-control">
    </div>
    <div class="form-group">
      <label class="form-control-label">分组描述</label>
      <textarea label="描述" formControlName="description" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" formControlName="enabled" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">可用的</span>
      </label>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="submitting" class="btn btn-primary mr-3">提交</button>
      <button type="button" (click)="form.reset(model)" class="btn btn-secondary mr-3">重置</button>
    </div>
  </form>
</div>