<hq-alerter [service]="alerter"></hq-alerter>
<div class="card">
  <div class="card-header">
    <span>资源列表</span>
    <div class="pull-right">
      <a routerLink="create" class="btn btn-sm btn-primary" translate>add</a>
    </div>
  </div>
  <div class="card-block">
    <form class="form-inline mb-2" (ngSubmit)="onLoadList()">
      <select name="groupId" class="form-control mb-2 mr-2" [(ngModel)]="params.groupId">
        <option value>全部分组</option>
        <option *ngFor="let item of groups" value="{{item.value}}">{{item.text}}</option>
      </select>
      <select name="languageId" class="form-control mb-2 mr-2" [(ngModel)]="params.languageId">
        <option value>全部语言</option>
        <option *ngFor="let item of languages" value="{{item.id}}">{{item.name}}</option>
      </select>
      <input type="text" class="form-control mb-2 mr-2" [(ngModel)]="params.key" name="key" placeholder="请输入资源名称">
      <button type="submit" class="btn btn-primary mb-2 mr-2" translate>search</button>
    </form>
    <table class="table table-bordered table-sm table-striped">
      <thead>
        <tr>
          <th translate>language</th>
          <th translate>key</th>
          <th translate>value</th>
          <th translate>display.order</th>
          <th translate>create.time</th>
          <th translate>status</th>
          <th translate>operator</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td>{{ item.languageName }}</td>
          <td>{{ item.key }}</td>
          <td>{{ item.value}}</td>
          <td>{{ item.displayOrder}}</td>
          <td>{{ item.createdOnUtc|date:'y-MM-dd HH:mm:ss'}}</td>
          <td><i class="fa fa-{{ item.enabled?'check':'times' }}"></i></td>
          <td>
            <a [routerLink]="['edit',item.id]" class="btn btn-sm btn-success" title="编辑"><i class="fa fa-pencil-square-o"></i></a>
            <a (click)="onDelete($event,item.id)" class="btn btn-sm btn-danger" title="删除"><i class="fa fa-trash-o"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" (pageChanged)="onPageChanged($event)"></hq-pagination>
  </div>
</div>