<form>
  <div class="form-group row">
    <div class="col-4">
      <label>车牌号：</label>
      <span>{{data?.plateNo}}</span>
    </div>
    <div class="col-4">
      <label>车型：</label>
      <span *ngIf="data?.brand">{{data?.brand}}</span>
      <span *ngIf="data?.series">,{{data?.series}}</span>
      <span *ngIf="data?.vehicleName">,{{data?.vehicleName}}</span>
    </div>
    <div class="col-4">
      <label>VIN：</label>
      <span>{{data?.vin}}</span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4">
      <label>送修人：</label>
      <span>{{data?.contactUser}}</span>
    </div>
    <div class="col-4">
      <label>送修人手机：</label>
      <span>{{data?.contactInfo}}</span>
    </div>
    <div class="col-4">
      <label>工单号：</label>
      <span>{{data?.billCode}}</span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4">
      <label>车主：</label>
      <span>{{data?.customerName}}</span>
    </div>
    <div class="col-4">
      <label>车主电话：</label>
      <span>{{data?.phone}}</span>
    </div>
    <div class="col-4">
      <label>购车日期：</label>
      <span>{{data?.purchaseDate|sDate}}</span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4">
      <label>验车日期：</label>
      <span>{{data?.validate|sDate}}</span>
    </div>
    <div class="col-4">
      <label>预计交车时间：</label>
      <span>{{data?.expectLeave|sDatetime}}</span>
    </div>
    <div class="col-4">
      <label>维修技师：</label>
      <span>{{data?.employeeNames}}</span>
      <!--如果转派  追加显示转派人-->
      <!--<span *ngIf="data?.teamType === 2">,{{data?.turnEmployeeNames}}</span>-->
      <!-- teamType (string, optional): 工单指派类型 0.没指派 1.指派 2.转派 -->
      <!--<span *ngIf="teamType === 1">{{data?.employeeNames.join(',')}}</span>
        <span *ngIf="teamType === 2">{{data?.turnEmployeeNames.join(',')}}</span>-->
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4">
      <label>服务顾问：</label>
      <span>{{data?.createdUserName}}</span>
    </div>
    <div class="col-4">
      <label>介绍人：</label>
      <span>{{data?.introducer}}</span>
    </div>
    <div class="col-4">
      <label>介绍人电话：</label>
      <span>{{data?.introPhone}}</span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4">
      <label>维修类型：</label>
      <span>{{data?.typeName}}</span>
    </div>
    <div class="col-4">
      <label>超时</label>
      <span>{{data?.overTime|durationHumanize}}</span>
    </div>
    <div class="col-4" *ngIf="data?.settlementParty">
      <label>结算方:</label>
      <span>{{data?.settlementParty}}</span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4" *ngIf="data?.settlementCode">
      <label>结算单号:</label>
      <span>{{data?.settlementCode}}</span>
    </div>
    <div class="col-4" *ngIf="data?.updateUser">
      <label>结算员:</label>
      <span>{{data?.updateUser}}</span>
    </div>
    <div class="col-4" *ngIf="data?.updateOnUtc">
      <label>结算时间：</label>
      <span>{{data?.updateOnUtc|sDatetime}}</span>
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <div class="col-4">
      <label>进厂时间：</label>
      <span>{{data?.createdOnUtc|sDatetime}}</span>
    </div>
    <div class="col-4">
      <label>进厂里程：</label>
      <span>{{data?.mileage}}</span>
      <span class="ml-2">KM</span>
    </div>
    <div class="col-4" *ngIf="data?.leaveMileage">
      <label>出厂里程：</label>
      <span>{{data?.leaveMileage}}</span>
      <span class="ml-2" *ngIf="data.leaveMileage">KM</span>
    </div>
  </div>
</form>
<hr>
<tabset>
  <tab heading="维修项目" *ngIf="data?.serviceOutputs?.length>0">
    <hq-maintenance-item-list [serviceOutputs]="data?.serviceOutputs"></hq-maintenance-item-list>
  </tab>
  <tab heading="维修配件" *ngIf="data?.productOutputs?.length>0">
    <div class="overflow-auto">
      <hq-maintenance-fixings-list [productOutputs]="data?.productOutputs"></hq-maintenance-fixings-list>
    </div>
  </tab>
  <tab heading="附加项目" *ngIf="data?.attachServiceOutputs?.length>0">
    <hq-attachment-item-list [attachServiceOutputs]="data?.attachServiceOutputs"></hq-attachment-item-list>
  </tab>
  <tab heading="建议维修项目" *ngIf="data?.suggestServiceOutputs?.length>0">
    <hq-suggested-item-list [suggestServiceOutputs]="data?.suggestServiceOutputs"></hq-suggested-item-list>
  </tab>
</tabset>