<hq-workorder-basic-info [data]="data"></hq-workorder-basic-info>
<hr>
<tabset>
  <tab heading="维修项目" *ngIf="data?.serviceOutputs?.length>0">
    <hq-maintenance-item-list [serviceOutputs]="data?.serviceOutputs"></hq-maintenance-item-list>
  </tab>
  <tab heading="维修配件" *ngIf="data?.productOutputs?.length>0">
    <div class="table-container">
      <hq-maintenance-fixings-list [productOutputs]="data?.productOutputs"></hq-maintenance-fixings-list>
    </div>
  </tab>
  <tab heading="附加项目" *ngIf="data?.attachServiceOutputs?.length>0">
    <hq-attachment-item-list [attachServiceOutputs]="data?.attachServiceOutputs"></hq-attachment-item-list>
  </tab>
  <tab heading="建议维修项目" *ngIf="data?.suggestServiceOutputs?.length>0">
    <hq-suggested-item-list [suggestServiceOutputs]="data?.suggestServiceOutputs"></hq-suggested-item-list>
  </tab>
</tabset>