table th,table td{
     text-overflow:ellipsis; 
     white-space:nowrap; 
     overflow:hidden;
     text-align: center;
     color: #727171;
}
.append-order .container .row{
    height: 3rem;
  
}
.append-order .container .row div{
       text-overflow:ellipsis; 
     white-space:nowrap; 
     overflow:hidden;
}
.mg{
    margin-bottom:2rem;
}
.table-order-info td{
    text-align: left;
    padding-left: 1.1rem !important;
    width: 25%;
}
.hqTableTypeahead table td{
text-align: center !important;
}
table .tr-left-bold{
    text-align: left;
    font-weight: bold;
    padding-left: 1.1rem !important;
}

input[disabled] {
  background: #f7f8f8;
}
.card-block {
  padding-top: 0.625rem;
}
.btn-color {
  background:#27b394 !important;
}
.btn-secondary {
  border: none;
  color: #727171;
  font-weight: bold;
  font-size: 0.875rem;
  margin: 10px auto;
}
.fa-plus-circle {
  font-size: 1.25rem;
  vertical-align: middle;
}
.fa-plus-circle:before {
  color: #27b394;
  font-size: 1.6rem;
}
.fa-times-circle {
  font-size: 1rem;
  vertical-align: middle;
  font-weight: normal;
} 
.form-inline{
  margin-bottom: .8rem;
  margin-left: -3px;
}
