<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    <label>销售出库</label>
    <ng-template hqSalesOutBill (onRemove)="onSuspendRemove($event)" (onSelect)="onSuspendSelect($event)"></ng-template>
  </div>
  <div class="card-block">
    <form #form="ngForm" class="form-inline mb-2">
      <div class="input-group m-1">
        <label class="input-group-addon">客户名称</label>
        <input class="form-control" hqCustomerTypeahead (onSelect)="onCustomerSelect($event)" name="custName" required [(ngModel)]="model.custName"
          placeholder="请输入客户名称">
      </div>
      <div class="input-group m-1">
        <label class="input-group-addon">手机号</label>
        <input class="form-control" hqMobile required name="custPhone" [(ngModel)]="model.custPhone" placeholder="请输入手机号">
      </div>
      <div class="input-group m-1">
        <label class="input-group-addon">销售员</label>
        <select class="form-control" required name="seller" [(ngModel)]="model.seller">
          <option *ngFor="let item of salesmen" [value]="item.value">{{item.text}}</option>
        </select>
      </div>
      <div class="input-group m-1">
        <label class="input-group-addon">结算方式</label>
        <select class="form-control" required name="settlementMethodId" [(ngModel)]="model.settlementMethodId">
          <option *ngFor="let item of settlements" [value]="item.id">{{item.value}}</option>
        </select>
      </div>
      <div class="form-group">
        <button [disabled]="form.invalid" (click)="createModal.show()" class="btn btn-primary">新增</button>
      </div>
    </form>
    <hr>
    <div class="table-caption">销售出库</div>
    <div class="table-container">
      <table hqHeaderFixed class="table table-bordered">
        <thead>
          <tr>
            <th>操作</th>
            <th>序号</th>
            <th>配件编码</th>
            <th>配件分类</th>
            <th>配件名称</th>
            <th>品牌</th>
            <th>规格型号</th>
            <th>仓库</th>
            <th>库位</th>
            <th>库存量</th>
            <th>单价（元）</th>
            <th>数量</th>
            <th>金额（元）</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of model?.list;let index = index">
            <td class="text-center"><button (click)="onProductRemove(item)" class="btn btn-sm btn-danger">删除</button></td>
            <td class="text-center">{{index+1}}</td>
            <td class="text-center">{{item.productCode }}</td>
            <td>{{item.productCategory}}</td>
            <td>{{item.productName}}</td>
            <td>{{item.brandName }}</td>
            <td>{{item.productSpecification}}</td>
            <td>{{item.houseName }}</td>
            <td>{{item.locationName }}</td>
            <td class="text-center">{{item.stockCount}}</td>
            <td class="text-right">{{item.price|centToYuan }}</td>
            <td class="text-center">{{item.count}}</td>
            <td class="text-right">{{item.amount|centToYuan }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-muted">
    <button [hqSpinner]="generating" [disabled]="form.invalid||!model?.list?.length" class="btn btn-primary" (click)="generate($event)">生成销售出库单</button>
    <button [hqSpinner]="suspendBill.suspending" [disabled]="form.invalid||!model?.list?.length" class="btn btn-success btn-suspend"
      (click)="suspend($event)">挂单</button>
  </div>
</div>

<div hqModal #createModal="hq-modal" modalTitle="新增" size="lg">
  <hq-sales-create *ngIf="createModal.isShown" (onSubmit)="onCreated($event)"></hq-sales-create>
</div>

<hq-sales-print class="invisible" hqPrint #printer="hq-print" print-title="销售出库单" [model]="printModel"></hq-sales-print>