<table class="table table-order-info table-bordered">
  <tbody>
    <tr>
      <td class="fixed-width">车牌号</td>
      <td>{{data?.plateNo}}</td>
      <td class="fixed-width">车型</td>
      <td>
        <span *ngIf="data?.brand">{{data?.brand}}</span>
        <span *ngIf="data?.series">,{{data?.series}}</span>
        <span *ngIf="data?.vehicleName">,{{data?.vehicleName}}</span>
      </td>
    </tr>
    <tr>
      <td class="fixed-width">VIN</td>
      <td>{{data?.vin}}</td>
      <td class="fixed-width">送修人</td>
      <td>{{data?.contactUser}}</td>
    </tr>
    <tr>
      <td class="fixed-width">送修人手机</td>
      <td>{{data?.contactInfo}}</td>
      <td class="fixed-width">工单号</td>
      <td>{{data?.billCode}}</td>
    </tr>
    <tr>
      <td class="fixed-width">车主</td>
      <td>{{data?.customerName}}</td>
      <td class="fixed-width">车主电话</td>
      <td>{{data?.phone}}</td>
    </tr>
    <tr>
      <td class="fixed-width">购车日期</td>
      <td>{{data?.purchaseDate|sDate}}</td>
      <td class="fixed-width">验车日期</td>
      <td>{{data?.validate|sDate}}</td>
    </tr>
    <tr>
      <td class="fixed-width">预计交车时间</td>
      <td>{{data?.expectLeave|sDate}}</td>
      <td class="fixed-width">维修技师</td>
      <td>{{data?.employeeNames}}
      </td>
    </tr>
    <tr>
      <td class="fixed-width">服务顾问</td>
      <td>{{data?.createdUserName}}</td>
      <td class="fixed-width">介绍人</td>
      <td>{{data?.introducer}}</td>
    </tr>
    <tr>
      <td class="fixed-width">介绍人电话</td>
      <td>{{data?.introPhone}}</td>
      <td class="fixed-width">维修类型</td>
      <td>{{data?.typeName}}</td>
    </tr>
    <tr>
      <td class="fixed-width">超时</td>
      <td>{{data?.overTime|durationHumanize}}</td>
      <td class="fixed-width">结算方</td>
      <td>{{data?.updateUser}}</td>
    </tr>
    <tr>
      <td class="fixed-width">结算时间</td>
      <td>{{data?.updateOnUtc|sDatetime}}</td>
      <td class="fixed-width">进厂时间</td>
      <td>{{data?.createdOnUtc|sDatetime}}</td>
    </tr>
    <tr>
      <td class="fixed-width">进厂里程</td>
      <td>{{data?.mileage}}</td>
      <td class="fixed-width">出厂里程</td>
      <td>{{data?.leaveMileage}}</td>
    </tr>
  </tbody>
</table>