table.table-order-info{
     table-layout: fixed;
}

table.table-order-info td {
    vertical-align: middle;
}

.table-order-info td{
    text-align: left;
    /*width: 25%;*/
    color: #727171;
    text-overflow: ellipsis;
    overflow: hidden;
}
td.fixed-width {
    width: 100px;
}