<ng-template hq-alerter></ng-template>
<div class="card">
  <!--<div class="card-header">
    创建盘点清单
  </div>-->
  <div class="card-block">
    <form class="form-inline mb-2" (ngSubmit)="onLoadList()">
      <div class="form-group mb-2">
        <label>选择仓库：</label>
        <select (change)="onSelectHouse($event)" class="form-control mx-sm-3" name="inventoryId" [(ngModel)]="params.inventoryId">
          <option *ngFor="let item of houses" value="{{item.value}}">{{item.text}}</option>
        </select>
      </div>
      <div class="form-group mb-2">
        <label class="mr-sm-2">选择库位：</label>
        <input class="form-control mx-sm-3" [hq-mutil-selector]="locations" placeholder="点击选择库位" />
      </div>
      <div class="form-group mb-2">
        <button type="submit" class="btn btn-primary mx-sm-3" translate>search</button>
      </div>
    </form>
    <table class="table table-bordered table-sm table-striped">
      <thead>
        <tr>
          <th translate>序号</th>
          <th translate>品牌</th>
          <th translate>配件编码</th>
          <th translate>配件名称</th>
          <th translate>规格型号</th>
          <th translate>数量</th>
          <th translate>仓库</th>
          <th translate>库位</th>
          <th translate>成本</th>
          <th translate>账面库存</th>
          <th translate>清点数</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td>{{item.number}}</td>
          <td>{{ item.productBrand }}</td>
          <td>{{item.productCode }}</td>
          <td>{{item.productName }}</td>
          <td>{{ item.productSpecification }}</td>
          <td>{{item.count }}</td>
          <td>{{item.houseName}}</td>
          <td>{{ item.locationName}}</td>
          <td>{{item.price }}</td>
          <td>{{item.stock}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" (pageChanged)="onPageChanged($event)"></hq-pagination>
  </div>
  <div class="card-footer text-muted">
    <button class="btn btn-primary" (click)="generator()">生成盘点清单</button>
    <button class="btn btn-secondary" (click)="cancel()">取消</button>
  </div>
</div>