<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    新增车主
  </div>
  <!--填写车主信息表单-->
  <div class="card-block">
    <hq-customer-add-form #customerForm (formValueChanges)="enableSaveCustomer=$event" (load)="enableSaveCustomer=$event.isFormValid;newVehiclesData=$event.vehicles"></hq-customer-add-form>
    <br>
    <!--(delClick)="onDelVehicleConfirmHandler($event)"-->
    <hq-vehicle-add [data]="newVehiclesData" (addClick)="vehicleModal.show();" (editClick)="selectedVehicle=$event;vehicleModal.show();"></hq-vehicle-add>
    <hr>
    <div class="text-center">
      <button [hqSpinner]="generating" type="button" class="btn btn-primary" [disabled]="!enableSaveCustomer" (click)="saveCustomer()">保存车主信息</button>
      <button type="button" class="btn btn-secondary" [disabled]="false" (click)="goBack()">返回车主列表</button>
    </div>
  </div>
</div>

<div hqModal #vehicleModal="hq-modal" size="lg" (onHide)="selectedVehicle = null;"  modalTitle="新增车辆">
  <hq-add-vehicle *ngIf="vehicleModal.isShown" [vehicle]="selectedVehicle" (onVehicleCancel)="vehicleModal.hide();selectedVehicle = null;"
    (onVehicleConfirm)="onVehicleConfirmHandler($event, vehicleModal)"></hq-add-vehicle>
</div>