<tabset>
  <tab *ngIf="selectedOrder?.serviceOutputs?.length>0">
    <template tabHeading>
      <i class="fa fa-clone mr-2" aria-hidden="true"></i>维修项目
    </template>
    <div class="table-container">
      <ng-content select="table"></ng-content>
    </div>
    <br>
    <ng-content select="div"></ng-content>
  </tab>
 <tab *ngIf="selectedOrder?.productOutputs?.length>0">
    <template tabHeading>
      <i class="fa fa-wrench mr-2" aria-hidden="true"></i>维修配件
    </template>
    <div class="table-container">
      <hq-maintenance-fixings-list [productOutputs]="selectedOrder?.productOutputs"></hq-maintenance-fixings-list>
    </div>
  </tab>
  <tab style="max-height:300px;overflow:auto" *ngIf="selectedOrder?.preCheckOrder" >
    <template tabHeading>
      <i class="fa fa-clipboard mr-2" aria-hidden="true"></i>预检单
    </template>
    <hq-pre-check-order-detail [data]="selectedOrder?.preCheckOrder"></hq-pre-check-order-detail>
  </tab>
  <!--<tab *ngIf="selectedOrder?.attachServiceOutputs?.length>0">
    <template tabHeading>
      <i class="fa fa-wrench mr-2" aria-hidden="true"></i>附加项目
    </template>
    <div class="table-container">
      <hq-attachment-item-list [attachServiceOutputs]="selectedOrder.attachServiceOutputs"></hq-attachment-item-list>
    </div>
  </tab>
  <tab *ngIf="selectedOrder?.suggestServiceOutputs?.length>0">
    <template tabHeading>
      <i class="fa fa-wpforms mr-2" aria-hidden="true"></i>建议维修项目
    </template>
    <div class="table-container">
      <hq-suggested-item-list [suggestServiceOutputs]="selectedOrder?.suggestServiceOutputs"></hq-suggested-item-list>
    </div>
  </tab>-->
</tabset>