<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    HTTP日志列表
  </div>
  <div class="card-block">
    <form class="form-inline mb-2">
      <input type="text" class="form-control mb-2 mr-2" placeholder="请输入菜单名称">
      <button type="submit" class="btn btn-primary mb-2 mr-2">查询</button>
    </form>
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th translate>application</th>
          <th translate>environment</th>
          <th translate>endpoint</th>
          <th translate>request.url</th>
          <th translate>http.method</th>
          <th translate>response.code</th>
          <th translate>timestamp</th>
          <th translate>time.consuming</th>
          <th translate>operators</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td>{{ item.applicationName }}</td>
          <td class="text-center">{{item.environmentName}}</td>
          <td>{{item.endpoint}}</td>
          <td><clipped-word length="20" [content]="item.requestedUrl"></clipped-word></td>
          <td class="text-center">{{ item.requestMethod }}</td>
          <td class="text-center">{{item.responseCode}}</td>
          <td class="text-center">{{item.timestamp|sDatetime}}</td>
          <td class="text-right">{{item.takeTime|number:'1.3'}}</td>
          <td class="text-center">
            <a (click)="showModal(item.id)" class="btn btn-sm btn-info" title="详情"><i class="fa fa-info-circle"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" [(itemsPerPage)]="size" (pageChanged)="onPageChanged($event)"></hq-pagination>
  </div>
</div>

<div hqBsModal #detailModal="hq-bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" aria-label="Close" (click)="detailModal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="model">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" translate>session.id</label>
          <div class="col-sm-10">
            <p class="form-control-static mb-0">{{model.sessionId}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" translate>level</label>
          <div class="col-sm-10">
            <p class="form-control-static mb-0">{{model.logLevel}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" translate>application</label>
          <div class="col-sm-10">
            <p class="form-control-static mb-0">{{model.applicationName}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" translate>timestamp</label>
          <div class="col-sm-10">
            <p class="form-control-static mb-0">{{model.timestamp|date:"yyyy/MM/dd HH:mm:ss"}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" translate>environment</label>
          <div class="col-sm-10">
            <p class="form-control-static mb-0">{{model.environmentName}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" translate>source</label>
          <div class="col-sm-10">
            <p class="form-control-static mb-0">{{model.sourceName}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" translate>endpoint</label>
          <div class="col-sm-10">
            <p class="form-control-static mb-0">{{model.endpoint}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" translate>request.url</label>
          <div class="col-sm-10">
            <p class="form-control-static mb-0">{{model.requestedUrl}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" translate>request.header</label>
          <div class="col-sm-10">
            <p class="form-control-static mb-0">{{model.requestHeaders}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" translate>request.body</label>
          <div class="col-sm-10">
            <p class="form-control-static mb-0">{{model.requestBody}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" translate>response.code</label>
          <div class="col-sm-10">
            <p class="form-control-static mb-0">{{model.responseCode}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" translate>response.header</label>
          <div class="col-sm-10">
            <p class="form-control-static mb-0">{{model.responseHeaders}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" translate>response.body</label>
          <div class="col-sm-10">
            <p class="form-control-static mb-0">{{model.responseBody}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" translate>cached</label>
          <div class="col-sm-10">
            <p class="form-control-static mb-0">{{model.isFromCache}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" translate>time.consuming</label>
          <div class="col-sm-10">
            <p class="form-control-static mb-0">{{model.takeTime}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>