<table class="table table-order-info table-bordered">
  <tbody>
    <tr>
      <td>车牌号</td>
      <td>{{data?.plateNo}}</td>
      <td>车型</td>
      <td>{{data?.model}}</td>
    </tr>
    <tr>
      <td>VIN</td>
      <td>{{data?.vin}}</td>
      <td>送修人</td>
      <td>{{data?.contactUser}}</td> 
    </tr>
    <tr>
      <td>送修人手机</td>
      <td>{{data?.contactInfo}}</td>
      <td>工单号</td>
      <td>{{data?.billCode}}</td>
    </tr>
    <tr>
      <td>车主</td>
      <td>{{data?.customerName}}</td>
      <td>车主电话</td>
      <td>{{data?.customerPhone}}</td>
    </tr>
    <tr>
      <td>预计交车时间</td>
      <td>{{data?.deliveryTime}}</td>
      <td>维修技师</td>
      <td>{{data?.technicianItems}}</td>
    </tr>
    <tr>
      <td>服务顾问</td>
      <td>{{data?.createdUserName}}</td>
      <td>介绍人</td>
      <td>{{data?.introduceName}}</td>
    </tr>
    <tr>
      <td>介绍人电话</td>
      <td>{{data?.introducePhone}}</td>
      <td>维修类型</td>
      <td>{{data?.typeName}}</td>
    </tr>
    <tr>
      <td>结算方</td>
      <td>{{data?.settlementParty}}</td>
      <td>结算单号</td>
      <td>{{data?.settlementCode}}</td>
    </tr>
    <tr>
      <td>结算员</td>
      <td>{{data?.updateUser}}</td>
      <td>结算时间</td>
      <td>{{data?.updateOnUtc|sDatetime}}</td>
    </tr>
    <tr>
      <td>进厂时间</td>
      <td>{{data?.createdOnUtc|sDatetime}}</td>
      <td>进厂里程(KM)</td>
      <td>{{data?.mileage}}</td>
    </tr>
    <tr>
      <td>出厂里程(KM)</td>
      <td>{{data?.leaveMileage}}</td>
      <td>出厂时间</td>
      <td>{{data?.updataTime|sDatetime}}</td>
    </tr>
  </tbody>
</table>
<tabset>
  <tab *ngIf="data?.workHours?.length>0" class="table-container">
    <template tabHeading>
      <i class="fa fa-clone" aria-hidden="true"></i>维修项目 
    </template>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>项目名称</th>
          <th>维修工时(小时)</th>
          <th>工时单价(元)</th>
          <th>金额(元)</th>
          <th>折扣率(%)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of data?.workHours">
          <td style="position:relative;">{{record?.serviceName}}<span *ngIf="record.type === 3" class="append-stamp">增项</span>
            <span [class.accept-stamp]="record.teamType === 6"></span></td>
          <td>{{record?.workHour}}</td>
          <td  class="text-right">{{record?.price|centToYuan}}</td>
          <td  class="text-right">{{record?.discountCost|centToYuan}}</td>
          <td>{{record?.discount}}</td>
        </tr>
      </tbody>
    </table>
  </tab>
  <tab *ngIf="data?.matereialDetails?.length>0"  class="table-container">
    <template tabHeading>
      <i class="fa fa-wrench" aria-hidden="true"></i>维修配件
    </template>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>维修工项</th>
          <th>配件名称</th>
          <th>品牌</th>
          <th>规格型号</th>
          <th>数量</th>
          <th>单价(元)</th>
          <th>金额(元)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of data?.matereialDetails">
          <td style="position:relative;">{{record?.serviceName}} <span *ngIf="record.type === 3" class="append-stamp">增项</span>
            <span [class.accept-stamp]="record.teamType === 6"></span></td>
          <td>{{record?.productName}}</td>
          <td>{{record?.brandName}}</td>
          <td>{{record?.specification}}</td>
          <td>{{record?.count}}</td>
          <td  class="text-right">{{record?.price|centToYuan}}</td>
          <td  class="text-right">{{record?.amount|centToYuan}}</td>
        </tr>
      </tbody>
    </table>
  </tab>
  <tab *ngIf="data?.appendItems?.length>0"  class="table-container">
    <template tabHeading>
      <i class="fa fa-plus-square" aria-hidden="true"></i>附加项目
    </template>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>备注</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of data?.appendItems">
          <td>{{record?.name}}</td>
        </tr>
      </tbody>
    </table>
  </tab>
  <tab *ngIf="data?.adviceItems?.length>0"  class="table-container">
    <template tabHeading>
      <i class="fa fa-wpforms" aria-hidden="true"></i>建议维修项目
    </template>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>建议维修项目</th>
          <th>备注</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of data?.adviceItems">
          <td>{{record?.content}}</td>
          <td>{{record?.description}}</td>
        </tr>
      </tbody>
    </table>
  </tab>
</tabset>