<form>
  <div class="form-group row">
    <div class="col-4">
      <label>车牌号：</label>
      <span>{{data?.plateNo}}</span>
    </div>
    <div class="col-4">
      <label>车型：</label>
      <span>{{data?.model}}</span>
    </div>
    <div class="col-4">
      <label>VIN：</label>
      <span>{{data?.vin}}</span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4">
      <label>送修人：</label>
      <span>{{data?.contactUser}}</span>
    </div>
    <div class="col-4">
      <label>送修人手机：</label>
      <span>{{data?.contactInfo}}</span>
    </div>
    <div class="col-4">
      <label>工单号：</label>
      <span>{{data?.billCode}}</span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4">
      <label>车主：</label>
      <span>{{data?.customerName}}</span>
    </div>
    <div class="col-4">
      <label>车主电话：</label>
      <span>{{data?.customerPhone}}</span>
    </div>
    <div class="col-4">
      <label>预计交车时间：</label>
      <span>{{data?.deliveryTime}}</span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4">
      <label>维修技师：</label>
      <span>{{data?.technicianItems}}</span>
      <!--如果转派  追加显示转派人-->
      <!--<span *ngIf="data?.teamType === 2">,{{data?.turnEmployeeNames}}</span>-->
      <!-- teamType (string, optional): 工单指派类型 0.没指派 1.指派 2.转派 -->
      <!--<span *ngIf="teamType === 1">{{data?.employeeNames.join(',')}}</span>
        <span *ngIf="teamType === 2">{{data?.turnEmployeeNames.join(',')}}</span>-->
    </div>
    <div class="col-4">
      <label>服务顾问：</label>
      <span>{{data?.createdUserName}}</span>
    </div>
    <div class="col-4">
      <label>介绍人：</label>
      <span>{{data?.introduceName}}</span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4">
      <label>介绍人电话：</label>
      <span>{{data?.introducePhone}}</span>
    </div>
    <div class="col-4">
      <label>维修类型：</label>
      <span>{{data?.typeName}}</span>
    </div>
    <div class="col-4">
      <label>结算方:</label>
      <span>{{data?.settlementParty}}</span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4">
      <label>结算单号:</label>
      <span>{{data?.settlementCode}}</span>
    </div>
    <div class="col-4">
      <label>结算员:</label>
      <span>{{data?.updateUser}}</span>
    </div>
    <div class="col-4">
      <label>结算时间：</label>
      <span>{{data?.updateOnUtc|sDatetime}}</span>

    </div>
  </div>

  <hr>
  <div class="form-group row">
    <div class="col-4">
      <label>进厂时间：</label>
      <span>{{data?.createdOnUtc|sDatetime}}</span>
    </div>
    <div class="col-4">
      <label>进厂里程：</label>
      <span>{{data?.mileage}}</span>
      <span class="ml-2">KM</span>
    </div>
    <div class="col-4">
      <label>出厂里程：</label>
      <span>{{data?.leaveMileage}}</span>
      <span class="ml-2">KM</span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4">
      <label>出厂时间：</label>
      <span>{{data?.updataTime|sDatetime}}</span>
    </div>
  </div>
</form>
<hr>
<tabset>
  <tab heading="维修项目" *ngIf="data?.workHours?.length>0">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>项目名称</th>
          <th>维修工时(小时)</th>
          <th>工时单价(元)</th>
          <th>金额(元)</th>
          <th>折扣率(%)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of data?.workHours">
          <td>{{record?.serviceName}}<span *ngIf="record.type === 3" class="append-stamp">增项</span>
            <span [class.accept-stamp]="record.teamType === 6"></span></td>
          <td>{{record?.workHour}}</td>
          <td>{{record?.price|centToYuan}}</td>
          <td>{{record?.amount|centToYuan}}</td>
          <td>{{record?.discount}}</td>
        </tr>
      </tbody>
    </table>
  </tab>
  <tab heading="维修配件" *ngIf="data?.matereialDetails?.length>0">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>维修工项</th>
          <th>配件名称</th>
          <th>品牌</th>
          <th>规格型号</th>
          <th>数量</th>
          <th>单价(元)</th>
          <th>金额(元)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of data?.matereialDetails">
          <td>{{record?.serviceName}} <span *ngIf="record.type === 3" class="append-stamp">增项</span>
            <span [class.accept-stamp]="record.teamType === 6"></span></td>
          <td>{{record?.productName}}</td>
          <td>{{record?.brandName}}</td>
          <td>{{record?.specification}}</td>
          <td>{{record?.count}}</td>
          <td>{{record?.price|centToYuan}}</td>
          <td>{{record?.amount|centToYuan}}</td>
        </tr>
      </tbody>
    </table>
  </tab>
  <tab heading="附加项目" *ngIf="data?.appendItems?.length>0">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>备注</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of data?.appendItems">
          <td>{{record?.name}}</td>
        </tr>
      </tbody>
    </table>
  </tab>
  <tab heading="建议维修项目" *ngIf="data?.adviceItems?.length>0">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>建议维修项目</th>
          <th>备注</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of data?.adviceItems">
          <td>{{record?.content}}</td>
          <td>{{record?.description}}</td>
        </tr>
      </tbody>
    </table>
  </tab>
</tabset>