<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
</div>

<div class="assign card">
  <div _ngcontent-c11="" class="card-header">
    <span _ngcontent-c11="">指派工单</span>
  </div>
  <div class='card-block'>
    <form _ngcontent-c5="" class="form-inline mb-2 ng-pristine ng-valid ng-touched assign-form" novalidate="">
      <input _ngcontent-c5="" class="form-control mb-2 mr-2 ng-pristine ng-valid ng-touched" name="title" placeholder="请输入车牌号/工单号"
        type="text" ng-reflect-name="title">
      <button _ngcontent-c5="" class="btn btn-primary mb-2 mr-2" translate="" type="submit" ng-reflect-translate="">搜索</button>
    </form>
    <table class="table table-hover table-bordered table-sm">
      <thead>
        <tr>
          <th>指派维修技师</th>
          <th>状态</th>
          <th>维修类型</th>
          <th>工单号</th>
          <th>进店时间</th>
          <th>预计交车时间</th>
          <th>超时</th>
          <th>服务顾问</th>
          <th>品牌</th>
          <th>车型</th>
          <th>车牌号</th>
          <th>行驶里程</th>
          <th>购车时间</th>
          <th>车主</th>
          <th>送修人</th>
          <th>电话</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of detailData">
          <td>{{item.repairTechnician}}<span type="button" [mSelector]="options" mTitle="选择维修技师" (onChange)="onChange($event)"
              (onConfirm)="onConfirm()" class='assign-person btn-default'>{{(item.repairTechnician).length>0?"更改":"指派"}}</span></td>
          <td>{{item.status}}</td>
          <td>{{item.type}}</td>
          <td>{{item.orderNo}}</td>
          <td>{{item.enterTime}}</td>
          <td>{{item.predictedTime}}</td>
          <td>{{item.outeOfDate}}</td>
          <td>{{item.serviceConsultant}}</td>
          <td>{{item.brand}}</td>
          <td>{{item.carType}}</td>
          <td>{{item.plateNumber}}</td>
          <td>{{item.mileage}}</td>
          <td>{{item.buyTime}}</td>
          <td>{{item.carOwner}}</td>
          <td>{{item.sender}}</td>
          <td>{{item.senderPhoneNumber}}</td>
          <td width="50">
            <span class='detail-button' (click)='OnDetailClick()'>详情</span>
          </td>
        </tr>
      </tbody>
    </table>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" (pageChanged)="onPageChanged($event)"></hq-pagination>


    <div class="d-flex flex-row assign-total">
      <div class="p-2">折前费用：</div>
      <div class="p-2 bg-f3 ">工时费800</div>
      <div class="p-2 bg-f3 ">材料费80</div>
      <div class="p-2 bg-f3 ">套餐费0</div>
      <div class="p-2 bg-f3 ">附加项目费0</div>
      <div class="p-2">合计：880</div>
    </div>

  </div>


    <!--详情点击弹出框 start-->
    <div class="detail-alert" [hidden]="!isShowDetail"></div>
    <div class="alert alert-warning alert-dismissible fade show assign-detail" role="alert" [hidden]="!isShowDetail" id="alertDetail">
      <div class="close" (click)="OnClickClose()"> <span aria-hidden="true">&times;</span></div>
      <!--tab头部切换 start-->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home" role="tab">维修项目</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile" role="tab">维修配件</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#messages" role="tab">附加项目</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#settings" role="tab">建议维修项</a>
        </li>
      </ul>
      <!--tab头部切换 end-->
      <!--tab内容切换 start-->
      <div class="tab-content">
        <!--维修项目-->
        <div class="tab-pane active" id="home" role="tabpanel">
           <table class="table table-hover table-bordered table-sm">
      <thead>
        <tr class='table-success'>
          <th>指派维修技师</th>
          <th>项目名称</th>
          <th>维修工时</th>
          <th>工时单价</th>
          <th>金额</th>
          <th>折扣率</th>
          <th>操作时间</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of repairData">
          <td>{{item.g}}
            <span type="button" [mSelector]="options" mTitle="选择维修技师" (onChange)="onChange($event)"
              (onConfirm)="onConfirm()" class='assign-person btn-default'>{{(item.g).length>0?"更改":"指派"}}</span>
            </td>
          <td>{{item.a}}</td>
          <td>{{item.b}}</td>
          <td>{{item.c}}</td>
          <td>{{item.d}}</td>
          <td>{{item.e}}</td>
          <td>{{item.f}}</td>
        </tr>
      </tbody>
    </table>
        </div>
        <!--维修配件-->
        <div class="tab-pane" id="profile" role="tabpanel">
          <table class="table table-hover table-bordered table-sm">
      <thead>
        <tr class='table-warning'>
          <th>维修项目</th>
          <th>配件名称</th>
          <th>品牌</th>
          <th>规格型号</th>
          <th>数量</th>
          <th>单价（元）</th>
          <th>金额（元）</th>
          <th>操作时间</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of repairPartsData">
          <td>{{item.a}}</td>
          <td>{{item.b}}</td>
          <td>{{item.c}}</td>
          <td>{{item.d}}</td>
          <td>{{item.e}}</td>
          <td>{{item.f}}</td>
          <td>{{item.f}}</td>
        </tr>
      </tbody>
    </table>

        </div>
        <!--附加项目-->
        <div class="tab-pane" id="messages" role="tabpanel">
           <table class="table table-hover table-bordered table-sm">
      <thead>
        <tr class='table-danger'>
          <th>项目名称</th>
          <th>数量</th>
          <th>单价（元）</th>
          <th>金额（元）</th>
          <th>备注</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of addPartsData">
          <td>{{item.a}}</td>
          <td>{{item.b}}</td>
          <td>{{item.c}}</td>
          <td>{{item.d}}</td>
          <td>{{item.e}}</td>
        </tr>
      </tbody>
    </table>
        </div>
        <!--建议维修项-->
        <div class="tab-pane" id="settings" role="tabpanel">
         <table class="table table-hover table-bordered table-sm">
      <thead>
        <tr class='table-warning'>
          <th>建议维修项目</th>
          <th>是否修理</th>
          <th>操作时间</th>
          <th>操作员</th>
          <th>折扣率</th>
          <th>备注</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of addvicePartsData">
          <td>{{item.a}}</td>
          <td>{{item.b}}</td>
          <td>{{item.c}}</td>
          <td>{{item.d}}</td>
          <td>{{item.e}}</td>
          <td>{{item.f}}</td>
        </tr>
      </tbody>
    </table>
        </div>
      </div>
      <!--tab内容切换 end-->
    </div>
    <!--详情点击弹出框 end-->





</div>