<table class="table table-bordered">
  <caption *ngIf="showCaption">维修项目</caption>
  <thead>
    <tr>
      <th *ngIf="showNo" width="65">序号</th>
      <th>维修项目名称</th>
      <th>维修工时(小时)</th>
      <th>工时单价(元)</th>
      <th>折扣率(%)</th>
      <th>金额(元)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of serviceOutputs;let index=index;">
      <td *ngIf="showNo" class="text-center">{{index+1}}</td>
      <td style="position:relative;">{{item.serviceName}}
        <span *ngIf="item.type === 3" class="append-stamp print-hidden">增项</span>
        <span class="print-hidden" [class.accept-stamp]="item.teamType === 6"></span>
      </td>
      <td>{{item.workHour}}</td>
      <td class="text-right">{{item.price|centToYuan}}</td>
      <td class="text-right">{{item.discount}}</td>
      <td class="text-right">{{item.amount|centToYuan}}</td>
    </tr>
    <tr *ngIf="showFee&&serviceOutputs?.fee">
      <td>小计：</td>
      <td colspan="5">
        <span class="mr-2">工时合计：{{serviceOutputs?.fee.workHours}}</span>
        <span class="mr-2">工时费：<i class="mr-1" style="font-style:italic;">&#165;</i>{{serviceOutputs?.fee.workHour|centToYuan}}</span>
        <span class="mr-2">优惠：<i class="mr-1" style="font-style:italic;">&#165;</i>{{serviceOutputs?.fee.discount|centToYuan}}</span>
        <span class="mr-2">应收金额：<i class="mr-1" style="font-style:italic;">&#165;</i>{{serviceOutputs?.fee.workHour-serviceOutputs?.fee.discount|centToYuan}}</span>
      </td>
    </tr>
  </tbody>
</table>