<ng-template hq-alerter></ng-template>
<div class="card">
  <form *ngIf="form" class="card-block row" [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div class="col-6">
      <div class="form-group">
        <label class="form-control-label">*仓库</label>
        <select [attr.disabled]="editable" label="仓库" formControlName="storeId" class="form-control">
          <option *ngFor="let item of warehouses" value="{{item.value}}">{{item.text}}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label">*配件编码</label>
        <input [hqProductTypeahead]="'code'" (onSelect)="onItemSelect($event)" formControlName="productCode" class="form-control" placeholder="请输入配件编码">
        <input type="hidden" label="配件编码" formControlName="productId">
      </div>
      <div class="form-group">
        <label class="form-control-label">*配件名称</label>
        <input [hqProductTypeahead]="'name'" (onSelect)="onItemSelect($event)" formControlName="productName" class="form-control" placeholder="请输入配件名称">
        <input type="hidden" label="配件名称" formControlName="productId">
      </div>
      <div class="form-group">
        <label class="form-control-label">*品牌</label>
        <input [attr.readonly]="editable" label="品牌" formControlName="brand" class="form-control" placeholder="请输入品牌名称">
      </div>
      <div class="form-group">
        <label class="form-control-label">*规格型号</label>
        <input [attr.readonly]="editable" label="规格型号" formControlName="productSpecification" class="form-control" placeholder="请输入规格型号">
      </div>
      <div class="form-group">
        <label class="form-control-label">*类别</label>
        <input [attr.readonly]="editable" label="配件类别" formControlName="productCategory" class="form-control" placeholder="请输入配件类别">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="form-control-label">库位</label>
        <input [attr.readonly]="editable" label="库位" formControlName="locationName" #aa="hq-error" class="form-control" placeholder="请输入库位名称">
      </div>
      <div class="form-group">
        <label class="form-control-label">*数量（个）</label>
        <input label="数量" (input)="calculate()" type="number" formControlName="count" #aa="hq-error" class="form-control" placeholder="请输入采购数量">
      </div>
      <div class="form-group">
        <label class="form-control-label">*含税单价（元/个）</label>
        <input type="number" label="单价" formControlName="yuan" (input)="onPriceChange($event)" class="form-control" placeholder="请输入含税单价">
      </div>
      <div class="form-group">
        <label class="form-control-label">*不含税单价（元/个）</label>
        <input readonly class="form-control" value="{{form?.controls['exTaxPrice']?.value|centToYuan}}">
        <input type="hidden" readonly label="不含税单价" formControlName="exTaxPrice" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">*含税总金额</label>
        <input readonly class="form-control" value="{{form?.controls['amount']?.value|centToYuan}}">
        <input type="hidden" readonly label="金额" formControlName="amount" [value]="centToYuan|centToYuan" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">*不含税总金额</label>
        <input readonly class="form-control" value="{{form?.controls['exTaxAmount']?.value|centToYuan}}">
        <input type="hidden" readonly label="金额" formControlName="exTaxAmount" [value]="centToYuan|centToYuan" class="form-control">
      </div>
    </div>
    <div class="col-12">
      <button type="submit" [disabled]="submitting" class="btn btn-primary mr-3">提交</button>
      <button (click)="onReset()" class="btn btn-secondary mr-3">重置</button>
    </div>
  </form>
</div>