 <ng-template hq-alerter></ng-template>
<div class="card">
  <form *ngIf="form" class="card-block row" [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div class="col-6">
      <div class="form-group">
        <label class="form-control-label">维修项目</label>
        <input readonly type="text" formControlName="serviceName" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">*配件编码</label>
        <input label="配件编码" [hqTableTypeahead]="codeSource" [columns]="itemColumns(false)" (onSelect)="onItemSelect($event)" formControlName="productCode"
          class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">*配件名称</label>
        <input label="配件名称" [hqTableTypeahead]="nameSource" [columns]="itemColumns(true)" (onSelect)="onItemSelect($event)" formControlName="productName"
          class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">*品牌</label>
        <input readonly label="品牌" formControlName="brand" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">*规格型号</label>
        <input readonly label="规格型号" formControlName="productSpecification" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">*单价（元/个）</label>
        <input type="number" value="{{price|centToYuan}}" (input)="onPriceChange($event)" class="form-control">
        <input label="单价" #priceControl="hq-error" type="hidden" formControlName="price" class="form-control">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="form-control-label">*车型</label>
        <input readonly label="车型" formControlName="vehicleName" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">*仓库</label>
        <input readonly label="仓库" formControlName="houseName" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">*库位</label>
        <input readonly label="库位" formControlName="locationName" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">*数量（个）&nbsp;&nbsp;当前库存量：{{fcount}}</label>
        <input label="数量" type="number" formControlName="initcount" (change)="onChangeCount($event)" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">*金额(元)</label>
        <input readonly class="form-control" [ngModel]="model.amount|centToYuan" formControlName="amount">
      </div>
      <div class="form-group">
        <label class="form-control-label">*领料人</label>
        <select #person class="form-control" label="领料人" formControlName="createUser" id="person" (change)="onSellerSelect($event)">
          <option *ngFor="let item of InputData.employeesData" value="{{item.id}}">{{item.name}}</option>
        </select>
        <input type="hidden" formControlName="createUserName">
      </div>
    </div>
    <div class="col-12">
      <button type="submit" [disabled]="submitting" class="btn btn-primary mr-3">提交</button>
    </div>
  </form>
</div>