
table th,table td{
     text-overflow:ellipsis; 
     white-space:nowrap; 
     overflow:hidden;
     text-align: center;
}
.bill .search-button{
    text-align: center;
    margin-bottom:8px;
}
.bill .search-button button{
    display: inline-block;
}
.bill .row{
    margin-left: 0;
}
caption {
    caption-side: top;
    text-align: center;
}
.pos-top{
    position: relative;
        height: 52px;
}
.close-right{
    position: absolute;
        right: 14px;
    top: 13px;

}