<div class="bill card">
  <div class="card-header">
    <label>维修结算</label>
  </div>
  <ng-template hq-alerter></ng-template>
  <div class='card-block'>
    <form (ngSubmit)="onSearch()" autocomplete="off">
      <div class="form-group row" *ngIf="orderStatusData" style="margin-bottom: 5px;">
        <div class="check-label">
          <label class="input-group-addon">工单状态</label>
          <div class="check-label-col">
            <div class="form-check form-check-inline" *ngFor="let status of orderStatusData">
              <label class="form-check-label">
                <input (change)='status.checked = !status.checked' [checked]="status.checked" class="form-check-input"  type="checkbox" value="{{status.id}}"> {{status.value}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-inline">
        <div class="input-group m-1">
          <label class="input-group-addon">结算单号</label>
          <input class="form-control" [(ngModel)]="params.SettlementCode" id="SettlementCode" name="SettlementCode" type="text" placeholder="请输入结算单号"
          />
        </div>
        <div class="input-group m-1">
          <label class="input-group-addon">工单号</label>
          <input type="text" [(ngModel)]="params.billcode" class="form-control" id="billcode" name="billcode" placeholder="请输入工单号">
        </div>
        <div class="input-group m-1">
          <label class="input-group-addon">车牌号</label>
          <input type="text" [(ngModel)]="params.carnumber" class="form-control" id="carnumber" name="carnumber" placeholder="请输入车牌号">
        </div>
        <div class="input-group m-1">
          <label class="input-group-addon">进厂时间</label>
          <input class="form-control" [max-date]="maxStartTime" style="border-right:0;" [(ngModel)]="params.starttime" id="starttime"
            name="starttime" type="text" ngui-datetime-picker placeholder="请选择开始时间" [close-on-select]="false" />
          <label class="input-group-addon">-</label>
          <input class="form-control" id="endtime" style="border-right-width:1px;" [min-date]="minEndTime" [max-date]="maxEndTime"
            [(ngModel)]="endDateParams.endtime" name="endtime" type="text" ngui-datetime-picker placeholder="请选择截止时间" [close-on-select]="false"
          />
          <div class="col-sm-2"><button class="btn btn-primary">查询</button></div>
        </div>
      </div>
    </form>
    <div class="table-container">
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>操作</th>
            <th>状态</th>
            <th>车牌号</th>
            <th>结算单号</th>
            <th>工单号</th>
            <th>应收金额</th>
            <th>维修类型</th>
            <!--<th>开单时间</th>-->
            <th>预计交车时间</th>
            <th>车型</th>
            <th>送修人</th>
            <th>服务顾问</th>
            <th>结算时间</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td *ngIf="!item.updateOnUtc" style="text-align:right"><button type="button" class="btn btn-sm btn-primary" [hqSpinner]="item.generat" [disabled]="item.generat" (click)='orderDetailsDialog($event, item.id,lgModal,item)'>结算</button>&nbsp;
              <button [hqSpinner]="item.generating" type="button" class="btn btn-sm btn-info  " [disabled]="item.generating" (click)='DetailsDialog($event, item.id,lgModal,item)'>详情</button>
            </td>
            <td *ngIf="item.updateOnUtc" style="text-align:right"><button type="button" class="btn btn-sm btn-danger" (click)='finishedOrder($event, item.id)'>撤销结算</button>&nbsp;
              <button [hqSpinner]="item.generating" type="button" class="btn btn-sm btn-info  " [disabled]="item.generating" (click)='DetailsDialog($event, item.id,lgModal,item)'>详情</button>
            </td>
            <td>{{item.statusName}}</td>
            <td>{{item.plateNo}}</td>
            <td>{{item?.settlementCode}}</td>
            <td>{{item.billCode}}</td>
            <td class="text-right">¥{{item.amount|centToYuan}}</td>
            <td>{{item.typeName}}</td>
            <!--<td>{{item.createdOnUtc|date:"yyyy/MM/dd HH:mm:ss"}}</td>-->
            <td>{{item.expectLeave|sDatetime}}</td>
            <td>{{item.model}}</td>
            <td>{{item.customerName}}</td>
            <td>{{item.createdUserName}}</td>
            <td>{{item.updateOnUtc|sDatetime}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hq-pagination [(itemsPerPage)]="size" [loading]="loading" [totalItems]="total" [(currentPage)]="index" (pageChanged)="onPageChanged($event)"></hq-pagination>
  </div>

  <!--提示是否确认退出-->
  <div hqModal #confirmModal="hq-modal" class="modal fade" tabindex="-1" role="dialog" size="sm" modalTitle="温馨提示">
    <div class="modal-body">
      <p class="text-center">您确定要撤销结算吗?</p>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="unBill(confirmModal);">确定</button>
      <button type="button" class="btn btn-secondary" data-dismiss="confirmModal" (click)="confirmModal.hide();">取消</button>
    </div>
  </div>
</div>
<!--详情 begin-->
<div hqModal #lgModal="hq-modal" class="modal fade" tabindex="-1" [hidden]="!isShowCost" role="dialog" size="lg" modalTitle="{{modaltitle}}">
  <div *ngIf="lgModal.isShown">
    <!--结算费用-->
    <form [formGroup]="billSheetForm" [hidden]="!isShowCost" *ngIf="lgModal.isShown">
      <div class="form-inline bill-form">
        <div class="col-5" style="height:50px;">
          <div class="input-group m-1">
            <span class="input-group-addon">应收金额(元)</span>
            <div class="hq-col">
              <input [textMask]="{mask: priceMask}" type="text" class="form-control" [errors]="{lte:'输入金额不能大于应收金额'}" [value]="billPricex|centToYuan"
                label="金额" formControlName="billPrice">
            </div>
          </div>
        </div>
        <div class="col-5" style="height:50px;">
          <div class="input-group m-1">
            <span class="input-group-addon">结算方式</span>
            <select formControlName="settlementid" id="settlementid" class="form-control">
            <option *ngFor="let settlementid of billTypeData" value="{{settlementid.id}}">{{settlementid?.value}}</option>
          </select>
          </div>
          <!--<div class="input-group m-1">
            <span class="input-group-addon">出厂里程(KM)：</span>
            <div class="hq-col">
              <input type="number" class="form-control" label="出厂里程" [errors]="{gte:'出厂里程不能小于进厂里程'}" formControlName="leaveMileage">
            </div>
          </div>-->
        </div>
        <div class="col-2" style="height:50px;">
          <div class="input-group m-1">
            <button type="button" [hqSpinner]="generat" class="btn btn-primary mr-2" aria-label="Close" (click)="BillClick($event,lgModal)">确定</button>
          </div>
        </div>
      </div>
    </form>
    <!--工单详情 start-->
    <hq-workorder-detail [data]="selectedOrder"></hq-workorder-detail>
    <!--结算费用-->
    <div class="card" [hidden]="!isShowCost" *ngIf="lgModal.isShown">
      <div class="card hq-fee">
        <div>
          <span class="fee-name">工时费：<span class="fee-value">{{workReceivableCost|centToYuan}}</span></span>
          <span class="fee-name"> 材料费：<span class="fee-value">{{materialFee|centToYuan}}</span></span>
          <span class="fee-name"> 优惠：<span class="fee-value">{{discountAmount|centToYuan}}</span></span>
          <span class="fee-name pull-right">应收金额：<span class="fee-value">{{sumFee|centToYuan}}</span></span>
        </div>
      </div>
    </div>
    <!--详情费用-->
    <div class="card hq-fee" [hidden]="!isShowCostDetail" *ngIf="lgModal.isShown">
      <div>
        <span class="fee-name">工时费：<span class="fee-value">{{workReceivableCost|centToYuan}}</span></span>
        <span class="fee-name"> 材料费：<span class="fee-value">{{materialFee|centToYuan}}</span></span>
        <span class="fee-name"> 优惠：<span class="fee-value">{{discountAmount|centToYuan}}</span></span>
        <span class="fee-name pull-right">应收金额：<span class="fee-value">{{sumFee|centToYuan}}</span></span>
      </div>
    </div>
    <!--建议维修项 end-->
    <div class="text-center" style="margin-bottom:10px;">
      <button type="button" class="btn btn-export" aria-label="Close" [hidden]="!isShowPrint" (click)='print(lgModal)'>打印</button>
    </div>
  </div>
</div>
<!--详情 end-->
<hq-print-order *ngIf="printData" [hidden]="true" [data]="printData" hqPrint #printer="hq-print" print-title="维修结算单"></hq-print-order>
