<div class="btn-group" dropdown>
  <button dropdownToggle class="btn btn-sm btn-secondary dropdown-toggle">
    <span>挂单信息 <span class="badge badge-default">{{result?.totalCount||0}}</span></span> 
    <span class="caret"></span>
  </button>
  <div *dropdownMenu class="p-0 dropdown-menu dropdown-menu-right" role="menu">
    <table class="m-0 table table-sm table-hover">
      <tr>
        <th *ngFor="let col of columns">{{col.title||col.name}}</th>
        <th></th>
      </tr>
      <tr (click)="onSelect.emit(item)" *ngFor="let item of result?.data">
        <td *ngFor="let col of columns">
          {{item[col.name]||item?.value[col.name]}}
        </td>
        <td><i (click)="remove($event,item)" class="cursor-pointer fa fa-times"></i></td>
      </tr>
    </table>
  </div>
</div>