<div class="btn-group" dropdown>
  <div dropdownToggle class="dropdown-toggle">
    <i class="fa fa-list" aria-hidden="true"></i>
    <span class="suspend-span">挂单信息 <span>({{result?.totalCount||0}})</span></span>
    <i class="fa fa-angle-up" [class.fa-angle-down]="result?.data?.length"></i>
  </div>
  <div [hidden]="!result?.data?.length" *dropdownMenu class="p-0 dropdown-menu dropdown-menu-right" role="menu">
    <table class="m-0 table table-sm table-hover">
      <tr>
        <th *ngFor="let col of columns">{{col.title||col.name}}</th>
        <th></th>
      </tr>
      <tr (click)="onSelect.emit(item)" *ngFor="let item of result?.data">
        <td *ngFor="let col of columns">
          {{item[col.name]||item?.value[col.name]}}
        </td>
        <td class="fa-times-bg" (click)="remove($event,item)"><i  class="cursor-pointer fa fa-times-circle"></i>作废</td>
      </tr>
    </table>
  </div>
</div>