<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    <label>库存管理</label>
  </div>
  <div class="card-block">
    <form class="form-inline mb-3" (ngSubmit)="onLoadList()">
      <div class="input-group m-1">
        <label class="input-group-addon">仓库</label>
        <select class="form-control" name="storehouseId" [(ngModel)]="params.storehouseId">
          <option value="">全部仓库</option>
          <option *ngFor="let item of warehouses" value="{{item.value}}">{{item.text}}</option>
        </select>
      </div>
      <div class="input-group m-1">
        <label class="input-group-addon">库位</label>
        <input type="text" class="form-control" name="storageLocationName" [(ngModel)]="params.storageLocationName" placeholder="请输入库位">
      </div>
      <div class="input-group m-1">
        <label class="input-group-addon">配件编码</label>
        <input type="text" class="form-control" name="code" [(ngModel)]="params.code" placeholder="请输入配件编码">
      </div>
      <div class="input-group m-1">
        <label class="input-group-addon">配件名称</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="params.name" placeholder="请输入配件名称">
      </div>
      <div class="input-group m-1">
        <label class="input-group-addon">适用车型</label>
        <input type="text" class="form-control" name="vehicleName" [(ngModel)]="params.vehicleName" placeholder="请输入适用车型">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">查询</button>
      </div>
    </form>
    <div class="table-container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><input (change)="onCheckChange($event)" type="checkbox"></th>
            <th>操作</th>
            <th>状态</th>
            <th>仓库</th>
            <th>库位</th>
            <th>配件编码</th>
            <th>配件分类</th>
            <th>配件名称</th>
            <th>品牌</th>
            <th>规格型号</th>
            <th>库存量</th>
            <th>适用车型</th>
            <th>单位</th>
            <th>成本（元）</th>
            <th>成本总金额（元）</th>
            <th>销售价（元）</th>
            <th>最新进价（元）</th>
            <th>最大库存</th>
            <th>最小库存</th>
            <th>包装规格</th>
            <th>产地</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td class="text-center"><input [(ngModel)]="item.checked" type="checkbox"></td>
            <td class="text-center"><button class="btn btn-sm btn-success" [disabled]="!item.enable" (click)="onEdit($event,item)">编辑</button></td>
            <td class="text-center">{{item.enable?'可用':'停用'}}</td>
            <td>{{ item.houseName}}</td>
            <td>{{ item.locationName}}</td>
            <td>{{ item.code}}</td>
            <td>{{item.categoryList|pluck:'text'|slice:0:1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.brand}}</td>
            <td>{{item.specification}}</td>
            <td class="text-center">{{item.count}}</td>
            <td [hqVehicleShow]="item?.vehicleInfoList"></td>
            <td class="text-center">{{item.unit}}</td>
            <td class="text-right">{{item.costPrice|centToYuan}}</td>
            <td class="text-right">{{item.costAmount|centToYuan}}</td>
            <td class="text-right">{{item.suggPrice|centToYuan}}</td>
            <td class="text-right">{{ item.newPrice|centToYuan}}</td>
            <td class="text-center">{{item.maxCount}}</td>
            <td class="text-center">{{item.minCount}}</td>
            <td>{{ item.packageInfo}}</td>
            <td>{{item.madeIn}}</td>
            <td>{{ item.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" [(itemsPerPage)]="size" (pageChanged)="onPageChanged($event)"></hq-pagination>
  </div>
  <div class="card-footer text-muted">
    <button class="btn btn-primary" (click)="createModal.show()">新增</button>
    <button class="btn btn-warning" [disabled]="!selectedItems?.length" (click)="enabled($event)">启用/停用</button>
    <button class="btn btn-secondary" (click)="export($event)">导出</button>
  </div>
</div>

<div hqModal #createModal="hq-modal" modalTitle="新增配件" size="lg">
  <hq-inventory-create *ngIf="createModal.isShown" (onSubmit)="onInventoryCreate($event)"></hq-inventory-create>
</div>

<div hqModal #editModal="hq-modal" modalTitle="编辑配件" size="lg">
  <hq-inventory-edit *ngIf="model&&editModal.isShown" [model]="model" (onSubmit)="onInventoryUpdate($event)"></hq-inventory-edit>
</div>