<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    库存管理
  </div>
  <div class="card-block">
    <form class="form-inline mb-2" (ngSubmit)="onLoadList()">
      <div class="form-group mb-2">
        <label class="form-control-label">仓库：</label>
        <select class="form-control mx-sm-3" name="storehouseId" [(ngModel)]="params.storehouseId">
          <option value="">全部仓库</option>
          <option *ngFor="let item of warehouses" value="{{item.value}}">{{item.text}}</option>
        </select>
      </div>
      <div class="form-group mb-2">
        <label class="mr-sm-2">库位：</label>
        <input type="text" class="form-control mx-sm-3" name="storageLocationName" [(ngModel)]="params.storageLocationName" placeholder="库位">
      </div>
      <div class="form-group mb-2">
        <label class="mr-sm-2">配件编码：</label>
        <input type="text" class="form-control mx-sm-3" name="code" [(ngModel)]="params.code" placeholder="配件编码">
      </div>
      <div class="form-group mb-2">
        <label class="mr-sm-2">配件名称：</label>
        <input type="text" class="form-control mx-sm-3" name="name" [(ngModel)]="params.name" placeholder="配件名称">
      </div>
      <div class="form-group mb-2">
        <label class="mr-sm-2">配件车型：</label>
        <input type="text" class="form-control mx-sm-3" name="vehicleName" [(ngModel)]="params.vehicleName" placeholder="配件车型">
      </div>
      <div class="form-group mb-2">
        <label class="mr-sm-2">类别：</label>
        <input type="text" class="form-control mx-sm-3" name="categoryName" [(ngModel)]="params.categoryName" placeholder="类别">
      </div>
      <div class="form-group mb-2">
        <button type="submit" class="btn btn-primary mx-sm-3" translate>搜索</button>
      </div>
    </form>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><input (change)="onCheckChange($event)" type="checkbox"></th>
          <th translate>操作</th>
          <th translate>库位</th>
          <th translate>类别</th>
          <th translate>品牌</th>
          <th translate>配件编码</th>
          <th translate>配件名称</th>
          <th translate>库存量</th>
          <th translate>车型</th>
          <th translate>单位</th>
          <th translate>销售价</th>
          <th translate>最新进价</th>
          <th translate>最大库存</th>
          <th translate>最小库存</th>
          <th translate>包装规格</th>
          <th translate>产地</th>
          <th translate>属性</th>
          <th translate>备注</th>
          <th>状态</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td class="text-center"><input [(ngModel)]="item.checked" type="checkbox"></td>
          <td class="text-center"><button class="btn btn-sm btn-success" [disabled]="!item.enable" (click)="onEdit($event,item)">编辑</button></td>
          <td>{{ item.storageLocationName}}</td>
          <td>{{item.category}}</td>
          <td>{{item.brand}}</td>
          <td>{{ item.code}}</td>
          <td>{{item.name}}</td>
          <td class="text-center">{{item.count}}</td>
          <td>{{ item.vehicleName}}</td>
          <td>{{item.unit}}</td>
          <td class="text-right">{{item.suggPrice|centToYuan}}</td>
          <td class="text-right">{{ item.newPrice|centToYuan}}</td>
          <td class="text-center">{{item.maxCount}}</td>
          <td class="text-center">{{item.minCount}}</td>
          <td>{{ item.packageInfo}}</td>
          <td>{{item.madeIn}}</td>
          <td>{{item.properties}}</td>
          <td>{{ item.description}}</td>
          <td class="text-center">{{item.enable?'可用':'停用'}}</td>
        </tr>
      </tbody>
    </table>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" (pageChanged)="onPageChanged($event)"></hq-pagination>
  </div>
  <div class="card-footer text-muted">
    <button class="btn btn-primary" (click)="createModal.show()">新增</button>
    <button class="btn btn-warning" [disabled]="!selectedItems?.length" (click)="enabled($event)">启用/停用</button>
    <button class="btn btn-secondary" (click)="export($event)">导出</button>
  </div>
</div>

<div class="modal fade" bsModal #createModal="bs-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">新增配件</h5>
        <button class="close pull-right" (click)="createModal.hide()">&times;</button>
      </div>
      <div class="modal-body" *ngIf="createModal.isShown">
        <hq-inventory-create (onSubmit)="onInventoryCreate($event)"></hq-inventory-create>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #editModal="bs-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">编辑配件信息</h5>
        <button class="close pull-right" (click)="editModal.hide()">&times;</button>
      </div>
      <div class="modal-body" *ngIf="model">
        <hq-inventory-edit [model]="model" (onSubmit)="onInventoryUpdate($event)"></hq-inventory-edit>
      </div>
    </div>
  </div>
</div>