<hq-alerter [service]="alerter"></hq-alerter>
<div class="card">
  <div class="card-header">
    工单列表
  </div>
  <div class="card-block">
    <form [formGroup]="workSheetFilterForm" (ngSubmit)="onSerarch()">
      <!--不同工单状态工单复选框部分-->
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" formControlName="toBeAssigned" type="checkbox" value="toBeAssigned"> 待派工
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" formControlName="toBeAssigned" value="assigned"> 已派工
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" formControlName="toBeChecked" value="toBeChecked"> 待验收
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" formControlName="toBeBalanced" value="toBeBalanced"> 待结算
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" formControlName="toBeCheckedOut" value="toBeCheckedOut"> 待收银
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" formControlName="finished" value="finished"> 已完工
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" formControlName="all" value="all"> 全部工单
          </label>
        </div>
      </div>
      <hr>
      <!--工单基本筛选条件面板-->
      <div class="form-group row">
        <label for="carNo" class="col-sm-1 col-form-label col-form-label-sm">车牌号</label>
        <div class="col-sm-2">
          <input type="text" class="form-control form-control-sm" formControlName="carNo" id="carNo" placeholder="车牌号">
        </div>
        <label for="carOwner" class="col-sm-1 col-form-label col-form-label-sm">车主</label>
        <div class="col-sm-2">
          <input type="text" class="form-control form-control-sm" formControlName="carOwner" id="carOwner" placeholder="车主">
        </div>
        <label for="carOwnerPhone" class="col-sm-1 col-form-label col-form-label-sm">车主电话</label>
        <div class="col-sm-2">
          <input type="tel" class="form-control form-control-sm" formControlName="carOwnerPhone" id="carOwnerPhone" placeholder="车主电话">
        </div>
        <label for="sender" class="col-sm-1 col-form-label col-form-label-sm">送修人</label>
        <div class="col-sm-2">
          <input type="email" class="form-control form-control-sm" formControlName="sender" id="sender" placeholder="送修人">
        </div>
      </div>
      <div class="form-group row">
        <label for="senderPhone" class="col-sm-1 col-form-label col-form-label-sm">送修人电话</label>
        <div class="col-sm-2">
          <input type="tel" class="form-control form-control-sm" formControlName="senderPhone" id="senderPhone" placeholder="送修人电话">
        </div>

        <div class="col-sm-3" *ngIf="isCollapsed">
          &nbsp;&nbsp;
          <button type="submit" [disabled]="false" class="btn btn-sm btn-success">查&nbsp;&nbsp;询</button>&nbsp;&nbsp;
          <button type="reset" (click)="revert()" [disabled]="false" class=" btn-sm btn btn-danger">撤销</button>&nbsp;&nbsp;
          <button type="button" (click)="export()" [disabled]="falsee" class=" btn-sm btn btn-info">导出</button>
        </div>
      </div>
      <hr>
      <!--高级筛选面板-->
      <fieldset>
        <legend class="col-form-legend p-0 text-center">
          <a (click)="isCollapsed = !isCollapsed">高级筛选</a>
          <i class="fa fa-angle-double-up" [hidden]="isCollapsed"></i>
          <i class="fa fa-angle-double-down" [hidden]="!isCollapsed"></i>
        </legend>
        <div [collapse]="isCollapsed" class="card mt-3 card-block">
          <div class="well well-lg">
            <div class="form-group row">
              <label for="carBrand" class="col-sm-1 col-form-label col-form-label-sm">品牌</label>
              <div class="col-sm-4">
                <input type="text" class="form-control form-control-sm" formControlName="carBrand" id="carBrand" placeholder="品牌">
              </div>
              <label for="carSeries" class="col-sm-1 col-form-label col-form-label-sm">车系</label>
              <div class="col-sm-2">
                <input type="text" class="form-control form-control-sm" formControlName="carSeries" id="carSeries" placeholder="车系">
              </div>
              <label for="orderNo" class="col-sm-1 col-form-label col-form-label-sm">工单号</label>
              <div class="col-sm-3">
                <input type="text" class="form-control form-control-sm" formControlName="orderNo" id="orderNo" placeholder="工单号">
              </div>
            </div>
            <div class="form-group row">
              <label for="serviceConsultant" class="col-sm-1 col-form-label col-form-label-sm">服务顾问</label>
              <div class="col-sm-4">
                <input type="text" class="form-control form-control-sm" formControlName="serviceConsultant" id="serviceConsultant" placeholder="服务顾问">
              </div>
              <label for="carType" class="col-sm-1 col-form-label col-form-label-sm">车型</label>
              <div class="col-sm-2">
                <input type="text" class="form-control form-control-sm" formControlName="carType" id="carType" placeholder="车型">
              </div>
              <label for="repairType" class="col-sm-1 col-form-label col-form-label-sm">维修类型</label>
              <div class="col-sm-3">
                <select id="repairType" formControlName="repairType" class="form-control form-control-sm">
                <option value="0" selected>保养</option>
                <option value="1">保养及维修</option>
                <option value="2">维修</option>
                <option value="3">事故</option>
                <option value="4">索赔</option>
                <option value="5">免费检测</option>
              </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="enterStoreTime" class="col-sm-1 col-form-label col-form-label-sm">进店时间</label>
              <div class="input-group input-group-sm col-sm-3">
                <input class="form-control form-control-sm datetime-picker" type="text" readonly formControlName="enterStoreTimeStart" ngui-datetime-picker
                  date-format="YYYY-MM-DD hh:mm" hour="23" minute='59' close-on-select="false" />
                <span class="input-group-addon">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </span>
              </div>
              <span>至</span>
              <div class="input-group input-group-sm col-sm-3">
                <input class="form-control form-control-sm datetime-picker" type="text" readonly formControlName="enterStoreTimeEnd" ngui-datetime-picker
                  date-format="YYYY-MM-DD hh:mm" hour="23" minute='59' close-on-select="false" />
                <span class="input-group-addon">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <div class="form-group row">
              <label for="leaveFactoryTime" class="col-sm-1 col-form-label col-form-label-sm">出厂时间</label>
              <div class="input-group input-group-sm col-sm-3">
                <input class="form-control form-control-sm datetime-picker" type="text" readonly formControlName="leaveFactoryTimeStart"
                  ngui-datetime-picker date-format="YYYY-MM-DD hh:mm" hour="23" minute='59' close-on-select="false" />
                <span class="input-group-addon">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </span>
              </div>
              <span>至</span>
              <div class="input-group input-group-sm col-sm-3">
                <input class="form-control form-control-sm datetime-picker" type="text" readonly formControlName="leaveFactoryTimeEnd" ngui-datetime-picker
                  date-format="YYYY-MM-DD hh:mm" hour="23" minute='59' close-on-select="false" />
                <span class="input-group-addon">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </span>
              </div>
            </div>
            <div class="form-group row">
              <label for="searchRange" class="col-sm-1 col-form-label col-form-label-sm">查询范围</label>
              <div class="col-sm-3 ">
                <leo-dropdown-treeview class="sm" [config]="config" [items]="items">
                </leo-dropdown-treeview>
              </div>
              <div class="col-sm-3" *ngIf="!isCollapsed">
                &nbsp;&nbsp;
                <button type="submit" [disabled]="false" class="btn btn-sm btn-success mr-2">查询</button>
                <button type="reset" (click)="revert()" [disabled]="false" class=" btn-sm btn btn-danger mr-2 mr-2">撤销</button>
                <button type="button" (click)="export()" [disabled]="falsee" class=" btn-sm btn btn-info">导出</button>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
    <hr>
    <!--显示工单列表的表格-->

    <table class="table table-hover table-bordered table-sm">
      <thead>
        <tr>
          <th>操作</th>
          <th>店名</th>
          <th>状态</th>
          <th>维修类型</th>
          <th>工单号</th>
          <th>进店时间</th>
          <th>预计交车时间</th>
          <th>超时</th>
          <th>服务顾问</th>
          <th>品牌</th>
          <th>车型</th>
          <th>车牌号</th>
          <th>行驶里程</th>
          <th>购车时间</th>
          <th>车主</th>
          <th>送修人</th>
          <th>送修人电话</th>
          <th>介绍人</th>
          <th>介绍人电话</th>
          <th>维修技师</th>
          <th>出厂时间</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td width="50">
            <a>作废</a> |
            <a (click)="selectedOrder=item;lgModal.show()">详情</a>
          </td>
          <td>{{item.storeName}}</td>
          <td>{{item.status}}</td>
          <td>{{item.type}}</td>
          <td>{{item.orderNo}}</td>
          <td>{{item.enterTime}}</td>
          <td>{{item.predictedTime}}</td>
          <td>{{item.outeOfDate}}</td>
          <td>{{item.serviceConsultant}}</td>
          <td>{{item.brand}}</td>
          <td>{{item.carType}}</td>
          <td>{{item.plateNumber}}</td>
          <td>{{item.mileage}}</td>
          <td>{{item.buyTime}}</td>
          <td>{{item.carOwner}}</td>
          <td>{{item.sender}}</td>
          <td>{{item.senderPhoneNumber}}</td>
          <td>{{item.introducer}}</td>
          <td>{{item.introducerPhoneNumber}}</td>
          <td>{{item.repairTechnician}}</td>
          <td>{{item.leaveFactoryTime}}</td>
        </tr>
      </tbody>
    </table>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" (pageChanged)="onPageChanged($event)"></hq-pagination>

    <!--Large modal-->
    <div bsModal #lgModal="bs-modal" [class.show]="true" class="modal fade" tabindex="-1" role="document" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title">工单详情</h6>
            <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          </div>
          <div class="modal-body">
            <table class="table table-hover table-bordered table-sm">
              <thead>
                <tr>
                  <th>操作</th>
                  <th>店名</th>
                  <th>状态</th>
                  <th>维修类型</th>
                  <th>工单号</th>
                  <th>进店时间</th>
                  <th>预计交车时间</th>
                  <th>超时</th>
                  <th>服务顾问</th>
                  <th>品牌</th>
                  <th>车型</th>
                  <th>车牌号</th>
                  <th>行驶里程</th>
                  <th>购车时间</th>
                  <th>车主</th>
                  <th>送修人</th>
                  <th>送修人电话</th>
                  <th>介绍人</th>
                  <th>介绍人电话</th>
                  <th>维修技师</th>
                  <th>出厂时间</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{selectedOrder?.storeName}}</td>
                  <td>{{selectedOrder?.status}}</td>
                  <td>{{selectedOrder?.type}}</td>
                  <td>{{selectedOrder?.orderNo}}</td>
                  <td>{{selectedOrder?.enterTime}}</td>
                  <td>{{selectedOrder?.predictedTime}}</td>
                  <td>{{selectedOrder?.outeOfDate}}</td>
                  <td>{{selectedOrder?.serviceConsultant}}</td>
                  <td>{{selectedOrder?.brand}}</td>
                  <td>{{selectedOrder?.carType}}</td>
                  <td>{{selectedOrder?.plateNumber}}</td>
                  <td>{{selectedOrder?.mileage}}</td>
                  <td>{{selectedOrder?.buyTime}}</td>
                  <td>{{selectedOrder?.carOwner}}</td>
                  <td>{{selectedOrder?.sender}}</td>
                  <td>{{selectedOrder?.senderPhoneNumber}}</td>
                  <td>{{selectedOrder?.introducer}}</td>
                  <td>{{selectedOrder?.introducerPhoneNumber}}</td>
                  <td>{{selectedOrder?.repairTechnician}}</td>
                  <td>{{selectedOrder?.leaveFactoryTime}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>