<div class="bill card">
  <div  class="card-header">
    <span>结算单</span>
  </div>
  <div class='card-block'>
      <form>      
      <div  class="form-group">
        <div  class="form-check form-check-inline">
          <label  class="form-check-label">
            <input  class="form-check-input" formcontrolname="toBeAssigned" type="checkbox" value="toBeAssigned"> 待派工
          </label>
        </div>        
        </div>
    </form>



       <span class='assign-detail' (click)='lgModal.show()'>详情</span>
<!--详情 begin--> 
<div bsModal #lgModal="bs-modal" class="modal" style='background-color: rgba(0, 0, 0, 0.47);' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">工单详情</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style='overflow: scroll;'>
          <!--导出详情begin-->
    <h3 style='text-align:center;'>详情</h3>
    <hr>
    <hr>
    <!--工单详情 start-->
    <table class="table table-hover table-bordered table-sm">
      <thead>
        <tr class='table-info'>
          <th>店名</th>
          <th>状态</th>
          <th>维修类型</th>
          <th>工单号</th>
          <th>进店时间</th>
          <th>预计交车时间</th>
          <th>超时</th>
          <th>服务顾问</th>
          <th>品牌</th>
          <th>车型</th>
          <th>车牌号</th>
          <th>行驶里程</th>
          <th>购车时间</th>
          <th>车主</th>
          <th>送修人</th>
          <th>送修人电话</th>
          <th>介绍人</th>
          <th>介绍人电话</th>
          <th>维修技师</th>
          <th>出厂时间</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of detailData">
          <td>{{item.storeName}}</td>
          <td>{{item.status}}</td>
          <td>{{item.type}}</td>
          <td>{{item.orderNo}}</td>
          <td>{{item.enterTime}}</td>
          <td>{{item.predictedTime}}</td>
          <td>{{item.outeOfDate}}</td>
          <td>{{item.serviceConsultant}}</td>
          <td>{{item.brand}}</td>
          <td>{{item.carType}}</td>
          <td>{{item.plateNumber}}</td>
          <td>{{item.mileage}}</td>
          <td>{{item.buyTime}}</td>
          <td>{{item.carOwner}}</td>
          <td>{{item.sender}}</td>
          <td>{{item.senderPhoneNumber}}</td>
          <td>{{item.introducer}}</td>
          <td>{{item.introducerPhoneNumber}}</td>
          <td>{{item.repairTechnician}}</td>
          <td>{{item.leaveFactoryTime}}</td>
        </tr>
      </tbody>
    </table>
    <!--工单详情 end-->
    <!--维修项目 start-->
    <h3 style='text-align:center;'>维修项目</h3>
    <hr>
    <hr>
    <table class="table table-hover table-bordered table-sm">
      <thead>
        <tr class='table-success'>
          <th>指派维修技师</th>
          <th>项目名称</th>
          <th>维修工时</th>
          <th>工时单价</th>
          <th>金额</th>
          <th>折扣率</th>
          <th>操作时间</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of repairData">
          <td><span class='triangle'></span>{{item.g}}<span class='assign-detail'>{{(item.g).length>0?"更改":"指派"}}</span></td>
          <td>{{item.a}}</td>
          <td>{{item.b}}</td>
          <td>{{item.c}}</td>
          <td>{{item.d}}</td>
          <td>{{item.e}}</td>
          <td>{{item.f}}</td>
        </tr>
      </tbody>
    </table>
    <!--维修项目 end-->
        <!--维修配件 start-->
    <h3 style='text-align:center;'>维修配件</h3>
    <hr>
    <hr>
    <table class="table table-hover table-bordered table-sm">
      <thead>
        <tr class='table-warning'>
          <th>维修项目</th>
          <th>配件名称</th>
          <th>品牌</th>
          <th>规格型号</th>
          <th>数量</th>
          <th>单价（元）</th>
          <th>金额（元）</th>
          <th>操作时间</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of repairPartsData">
          <td>{{item.a}}</td>
          <td>{{item.b}}</td>
          <td>{{item.c}}</td>
          <td>{{item.d}}</td>
          <td>{{item.e}}</td>
          <td>{{item.f}}</td>
          <td>{{item.f}}</td>
        </tr>
      </tbody>
    </table>
    <!--维修配件 end-->
       <!--附加项目 start-->
    <h3 style='text-align:center;'>附加项目</h3>
    <hr>
    <hr>
    <table class="table table-hover table-bordered table-sm">
      <thead>
        <tr class='table-danger'>
          <th>项目名称</th>
          <th>数量</th>
          <th>单价（元）</th>
          <th>金额（元）</th>
          <th>备注</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of addPartsData">
          <td>{{item.a}}</td>
          <td>{{item.b}}</td>
          <td>{{item.c}}</td>
          <td>{{item.d}}</td>
          <td>{{item.e}}</td>
        </tr>
      </tbody>
    </table>
    <!--附加项目 end-->
           <!--建议维修项 start-->
    <h3 style='text-align:center;'>建议维修项</h3>
    <hr>
    <hr>
    <table class="table table-hover table-bordered table-sm">
      <thead>
        <tr class='table-warning'>
          <th>建议维修项目</th>
          <th>是否修理</th>
          <th>操作时间</th>
          <th>操作员</th>
          <th>折扣率</th>
          <th>备注</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of addvicePartsData">
          <td>{{item.a}}</td>
          <td>{{item.b}}</td>
          <td>{{item.c}}</td>
          <td>{{item.d}}</td>
          <td>{{item.e}}</td>
          <td>{{item.f}}</td>
        </tr>
      </tbody>
    </table>
    <!--建议维修项 end-->
  <!--导出详情end-->
      </div>
    </div>
  </div>
</div>
<!--详情 end-->


</div>