<div class="jumbotron">
    <h1 class="display-3">欢迎登录！</h1>
    <p class="lead">为了实现更好的体验，推荐使用以下浏览器操作当前系统：
    </p>
    <div class="row">
        <input [(ngModel)]="myDate" ngui-datetime-picker class="form-control" date-only="true" placeholder="点击选择日期" />
    </div>
    <div class="row">
        <input type="text" class="form-control col-6" [mSelector]="options" (onChange)="onChange($event)" placeholder="点击弹出选择框" />
        <button type="button" class="btn btn-default col-6" [mSelector]="options" mTitle="title">点击弹出选择框</button>
    </div>
    <hr class="my-4">
    <table class="table">
        <tbody>
            <tr>
                <th>Chrome</th>
                <th>Firefox</th>
                <th>Edge</th>
                <th>IE</th>
                <th>Safari</th>
                <th>iOS</th>
                <th>Android</th>
                <th>IE mobile</th>
            </tr>
            <tr>
                <td>latest</td>
                <td>latest</td>
                <td>14</td>
                <td>11</td>
                <td>10</td>
                <td>10</td>
                <td>Marshmallow (6.0)</td>
                <td>11</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>13</td>
                <td>10</td>
                <td>9</td>
                <td>9</td>
                <td>Lollipop<br>(5.0, 5.1)</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>9</td>
                <td>8</td>
                <td>8</td>
                <td>KitKat<br>(4.4)</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>7</td>
                <td>7</td>
                <td>Jelly Bean<br>(4.1, 4.2, 4.3)</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <hr class="my-4">
    <p>更多浏览器支持说明请参考<a href="https://angular.io/docs/ts/latest/guide/browser-support.html">这里</a></p>
</div>