<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    工单列表
  </div>
  <div class="card-block">
    <form #form="ngForm" (ngSubmit)="onSearch()">
      <!--不同工单状态工单复选框部分-->
      <div class="form-group row" *ngIf="orderStatusData">
        <div class="check-label">
          <label class="form-label">工单状态：</label>
          <div class="check-label-col">
            <div class="form-check form-check-inline" *ngFor="let status of orderStatusData">
              <label class="form-check-label">
                <input (change)='status.checked = !status.checked' [checked]="status.checked" class="form-check-input mr-2"  type="checkbox" value="{{status.id}}"> {{status.value}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <!--工单基本筛选条件面板-->
      <div class="form-group row">
        <div class="hq-input">
          <label for="plateNo" class="form-label">车牌号</label>
          <div class="hq-col">
            <!-- placeholder="车牌号"-->
            <input maxlength="12" type="text" [(ngModel)]="params.plateNo" name="plateNo" class="form-control">
          </div>
        </div>
        <div class="hq-input">
          <label for="customerName" class="form-label">车主</label>
          <div class="hq-col">
            <input maxlength="15" type="text" [(ngModel)]="params.customerName" name="customerName" class="form-control">
          </div>
        </div>
        <div class="hq-input">
          <label for="phone" class="form-label">车主电话</label>
          <div class="hq-col">
            <!-- placeholder="车主电话"-->
            <input maxlength="11" type="text" [(ngModel)]="params.phone" name="phone" class="form-control">
          </div>
        </div>
        <div class="hq-input">
          <label for="contactUser" class="form-label">送修人</label>
          <div class="hq-col">
            <!-- placeholder="送修人"-->
            <input maxlength="15" type="text" [(ngModel)]="params.contactUser" name="contactUser" class="form-control">
          </div>
        </div>
        <div class="hq-input">
          <!--高级筛选面板-->
          <div class="advanceFilter">
            <a (click)="isCollapsed = !isCollapsed" class="cursor-pointer">
            高级筛选
            <i class="fa fa-angle-double-up" [hidden]="isCollapsed"></i>
            <i class="fa fa-angle-double-down" [hidden]="!isCollapsed"></i>
          </a>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="hq-input">
          <label for="contactInfo" class="form-label">送修人电话</label>
          <div class="hq-col">
            <!-- placeholder="送修人电话"-->
            <input maxlength="11" type="text" [(ngModel)]="params.contactInfo" name="contactInfo" class="form-control">
          </div>
        </div>
        <div class="hq-input">
          <label for="billCode" class="form-label">工单号</label>
          <div class="hq-col">
            <!-- placeholder="工单号"-->
            <input maxlength="25" type="text" [(ngModel)]="params.billCode" name="billCode" class="form-control">
          </div>
        </div>
        <div class="hq-input" style="width:50%" *ngIf="isCollapsed">
          <div class="hq-col">
            <button type="submit" [disabled]="false" class="btn btn-primary mr-2">查询</button>
            <button type="reset" class="btn btn-warning mr-2">清空</button>
            <button [hqSpinner]="generating" type="button" (click)="export()" class="btn btn-secondary mr-2">导出</button>
          </div>
        </div>
      </div>
      <div [collapse]="isCollapsed" class="mt-3">
        <div class="well well-lg">
          <div class="form-group row">
            <div class="hq-input">
              <label for="brand" class="form-label">品牌</label>
              <div class="hq-col">
                <input maxlength="10" type="text" [(ngModel)]="params.brand" name="brand" class="form-control">
              </div>
            </div>
            <div class="hq-input">
              <label for="series" class="form-label">车系</label>
              <div class="hq-col">
                <input maxlength="10" type="text" [(ngModel)]="params.series" name="series" class="form-control">
              </div>
            </div>
            <div class="hq-input">
              <label for="vehicleName" class="form-label">车型</label>
              <div class="hq-col">
                <input maxlength="20" type="text" [(ngModel)]="params.vehicleName" name="vehicleName" class="form-control" placeholder="车型">
              </div>
            </div>
            <div class="hq-input">
              <label for="createdUserName" class="form-label col-form-label">服务顾问</label>
              <div class="hq-col">
                <input maxlength="15" type="text" [(ngModel)]="params.createdUserName" name="createdUserName" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="hq-input">
              <label for="leaveFactoryTime" class="form-label">出厂时间</label>
              <div class="hq-col">
                <!--[max-hour]="maxLeaveStartHours" -->
                <input readonly [max-date]="maxLeaveStartDate" [(ngModel)]="params.leaveStartTimeDate" name="leaveStartTimeDate" class="form-control"
                  type="text" ngui-datetime-picker [close-on-select]="false" />
              </div>
            </div>
            <div class="hq-input">
              <label class="form-label">至</label>
              <div class="hq-col">
                <!--[min-hour]="minLeaveEndHours" 
                 [max-hour]="maxLeaveEndHours" -->
                <input readonly [min-date]="minLeaveEndDate" [max-date]="maxLeaveEndDate" [(ngModel)]="params.leaveEndTimeDate" name="leaveEndTimeDate"
                  class="form-control" type="text" ngui-datetime-picker [close-on-select]="false" />
              </div>
            </div>
            <div class="hq-input">
              <label class="form-label">进店时间</label>
              <div class="hq-col">
                <input readonly [max-date]="maxEnterStartDate" [(ngModel)]="params.enterStartTimeDate" name="enterStartTimeDate" class="form-control"
                  type="text" ngui-datetime-picker [close-on-select]="false" />
              </div>
            </div>
            <div class="hq-input">
              <label class="form-label col-form-label">至</label>
              <div class="hq-col">
                <input readonly [min-date]="minEnterEndDate" [max-date]="maxEnterEndDate" [(ngModel)]="params.enterEndTimeDate" name="enterEndTimeDate"
                  class="form-control" type="text" ngui-datetime-picker [close-on-select]="false" />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="hq-input">
              <label for="type" class="form-label col-form-label">维修类型</label>
              <div class="hq-col">
                <select id="type" [(ngModel)]="params.type" name="type" class="form-control">
                  <option style="display:none">
                  <option *ngFor="let type of maintenanceTypeData" value="{{type.id}}">{{type.value}}</option>
                </select>
              </div>
            </div>
            <!--<label for="searchRange" class="col-1 col-form-label col-form-label">查询范围</label>
              <div class="col-2">
                <ngx-dropdown-treeview [config]="config" [items]="items" (selectedChange)="onSearchRangeChange($event)"> >
                </ngx-dropdown-treeview>
              </div>-->
            <div class="hq-input" style="width:50%" *ngIf="!isCollapsed">
              <div class="hq-col">
                <button type="submit" [disabled]="false" class="btn btn-primary mr-2">查询</button>
                <button type="reset" class="btn btn-warning mr-2">清空</button>
                <button [hqSpinner]="generating" type="button" (click)="export()" class="btn btn-secondary mr-2">导出</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <br>
    <div class="table-container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>操作</th>
            <th>状态</th>
            <th>车牌号</th>
            <th>工单号</th>
            <th>维修类型</th>
            <th>进厂时间</th>
            <th>预计交车时间</th>
            <th>超时</th>
            <th>车型</th>
            <th>VIN</th>
            <th>送修人</th>
            <th>送修人电话</th>
            <th>维修技师</th>
            <th>出厂时间</th>
            <th>服务顾问</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list" class="text-center">
            <td width="40">
              <!--<a href="#" (click)="nullifyHandler($event, item.id)">作废</a> |-->
              <button [hqSpinner]="item.generating" type="button" class="btn btn-sm btn-info  " [disabled]="item.generating" (click)="orderDetailsHandler(item, lgModal)">详情</button>
            </td>
            <td>{{item.statusName}}</td>
            <td>{{item.plateNo}}</td>
            <td>{{item.billCode}}</td>
            <td>{{item.typeName}}</td>
            <td>{{item.createdOnUtc|sDatetime}}</td>
            <td>{{item.expectLeave|sDatetime}}</td>
            <td [class.overtime]="item.overTime">{{item.overTime|durationHumanize}}</td>
            <td>
              <span *ngIf="item?.brand">{{item.brand}}</span>
              <span *ngIf="item?.series">,{{item.series}}</span>
              <span *ngIf="item?.vehicleName">,{{item.vehicleName}}</span>
            </td>
            <td>{{item.vin}}</td>
            <td>{{item.contactUser}}</td>
            <td>{{item.contactInfo}}</td>
            <td>
              {{item.employeeNames}}
              <!--如果转派  追加显示转派人-->
              <!--<span *ngIf="item.teamType === 2">,{{item.turnEmployeeNames}}</span>-->
            </td>
            <td>{{item.leaveTime|sDatetime}}</td>
            <td>{{item.createdUserName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" (pageChanged)="onPageChanged($event)"></hq-pagination>

    <!--详情 begin-->
    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
      <div *ngIf="lgModal.isShown" class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title pull-left">维修工单详情</h6>
            <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
              <span aria-hidden="true"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <hq-workorder-detail [data]="selectedOrder"></hq-workorder-detail>
            <!--只有前4个选项卡显示-->
            <hq-fee-statistics [fee]="selectedOrder.fee"></hq-fee-statistics>
          </div>
          <div class="modal-footer">
            <div class="text-center" style="width:100%;">
              <button type="button" class="btn btn-export" (click)="print()">打印</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hq-workorder-detail-print *ngIf="lgModal.isShown" class="invisible" [data]="selectedOrder" hqPrint #printer="hq-print"></hq-workorder-detail-print>