.check-label {
    display: flex;
    width: 80%;
    height:40px;
    float: left;
    padding: 0.3125rem 0.625rem;
}
.check-label-col {
    flex: 2;
    height: 2.5rem;
    border: 1px solid rgba(0,0,0,.15);
}
.form-check-inline {
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
}
.form-check-label{
  margin-bottom: .5rem;
}
.advanceFilter {
    height:40px;
    line-height:40px;
}
.advanceFilter a{
  color: #1CB4C6;
}
.modal-footer {
  border-top: none;
  padding: 0;
  padding-bottom: 15px;
}






.hq-col{
  flex: 2;
  position: relative;
}
.hq-input{
  display: flex;
  width: 20%;
  float: left;
  padding: 0.3125rem 0.625rem;
  margin-bottom: -1.25rem;
}
.form-label{
  min-width: 6.25rem;
  padding: 0 0.625rem;
  line-height: 2.5rem;
  height: 2.5rem;
  background:#f3f3f4;
  color: #727171;
  font-size: 0.875rem;
}
.form-control {
  height: 2.5rem;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
input[disabled] {
  background: #f7f8f8;
}
.card-block {
  padding-top: 0.625rem;
}
.btn-color {
  background:#27b394 !important;
}