<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    <span>采购退库</span>
    <ng-template hqSuspendBill="PR" (onRemove)="onSuspendRemove($event)" (onSelect)="onSuspendSelect($event)" [columns]="suspendedColumns"></ng-template>
  </div>
  <div class="card-block">
    <form class="form-inline mb-2">
      <div class="form-group mb-2">
        <label>*供应商名称</label>
        <div class="mx-sm-3">
          <input [hqTableTypeahead]="source" [columns]="providerColumns" (onSelect)="onProviderSelect($event)" value="{{model?.provider||''}}"
            class="form-control" placeholder="请输入供应商名称" />
        </div>
      </div>
      <div class="form-group mb-2">
        <label>*入库单号</label>
        <select class="mx-sm-3 form-control" (change)="onBillCodeChange($event)">
          <option>请选择入库单号</option>
          <option [value]="item.value" *ngFor="let item of billCodes">{{item.text}}</option>
        </select>
      </div>
      <div class="form-group mb-2">
        <button (click)="createModal.show()" class="btn btn-primary mx-sm-1" translate>新增</button>
      </div>
    </form>
    <div class="overflow-auto">
      <table class="table table-bordered table-striped">
        <thead>
          <tr *ngIf="!loading">
            <th translate>操作</th>
            <th translate>仓库</th>
            <th translate>品牌</th>
            <th translate>配件编码</th>
            <th translate>配件名称</th>
            <th translate>规格型号</th>
            <th translate>配件类别</th>
            <th translate>库位</th>
            <th translate>数量（个）</th>
            <th translate>已退数量</th>
            <th translate>含税单价（元）</th>
            <th translate>含税总金额（元）</th>
            <th translate>不含税单价（元）</th>
            <th translate>不含税总金额（元）</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td class="text-center">
              <button (click)="onProviderEdit(item)" class="btn btn-sm btn-info">退库</button>
            </td>
            <td>{{item.storeName}}</td>
            <td>{{item.brand}}</td>
            <td>{{item.productCode}}</td>
            <td>{{item.productName}}</td>
            <td>{{item.specification}}</td>
            <td>{{item.productCategory}}</td>
            <td>{{item.locationName }}</td>
            <td class="text-center">{{item.count }}</td>
            <td class="text-center">{{item.returnCount }}</td>
            <td class="text-right">{{item.price|centToYuan}}</td>
            <td class="text-right">{{item.amount|centToYuan}}</td>
            <td class="text-right">{{item.exTaxPrice|centToYuan }}</td>
            <td class="text-right">{{item.exTaxAmount|centToYuan }}</td>
          </tr>
        </tbody>
      </table>
      <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" [itemsPerPage]="size" (pageChanged)="onPageChanged($event)"></hq-pagination>
    </div>
    <div class="overflow-auto">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th translate>装箱单号</th>
            <th translate>仓库</th>
            <th translate>品牌</th>
            <th translate>配件编码</th>
            <th translate>配件名称</th>
            <th translate>规格型号</th>
            <th translate>配件类别</th>
            <th translate>库位</th>
            <th translate>数量（个）</th>
            <th translate>含税单价（元）</th>
            <th translate>含税总金额（元）</th>
            <th translate>税率（%）</th>
            <th translate>不含税单价（元）</th>
            <th translate>不含税总金额（元）</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of model.list;let i=index">
            <td>{{item.packingCode }}</td>
            <td>{{item.storeName}}</td>
            <td>{{item.brand}}</td>
            <td>{{item.productCode }}</td>
            <td>{{item.productName }}</td>
            <td>{{item.specification}}</td>
            <td>{{item.productCategory}}</td>
            <td>{{item.locationName }}</td>
            <td class="text-center">{{item.count }}</td>
            <td class="text-right">{{item.price|centToYuan}}</td>
            <td class="text-right">{{item.amount|centToYuan}}</td>
            <td class="text-center">{{item.taxRate }}</td>
            <td class="text-right">{{item.exTaxPrice|centToYuan }}</td>
            <td class="text-right">{{item.exTaxAmount|centToYuan }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-muted">
    <button class="btn btn-primary" (click)="generate($event)">生成采购退库单</button>
    <button [disabled]="!model?.list?.length" class="btn btn-info" (click)="suspend($event)">挂单</button>
  </div>
</div>

<div class="modal fade" bsModal #createModal="bs-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">新增</h5>
        <button class="close pull-right" (click)="createModal.hide()">&times;</button>
      </div>
      <div class="modal-body">
        <hq-return-create (formSubmit)="onCreate($event)"></hq-return-create>
      </div>
    </div>
  </div>
</div>

<hq-return-print class="invisible" hqPrint #printer="hq-print" [model]="printModel"></hq-return-print>