<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    <span>采购退库</span>
    <ng-template hqPurchaseOutBill (onRemove)="onSuspendRemove($event)" (onSelect)="onSuspendSelect($event)"></ng-template>
  </div>
  <div class="card-block">
    <form class="form-inline mb-2">
      <div class="input-group m-1">
        <span class="input-group-addon">供应商名称</span>
        <input hqProviderTypeahead (onSelect)="onProviderSelect($event)" value="{{model?.provider||''}}" class="form-control" placeholder="请输入供应商名称"
        />
      </div>
      <div class="input-group m-1">
        <span class="input-group-addon">入库单号</span>
        <select [disabled]="!billCodes?.length" class="form-control" name="suppliers" (change)="onBillCodeChange($event)">
          <option>请选择入库单号</option>
          <option [value]="item.value" [attr.selected]="item.checked" *ngFor="let item of billCodes">{{item.text}}</option>
        </select>
      </div>
    </form>
    <hr>
    <div class="table-caption">采购入库信息</div>
    <div class="table-container">
      <table class="table table-bordered">
        <thead>
          <tr *ngIf="!loading">
            <th>操作</th>
            <th>仓库</th>
            <th>库位</th>
            <th>配件编码</th>
            <th>配件类别</th>
            <th>配件名称</th>
            <th>品牌</th>
            <th>规格型号</th>
            <th>单位</th>
            <th>数量</th>
            <th>已退数量</th>
            <th>含税单价（元）</th>
            <th>含税总金额（元）</th>
            <th>不含税单价（元）</th>
            <th>不含税总金额（元）</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td class="text-center">
              <button [disabled]="getAddedCount(item)>=item.count" (click)="onProductSelect(item)" class="btn btn-sm btn-info">退库</button>
            </td>
            <td>{{item.storeName}}</td>
            <td>{{item.locationName }}</td>
            <td>{{item.productCode}}</td>
            <td>{{item.productCategory}}</td>
            <td>{{item.productName}}</td>
            <td>{{item.brand}}</td>
            <td>{{item.specification}}</td>
            <td>{{item.unit}}</td>
            <td class="text-center">{{item.count }}</td>
            <td class="text-center">{{item.returnCount }}</td>
            <td class="text-right">{{item.price|centToYuan}}</td>
            <td class="text-right">{{item.amount|centToYuan}}</td>
            <td class="text-right">{{item.exTaxPrice|centToYuan }}</td>
            <td class="text-right">{{item.exTaxAmount|centToYuan }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" [itemsPerPage]="size" (pageChanged)="onPageChanged($event)"></hq-pagination>
    <hr>
    <div class="table-caption">采购退库信息</div>
    <div class="table-container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>操作</th>
            <th>仓库</th>
            <th>库位</th>
            <th>配件编码</th>
            <th>配件类别</th>
            <th>配件名称</th>
            <th>品牌</th>
            <th>规格型号</th>
            <th>单位</th>
            <th>数量</th>
            <th>含税单价（元）</th>
            <th>含税金额（元）</th>
            <th>不含税单价（元）</th>
            <th>不含税金额（元）</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of model.list;let i=index">
            <td class="text-center">
              <button (click)="onProductRemove(item)" class="btn btn-sm btn-warning">删除</button>
            </td>
            <td>{{item.storeName}}</td>
            <td>{{item.locationName }}</td>
            <td>{{item.productCode }}</td>
            <td>{{item.productCategory}}</td>
            <td>{{item.productName }}</td>
            <td>{{item.brand}}</td>
            <td>{{item.specification}}</td>
            <td>{{item.unit}}</td>
            <td class="text-center">{{item.count }}</td>
            <td class="text-right">{{item.price|centToYuan}}</td>
            <td class="text-right">{{item.amount|centToYuan}}</td>
            <td class="text-right">{{item.exTaxPrice|centToYuan }}</td>
            <td class="text-right">{{item.exTaxAmount|centToYuan }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-muted">
    <button [disabled]="!model?.valid" class="btn btn-primary" (click)="generate($event)">生成采购退库单</button>
    <button [disabled]="!model?.valid" class="btn btn-success btn-suspend" (click)="suspend($event)">挂单</button>
  </div>
</div>

<div class="modal fade" bsModal #createModal="bs-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">新增</h5>
        <button class="close pull-right" (click)="createModal.hide()">&times;</button>
      </div>
      <div class="modal-body" *ngIf="createModal.isShown">
        <hq-return-create [model]="product" (close)="createModal.hide()" (submit)="onCreate($event)"></hq-return-create>
      </div>
    </div>
  </div>
</div>

<hq-return-print class="invisible" hqPrint #printer="hq-print" print-title="采购退库单" [model]="printModel"></hq-return-print>