<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    <label>盘点清单</label>
  </div>
  <div class="card-block">
    <form class="form-inline mb-2" (ngSubmit)="onLoadList()">
      <div class="input-group m-1">
        <label class="input-group-addon">盘点单号</label>
        <input type="text" class="form-control" name="billCode" [(ngModel)]="params.billCode" placeholder="请输入盘点单号">
      </div>
      <div class="input-group m-1">
        <label class="input-group-addon">生成日期</label>
        <input class="form-control" ngui-datetime-picker date-only="true" [max-date]="params.createTimeEnd" name="createTimeStart"
          [(ngModel)]="params.createTimeStart" placeholder="请选择开始日期">
        <label class="input-group-addon">-</label>
        <input class="form-control" ngui-datetime-picker date-only="true" [min-date]="params.createTimeStart" name="createTimeEnd"
          [(ngModel)]="params.createTimeEnd" placeholder="请选择截止日期">
      </div>
      <div class="input-group m-1">
        <label class="input-group-addon">操作人</label>
        <input type="text" class="form-control" name="operator" [(ngModel)]="params.operator" placeholder="请输入操作人">
      </div>
      <div class="input-group m-1">
        <button type="submit" class="btn btn-primary">查询</button>
      </div>
    </form>
    <div class="table-container">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th>操作</th>
            <th>盘点单号</th>
            <th>生成时间</th>
            <th>仓库</th>
            <th>操作人</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td>
              <button [routerLink]="['detail',item.billCode]" class="btn btn-sm btn-info">详情</button>
            </td>
            <td>{{item.billCode}}</td>
            <td>{{ item.createdOnUtc|sDatetime}}</td>
            <td class="text-left">{{item.houseName }}</td>
            <td class="text-left">{{item.operator}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" [(itemsPerPage)]="size" (pageChanged)="onPageChanged($event)"></hq-pagination>
  </div>
  <div class="card-footer text-muted">
    <button class="btn btn-primary" (click)="generateModal.show()">创建盘点单</button>
  </div>
</div>

<div hqModal #generateModal="hq-modal" modalTitle="创建盘点清单" size="lg">
  <hq-stock-list-create *ngIf="generateModal.isShown" (onSubmit)="onGenerate($event)" (onCancel)="generateModal.hide()"></hq-stock-list-create>
</div>