<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    盘点清单
  </div>
  <div class="card-block">
    <form class="form-inline mb-2" (ngSubmit)="onLoadList()">
      <div class="input-group m-1">
        <span class="input-group-addon">盘点单号</span>
        <input type="text" class="form-control" name="billCode" [(ngModel)]="params.billCode" placeholder="请输入盘点单号">
      </div>
      <div class="input-group m-1">
        <span class="input-group-addon">生成日期</span>
        <input class="form-control" ngui-datetime-picker date-only="true" name="createTimeStart" [(ngModel)]="params.createTimeStart"
          placeholder="请选择开始日期">
        <span class="input-group-addon">-</span>
        <input class="form-control" ngui-datetime-picker date-only="true" name="createTimeEnd" [(ngModel)]="params.createTimeEnd"
          placeholder="请选择截止日期">
      </div>
      <div class="input-group m-1">
        <span class="input-group-addon">操作人</span>
        <input type="text" class="form-control" name="operator" [(ngModel)]="params.operator" placeholder="请输入操作人">
      </div>
      <div class="input-group m-1">
        <button type="submit" class="btn btn-primary">查询</button>
      </div>
    </form>
    <div class="table-container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>操作</th>
            <th>盘点单号</th>
            <th>生成时间</th>
            <th>仓库</th>
            <th>操作人</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td class="text-center">
              <button [routerLink]="['detail',item.billCode]" class="btn btn-sm btn-info">详情</button>
            </td>
            <td class="text-center">{{item.billCode}}</td>
            <td class="text-center">{{ item.createdOnUtc|sDatetime}}</td>
            <td>{{item.houseName }}</td>
            <td>{{item.operator}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" (pageChanged)="onPageChanged($event)"></hq-pagination>
  </div>
  <div class="card-footer text-muted">
    <button class="btn btn-primary" (click)="generateModal.show()">创建盘点单</button>
  </div>
</div>

<div class="modal fade" hqBsModal #generateModal="hq-bs-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">创建盘点清单</h5>
        <button class="close pull-right" (click)="generateModal.hide()">&times;</button>
      </div>
      <div class="modal-body" *ngIf="generateModal.isShown">
        <hq-stock-list-create (onSubmit)="onGenerate($event)" (onCancel)="generateModal.hide()"></hq-stock-list-create>
      </div>
    </div>
  </div>
</div>