
<div class="card append-order">
  <div class="card-header">
    <span>增项</span>
  </div>
  <div class="card-block">
        <form _ngcontent-c5="" class="form-inline mb-2 ng-pristine ng-valid ng-touched assign-form" novalidate="">
      <input _ngcontent-c5="" class="form-control mb-2 mr-2 ng-pristine ng-valid ng-touched" name="title" placeholder="请输入车牌号/工单号"
        type="text" ng-reflect-name="title">
      <button _ngcontent-c5="" class="btn btn-primary mb-2 mr-2" translate="" type="submit" ng-reflect-translate="">搜索</button>
    </form>
    <hr>
    <form [formGroup]="createWorkSheetForm" (ngSubmit)="onSerarch()">
      <!--工单基本筛选条件面板-->
      <div class="form-group row">
        <label for="carNo" class="col-sm-1 col-form-label col-form-label-sm"><span class="asterisk">*&nbsp;</span>车牌号:</label>
        <div class="col-sm-2">
          <input type="text" readonly class="form-control readonly form-control-sm" formControlName="carNo" id="carNo" placeholder="">
        </div>
        <label for="carOwner" class="col-sm-1 col-form-label col-form-label-sm"><span class="asterisk">*&nbsp;</span>车主:</label>
        <div class="col-sm-2">
          <input type="text" readonly class="form-control readonly form-control-sm" formControlName="carOwner" id="carOwner" placeholder="">
        </div>
        <label for="carOwnerPhone" class="col-sm-1 col-form-label col-form-label-sm">车主电话:</label>
        <div class="col-sm-2">
          <input type="tel" readonly class="form-control readonly form-control-sm" formControlName="carOwnerPhone" id="carOwnerPhone" placeholder="">
        </div>
      </div>
      <hr>
      <div class="form-group row">
        <label for="createOrderTime" class="col-sm-1 col-form-label col-form-label-sm">开单时间:</label>
        <div class="col-sm-2">
          <input type="text" readonly class="form-control readonly form-control-sm" formControlName="createOrderTime" id="createOrderTime">
        </div>
        <label for="sender" class="col-sm-1 col-form-label col-form-label-sm"><span class="asterisk">*&nbsp;</span>送修人:</label>
        <div class="col-sm-2">
          <input  type="text" readonly class="form-control readonly form-control-sm" formControlName="sender" id="sender" placeholder="">
        </div>
        <label for="senderPhone" class="col-sm-1 col-form-label col-form-label-sm"><span class="asterisk">*&nbsp;</span>送修人电话:</label>
        <div class="col-sm-2">
          <input type="tel" readonly class="form-control readonly form-control-sm" formControlName="senderPhone" id="senderPhone" placeholder="">
        </div>
        <label for="serviceConsultant" class="col-sm-1 col-form-label col-form-label-sm">服务顾问:</label>
        <div class="col-sm-2">
          <input type="text" readonly class="form-control readonly form-control-sm" formControlName="serviceConsultant" id="serviceConsultant">
        </div>
      </div>
      <div class="form-group row">
        <label for="carBrand" class="col-sm-1 col-form-label col-form-label-sm"><span class="asterisk">*&nbsp;</span>品牌:</label>
        <div class="col-sm-2">
          <input type="text"  readonly class="form-control readonly form-control-sm" formControlName="carBrand" id="carBrand" placeholder="">
        </div>
        <label for="carSeries" class="col-sm-1 col-form-label col-form-label-sm"><span class="asterisk">*&nbsp;</span>车系:</label>
        <div class="col-sm-2">
          <input type="text"  readonly class="form-control readonly form-control-sm" formControlName="carSeries" id="carSeries" placeholder="">
        </div>
        <label for="carType" class="col-sm-1 col-form-label col-form-label-sm"><span class="asterisk">*&nbsp;</span>车型:</label>
        <div class="col-sm-2">
          <input type="text"  readonly class="form-control readonly form-control-sm" formControlName="carType" id="carType" placeholder="">
        </div>
        <label for="vin" class="col-sm-1 col-form-label col-form-label-sm"><span class="asterisk">*&nbsp;</span>VIN:</label>
        <div class="col-sm-2">
          <input type="text"  readonly class="form-control readonly form-control-sm" formControlName="vin" id="vin" placeholder="">
        </div>
      </div>
      <hr>
      <div class="form-group row">
        <label for="repairType" class="col-sm-1 col-form-label col-form-label-sm"><span class="asterisk mr-1">*</span>维修类型:</label>
        <div class="col-sm-2">
                    <input readonly class="form-control readonly form-control-sm" formControlName="repairType" id="repairType">
        </div>
        <label for="predictedFinishTime" class="col-sm-2 col-form-label col-form-label-sm">预计交车日期:</label>
        <div class="input-group input-group-sm col-sm-3">
          <input readonly class="form-control readonly form-control-sm" type="text"  formControlName="predictedFinishTime"/>
          
        </div>
        <label for="mileage" class="col-sm-1 col-form-label col-form-label-sm"><span class="asterisk mr-1">*</span>行驶里程:</label>
        <div class="input-group input-group-sm col-sm-2">
          <input readonly class="form-control readonly form-control-sm" formControlName="mileage" id="mileage">
          <span class="input-group-addon">KM</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="previousEntryTime" class="col-sm-1 col-form-label col-form-label-sm">上次进店时间:</label>
        <div class="col-sm-2">
          <input readonly class="form-control readonly form-control-sm" formControlName="previousEntryTime" id="previousEntryTime">
        </div>
        <label for="suggestedNextMaintenanceTime" class="col-sm-2 col-form-label col-form-label-sm">建议下次保养日期:</label>
        <div class="input-group input-group-sm col-sm-3">
          <input readonly class="form-control readonly form-control-sm" type="text" formControlName="suggestedNextMaintenanceTime"/>
        
        </div>
        <label for="repairStation" class="col-sm-1 col-form-label col-form-label-sm">维修工位:</label>
        <div class="col-sm-2">
          <input readonly class="form-control readonly form-control-sm" formControlName="repairStation" id="repairStation">
        </div>
      </div>
      <div class="form-group row">
        <label for="previousEntryMileage" class="col-sm-1 col-form-label  col-form-label-sm">上次进店里程:</label>
        <div class="input-group input-group-sm col-sm-2">
          <input type="text"readonly class="form-control readonly form-control-sm"  formControlName="previousEntryMileage" id="previousEntryMileage">
          <span class="input-group-addon">KM</span>
        </div>
        <label for="suggestedNextMaintenanceMileage" class="col-sm-2 col-form-label col-form-label-sm">建议下次保养里程:</label>
       <div class="input-group input-group-sm col-sm-3">
          <input type="text" readonly class="form-control readonly form-control-sm" formControlName="suggestedNextMaintenanceMileage" id="suggestedNextMaintenanceMileage">
          <span class="input-group-addon">KM</span>
        </div>
      </div>
    </form>
    <hr>


    <tabset #staticTabs>
      <tab>
        <template tabHeading>
          <span class="asterisk mr-1">*</span>维修项目
        </template>
        <ng2-smart-table [settings]="maintanceItemSettings" [source]="maintenanceProjectData" ></ng2-smart-table>
      </tab>
      <tab>
        <template tabHeading>
          <span class="asterisk mr-1">*</span>维修配件
        </template>
        <ng2-smart-table [settings]="maintanceFixingsSettings" [source]="maintenanceFixingsData"></ng2-smart-table>
      </tab>
      <tab heading="附加项目">
        <ng2-smart-table [settings]="addsOnItemSettings"></ng2-smart-table>
      </tab>
      <tab heading="建议维修项">
        <ng2-smart-table [settings]="suggestedMaintanceSettings"></ng2-smart-table>
      </tab>
      <tab heading="历史维修记录">
        <ng2-smart-table [settings]="maintanceItemSettings"></ng2-smart-table><br>
        <ng2-smart-table [settings]="maintanceFixingsSettings"></ng2-smart-table><br>
        <ng2-smart-table [settings]="addsOnItemSettings"></ng2-smart-table><br>
        <ng2-smart-table [settings]="suggestedMaintanceSettings"></ng2-smart-table>
      </tab>
      <tab heading="客户回访记录">
        <ng2-smart-table [settings]="returnVisitSettings"></ng2-smart-table>
      </tab>
    </tabset>

    <!--只有前4个选项卡显示-->
    <div *ngIf="true" class="card">
      <div class="card-header" style="font-size:smaller;color:gray;padding: 3px 5px;">
        折前费用: 工时费&nbsp;
        <span>745</span>&nbsp;|&nbsp; 材料费&nbsp;
        <span>1</span> &nbsp;|&nbsp; 套餐费&nbsp;
        <span>45</span> &nbsp;|&nbsp; 附加项目费&nbsp;
        <span>646</span> &nbsp;|&nbsp; 合计&nbsp;
        <span>165655</span>&nbsp;|&nbsp;
      </div>
      <div class="card-block text-center">
        <button type="button" class="btn btn-primary">提交增项</button>
      </div>
    </div>

  </div>

