.append-order .search-table{
        border: 1px solid #ddd;
}
.append-order .search-table td{
    font-size:.9rem;
}
.append-order .search-table td:nth-child(2n-1){
    text-align: right;
    font-weight: bold;
}
.append-order .search-table td:nth-child(2n){
    background-color:rgba(221, 221, 221, 0.29);
}
.append-order caption {
    caption-side: top;
}
.append-order .ng2-smart-actions{
    width: 100px !important;
}
.append-order table tr th{
border-top:0;
}
inputFilter{
    width: 200px;
    background-color: #ddd;
    border-color: red;
}
