<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    <span>资源分组列表</span>
    <div class="pull-right">
      <a routerLink="create" class="btn btn-sm btn-primary">add</a>
    </div>
  </div>
  <div class="card-block">
    <form class="form-inline mb-2" (ngSubmit)="onLoadList()">
      <input type="text" name="groupName" [(ngModel)]="params.groupName" class="form-control mb-2 mr-2" placeholder="请输入分组名称">
      <button type="submit" class="btn btn-primary mb-2 mr-2">查询</button>
    </form>
    <table class="table table-bordered table-sm table-striped">
      <thead>
        <tr>
          <th>name</th>
          <th>description</th>
          <th>display.order</th>
          <th>create.time</th>
          <th>status</th>
          <th>operator</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td>{{ item.groupName }}</td>
          <td>{{ item.description }}</td>
          <td class="text-center">{{ item.displayOrder }}</td>
          <td class="text-center">{{ item.createdOnUtc|date:'y-MM-dd HH:mm:ss' }}</td>
          <td class="text-center"><i class="fa fa-{{ item.enabled?'check':'times' }}"></i></td>
          <td class="text-center">
            <a [routerLink]="['../../resource']" [queryParams]="{groupId:item.id}" class="btn btn-sm btn-info" title="查看资源"><i class="fa fa-linode"></i></a>
            <a [routerLink]="['edit',item.id]" class="btn btn-sm btn-success" title="编辑"><i class="fa fa-pencil-square-o"></i></a>
            <a (click)="onDelete($event,item.id)" class="btn btn-sm btn-danger" title="删除"><i class="fa fa-trash-o"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" [itemsPerPage]="size" (pageChanged)="onPageChanged($event)"></hq-pagination>
  </div>
</div>