.business .margin-l{
    margin-left: 15px;
}
.business .color{
    color: red;
}
.business table th,.business table td{
    text-overflow:ellipsis; 
    white-space:nowrap; 
    overflow:hidden;
    text-align: center;
}
.mg{
    margin: 0 auto;
}
.modal-header{
    padding-bottom: 0;
    border: none;
}
.modal-body{
    padding-top: 0;
}

.modal-body .card {
    border: none;
    font-size: 14px;
}
.modal-body .card-block {
    border: 1px solid #333333;
    font-weight: 400;
}
.modal-body .clearborder{
    border: none;
    padding-top: 0;
    font-size: 12px;
}
.modal-body .card-block label {
    width: 70px;
}
.modal-body .clearborder label{
    text-align: right;
}
.modal-body caption{
    font-weight: 700;
    caption-side: top;
}
.modal-body hr {
    border-top: 2px solid #333333;
}
.modal-body th,.modal-body td {
    padding: 0.25rem;
    text-align: center;
    white-space: normal; 
}
.red-color{
    color:red;
}