<form class="form-inline mb-2">
  <div class="form-group mb-2">
    <label>配件编码：</label>
    <div>
      <input #code [hqTableTypeahead]="codeSource" [columns]="columns" (onSelect)="onItemSelect($event)" class="form-control mx-sm-3"
        placeholder="配件编码">
    </div>
  </div>
  <div class="form-group mb-2">
    <label class="mr-sm-2">配件名称：</label>
    <div>
      <input #name [hqTableTypeahead]="nameSource" [columns]="columns" (onSelect)="onItemSelect($event)" class="form-control mx-sm-3"
        placeholder="配件名称">
    </div>
  </div>
  <div class="form-group mb-2">
    <button (click)="onSearch()" class="btn btn-primary mx-sm-1" translate>搜索</button>
  </div>
</form>
<table class="table table-bordered table-sm table-striped">
  <thead>
    <tr>
      <th translate>序号</th>
      <th translate>品牌</th>
      <th translate>配件编码</th>
      <th translate>配件名称</th>
      <th translate>规格型号</th>
      <th translate>单价</th>
      <th translate>金额</th>
      <th translate>车型</th>
      <th translate>库存</th>
      <th translate>最新入库日期</th>
      <th translate>最新出库日期</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="item">
      <td>{{item.number}}</td>
      <td>{{item.brand }}</td>
      <td>{{item.code }}</td>
      <td>{{item.name}}</td>
      <td>{{item.specification }}</td>
      <td>{{item.price}}</td>
      <td>{{item.amount}}</td>
      <td>{{item.vehicleName }}</td>
      <td>{{item.count}}</td>
      <td>{{item.lastInStoreDate}}</td>
      <td>{{item.lastOutStoreDate}}</td>
    </tr>
  </tbody>
</table>