<form class="form-inline mb-2">
  <div class="form-group mb-2">
    <label class="mr-sm-1">配件编码：</label>
    <div class="mx-sm-3">
      <input [hqProductTypeahead]="code" (onSelect)="onItemSelect($event)" class="form-control" placeholder="配件编码">
    </div>
  </div>
  <div class="form-group mb-2">
    <label class="mr-sm-1">配件名称：</label>
    <div class="mx-sm-3">
      <input hqProductTypeahead [columns]="columns" (onSelect)="onItemSelect($event)" class="form-control" placeholder="配件名称">
    </div>
  </div>
</form>
<hr>
<div class="row" *ngIf="item">
  <div class="row col-3">
    <label class="text-right col-5">配件编码：</label>
    <div class="col-7">{{item.code }}</div>
  </div>
  <div class="row col-3">
    <label class="text-right col-5">配件类型：</label>
    <div class="col-7">{{item.categoryName }}</div>
  </div>
  <div class="row col-3">
    <label class="text-right col-5">配件名称：</label>
    <div class="col-7">{{item.name }}</div>
  </div>
  <div class="row col-3">
    <label class="text-right col-5">品牌：</label>
    <div class="col-7">{{item.brand }}</div>
  </div>
  <div class="row col-3">
    <label class="text-right col-5">规格型号：</label>
    <div class="col-7">{{item.specification }}</div>
  </div>
  <div class="row col-3">
    <label class="text-right col-5">单位：</label>
    <div class="col-7">{{item.unitName}}</div>
  </div>
  <div class="row col-3">
    <label class="text-right col-5">库存量：</label>
    <div class="col-7">{{item.count}}</div>
  </div>
  <div class="row col-3">
    <label class="text-right col-5">最新入库日期：</label>
    <div class="col-7">{{item.inTime|sDatetime}}</div>
  </div>
  <div class="row col-3">
    <label class="text-right col-5">最新出库日期：</label>
    <div class="col-7">{{item.outTime|sDatetime}}</div>
  </div>
</div>
<hr [hidden]="!item">