/* You can add global styles to this file, and also import other style files */
/*html{
    font-size: 14px;
}*/

@page :first {
    @bottom-center {
        content: "11111111111111";
    }
}

@page { color: red;
  @top-center {
    content: "Page " counter(page);
  }
}

.bg-inverse{
    background-color: #2d384b!important;
}
.card-header,.card-footer{
    background-color: #fff;
}

.card-block{
    overflow: auto;
}

.cursor-pointer{
    cursor:pointer;
}

input.ng-touched.ng-invalid,select.ng-touched.ng-invalid{
    border:1px solid #a94442;
}


select.form-control{
    padding: 0 12px;
}

td,th{
    white-space: nowrap;
}

table th{
    text-align: center;
}

/*ngx-bootstrap popver 样式复写  用于挂单列表显示*/
.popover-content {
    padding: 0;
    margin: 0;
}
.popover {
    padding: 0;
    max-width: 100%;
}
caption {
    caption-side: top;
}

/*必选项前面的星号样式*/ 
.asterisk {
    color: #ef1815;
    font-weight: bold;
    font-size: 16px;
}