/* You can add global styles to this file, and also import other style files */
/*html{
    font-size: 14px;
}*/
.print-visible{
    display: none;
}

.bg-inverse{
    background-color: #2d384b!important;
}
.card-header,.card-footer{
    background-color: #fff;
}

.cursor-pointer{
    cursor: pointer;
}

.table-caption{
    border: 1px solid rgb(236, 238, 239);
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: inline-block;
    padding: 5px 20px;
}
.table-container{
    overflow: auto;
    border: 1px solid rgb(236, 238, 239);
}
.table-container table{
    margin: 0;
    border: 0!important;
}
.table-container tr:first-child td,.table-container tr:first-child th{
    border-top-width: 0;
}
.table-container tr:last-child td,.table-container tr:last-child th{
    border-bottom-width: 0;
}
.table-container th:first-child,td:first-child{
    border-left-width: 0;
}
.table-container th:last-child,td:last-child{
    border-right-width: 0;
}
input.ng-touched.ng-invalid,select.ng-touched.ng-invalid{
    border:1px solid #a94442;
}
.input-group .ngui-datetime-picker-wrapper .form-control{
    width:inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group .input-group .form-control{
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}
.input-group .ngui-datetime-picker-wrapper:not(:last-child) .form-control{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
}
.table-container table td,th{
    padding: 0.5rem!important;
    white-space: nowrap;
    /*line-height: 2.5rem;
    height: 2.5rem;*/
}
.table-container table td {
    font-size: 0.875rem;
    vertical-align: middle !important;
}
.table-container table th{
    background: #f3f3f4;
    font-size: 1rem;
    font-weight: 500;
    color: #727171;
    border-color: #dcdddd;
}
table th{
    text-align: center;
}
caption {
    caption-side: top;
}
/*必选项前面的星号样式*/ 
.asterisk {
    color: #c9302c;
}
form .asterisk {
    line-height: 2.5rem;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1rem;
}
.overtime {
    color: #c9302c;
}
.form-inline .form-group{
    margin: 6px;
}
input[readonly][ngui-datetime-picker]{
  background-color:transparent !important;
}
input[disabled] {
  background: #f7f8f8;
}
hqtabletypeahead ul{
    margin-bottom: 0;
}
.append-stamp{
    position: relative;
    left: 14px;
    display: inline-block;
    max-width: 200px;
    padding:1px 6px;
    color: #1c84c6;
    border:1px solid #1c84c6;
    text-align: center;
    background-color: #fff;
    border-radius: 2px;
    /*border-radius: .25rem;*/
    font-size:.875rem;
}
.append-stamp::before {  
    content: '';
    position: absolute;
    top: 5px;
    left: -6px;
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-right: 6px solid #1c84c6;
    border-top: 5px solid transparent; 
}
.append-stamp::after{
    content: '';
    position: absolute;
    top: 5px;
    left: -5px;
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-right: 6px solid #fff;
    border-top: 5px solid transparent;
}
/*已通过标志*/
.accept-stamp{ 
    display:inline-block;
    position: relative;
    left: 11px;
    font-size:.875rem;
    color: #1c84c6;
    border:1px solid #1c84c6;
    border-radius: 2px;
    padding:1px 6px;
    text-align: center;
    background-color: #fff;
}
.accept-stamp::before{
    content:"√已通过";
}
.card-header {
    color: #727171;
    font-size: 1rem;
}
tabset ul li.active a{
  color: #464a4c;
}
tabset ul li a, tabset ul li a:hover {
  color: #a7b1c2;
}
/*大按钮*/
.btn{
    cursor: pointer;
    padding:9px 30px;
}
.btn:active{
    border: 0
}
/*小按钮*/
.table-container .btn-sm{
    padding:6px 22px !important;
    cursor: pointer;
}
/*查询按钮*/
.btn-primary{
    background-color: #27b394 !important;
    border: 0;
    transition: .8s;
}
.btn-primary:hover{
    background-color: #22cda7 !important;
    border: 0;
}
/*删除按钮*/
.btn-error,.btn-danger{
    background-color:#eb5267 !important;
    border:0;
    transition: .8s;
}
.btn-error,.btn-danger:hover{
    background-color:rgba(255, 0, 24, 0.91) !important;
}
/*挂单按钮*/
.btn-suspend{
    background-color: #fa9837 !important;
    border:0;
}
.btn-suspend:hover{
    background-color:#d8812b !important;    
}
/*打印、导出按钮*/
.btn-export{
    background-color: #1c84c6 !important;
    color: #fff;
    border:0;
    transition: .8s;
}
.btn-export:hover{
    background-color: #2e9be0 !important;
    border:0;
}
.tab-content>.active {
    margin-top: .6rem;
}
    /*费用样式*/
.hq-fee{
    background-color: #fcf8e3 !important;
    border: 1px solid #dcdddd;
    color: #8a6d3b;
    width: 100%;
    font-size: 1rem;
    height: 40px;
    line-height: 40px;
    padding-left: 27px;
    margin: 15px auto;
}
.hq-fee .fee-name{
    color:#8a6d3b;
    font-size:1rem;
    margin-right: 1.5rem;
}
.hq-fee .fee-value{
    color:#eb5267;
    font-size:1.1rem;
    margin-left:2px;
}
.fa-times-circle {
    font-size: 1rem;
    vertical-align: middle;
    font-weight: normal;
}
.btn.disabled, .btn:disabled{
    background-color: #dcdddd !important;
    opacity: 1;
    border-color: #dcdddd;
    cursor:not-allowed;
}
/*去除input蓝色边框*/
input:focus{
    border:1px solid #27b394 !important;
    outline:none; 
}
/*分页样式*/
.page-link{
    color:#27b394 !important;
}
.page-item.active .page-link{
    background-color:#27b394 !important;
    color:#fff !important;
    border:1px solid #27b394 !important;
}
.page-item.disabled .page-link {
    color:#727171 !important;
}
/*详情展示或基本信息展示表格样式*/
.table-order-info td{
    text-align: left !important;
    padding-left: 1.1rem !important;
    width: 25%;
}
      /*表格标题左对齐*/
table .tr-left-bold{
    text-align: left;
    font-weight: bold;
    padding-left: 1.1rem !important;
}
/*.form-control:focus{
    border-color:#27b394 !important;
}
select{
     border-color:#27b394 !important;
}*/