<h3>{{model?.title}}</h3>
<hr class="blod">
<div class="clearfix">
  <div class="pull-left mr-3">退库单号：{{model?.billCode}}</div>
  <div class="pull-left mr-3">供应商名称：{{model?.provider}}</div>
  <div class="pull-right">开单时间：{{model?.createBillDateTime|sDatetime}}</div>
</div>
<hr>
<div class="print-page">
  <table class="table table-bordered table-sm table-striped">
    <thead>
      <tr>
        <th>仓库</th>
        <th>库位</th>
        <th>配件编码</th>
        <th>配件分类</th>
        <th>配件名称</th>
        <th>品牌</th>
        <th>规格型号</th>
        <th>单位</th>
        <th>数量（个）</th>
        <th>含税单价（元）</th>
        <th>含税金额（元）</th>
        <th>不含税单价（元）</th>
        <th>不含税金额（元）</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of model?.list;let i=index">
        <td>{{item.storeName }}</td>
        <td>{{item.locationName }}</td>
        <td>{{item.productCode }}</td>
        <td>{{item.productCategory}}</td>
        <td>{{item.productName}}</td>
        <td>{{item.brand }}</td>
        <td>{{item.productSpecification }}</td>
        <td>{{item.unit }}</td>
        <td class="text-center">{{item.count}}</td>
        <td class="text-right">{{item.price|centToYuan }}</td>
        <td class="text-right">{{item.amount|centToYuan }}</td>
        <td class="text-right">{{item.exTaxPrice|centToYuan }}</td>
        <td class="text-right">{{item.exTaxAmount|centToYuan }}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <div class="pull-left mr-3">含税金额：{{model?.totalAmount|centToYuan}}</div>
    <div class="pull-left mr-3">不含税金额：{{model?.totalExTaxAmount|centToYuan}}</div>
    <div class="pull-left mr-3">打印时间：{{model?.printDateTime|sDatetime}}</div>
    <div class="pull-right pr-5">操作人：</div>
  </div>
</div>