<div *ngIf="payment&&payment.length">
  <span>{{payment[0].name}}</span>
  <button triggers="focus" placement="bottom" [popover]="popTemplate" *ngIf="payment.length>1" class="trigger-btn">
  <i class="fa fa-ellipsis-h"></i>
  </button>
</div>
<template #popTemplate>
  <table class="table table-sm text-center table-bordered">
    <thead>
      <tr>
        <th>支付方式</th>
        <th>支付金额</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of payment">
        <td>{{item.name}}</td>
        <td class="text-right">￥{{item.amount|centToYuan}}</td>
      </tr>
    </tbody>
  </table>
</template>