<ng-template hq-alerter></ng-template>
<div class="card">
  <div class="card-header">
    <span>仓库列表</span>
  </div>
  <div class="card-block">
    <form class="form-inline mb-2" (ngSubmit)="onLoadList()">
      <div class="input-group m-1">
        <span class="input-group-addon">仓库代码</span>
        <input type="text" class="form-control" name="code" [(ngModel)]="params.code" placeholder="请输入仓库代码">
      </div>
      <div class="input-group m-1">
        <span class="input-group-addon">仓库名称</span>
        <input type="text" class="form-control" name="name" [(ngModel)]="params.name" placeholder="请输入仓库名称">
      </div>
      <div class="input-group m-1">
        <button type="submit" class="btn btn-primary mx-sm-1">查询</button>
        <button type="button" (click)="createModal.show()" class="btn btn-secondary mx-sm-1">新增</button>
      </div>
    </form>
    <table class="table table-bordered table-sm">
      <thead>
        <tr *ngIf="!loading">
          <th>仓库代码</th>
          <th>仓库名称</th>
          <th>备注</th>
          <th>操作时间</th>
          <th>操作人</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td>{{item.code}}</td>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>{{item.createdOnUtc|sDatetime}}</td>
          <td>{{item.operator}}</td>
        </tr>
      </tbody>
    </table>
    <hq-pagination [loading]="loading" [totalItems]="total" [(currentPage)]="index" [(itemsPerPage)]="size" (pageChanged)="onPageChanged($event)"></hq-pagination>
  </div>
</div>

<div class="modal fade" hqBsModal #createModal="hq-bs-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">新增仓库</h5>
        <button class="close pull-right" (click)="createModal.hide()">&times;</button>
      </div>
      <div class="modal-body">
        <hq-warehouse-create (onSubmit)="onWarehouseCreate($event)"></hq-warehouse-create>
      </div>
    </div>
  </div>
</div>