<ng-template hq-alerter></ng-template>
<form *ngIf="form" class="card-block" [formGroup]="form" (ngSubmit)="onCreate()">
  <div class="form-group">
    <label class="form-control-label hq-required">手机号：</label>
    <input label="手机号" type="text" placeholder="请输入手机号" formControlName="phone" class="form-control">
  </div>
  <div class="form-group">
    <label class="form-control-label hq-required">密码</label>
    <input label="密码" type="password" placeholder="请输入密码" formControlName="password" class="form-control">
  </div>
  <div class="form-group">
    <label class="form-control-label hq-required">姓名</label>
    <input label="姓名" type="text" placeholder="请输入姓名" formControlName="name" class="form-control">
  </div>
  <div class="form-group">
    <label class="form-control-label hq-required">角色</label>
    <ngx-dropdown-treeview [items]="roles" (selectedChange)="onRoleSelect($event)">
    </ngx-dropdown-treeview>
  </div>
  <div class="form-group" [hidden]="stations?.length<2">
    <label class="form-control-label hq-required">组织</label>
    <select formControlName="orgId" (change)="onStationChange($event)" class="form-control">
      <option *ngFor="let item of stations" [value]="item.value" [innerHTML]="item.indent+item.text"></option>
    </select>
  </div>
  <div class="form-group">
    <label class="form-control-label hq-required">职位</label>
    <ngx-dropdown-treeview [items]="positions" (selectedChange)="onPositionSelect($event)">
    </ngx-dropdown-treeview>
  </div>
  <div class="form-group">
    <label class="form-control-label">备注</label>
    <input label="备注" type="text" placeholder="请输入备注" formControlName="description" class="form-control">
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="submitting" class="btn btn-primary mr-3">提交</button>
  </div>
</form>