h1::first-letter,h2::first-letter,h3::first-letter,h4::first-letter,h5::first-letter {
    margin-top: 0;
}

.hq-printing{
    font-size: 12px;
}

.print-page{
    page-break-after:always;
}

.no-print{
    display: none;
}

.hq-visible{
    visibility: visible!important;
}
