h1::first-letter,h2::first-letter,h3::first-letter,h4::first-letter,h5::first-letter {
    margin-top: 0;
}

.hq-printing{
    font-size: 12px!important;
}

.print-header{
    /*clear: both;*/
    padding-bottom: 10px;
    border-bottom: 3px solid #595757;
}

.print-header img{
    margin-top: -4px;
    height: 20px;
    display: inline-block;
}

.print-header .print-title{
    float: right;
    font-weight: bold;
    font-size: 1.2rem;
    height: 20px;
    line-height: 20px;
}

.print-hidden{
    display: none;
}

.print-visible{
    display: none;
}

.page-break-before{
    page-break-before: always;
}

.page-break-after{
    page-break-after: always;
}

.hq-visible{
    visibility: visible!important;
}

@media print {
  footer {
    position: fixed;
    bottom: 0;
  }
}
