<ng-template hq-alerter></ng-template>
<form [formGroup]="maintenanceItemForm" autocomplete="off">
  <div class="form-group row">
    <div class="hq-input hq-input-column">
      <label for="serviceName" class="form-label"><span class="asterisk mr-1">*</span>项目名称</label>
      <div class="hq-col">
        <input (input)="serviceNameInput()" hqMaintenanceItemTypeahead [serviceIds]="serviceIds" (onSelect)="serviceTypeaheadOnSelect($event)" type="text" label="维修项目名称"
          class="form-control" formControlName="serviceName">
        <input type="hidden" formControlName="serviceId">
        <input type="hidden" formControlName="type">
      </div>
    </div>
    <div class="hq-input hq-input-column">
      <label for="serviceType" class="form-label"><span class="asterisk mr-1">*</span>项目类型</label>
      <div class="hq-col">
        <select label="项目类型" id="serviceType" formControlName="serviceType" class="form-control">
            <option style="display:none">
            <option *ngFor="let type of serviceTypeData" value="{{type.id}}">{{type.name}}</option>
          </select>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="hq-input hq-input-column">
      <label for="workHour" class="form-label"><span class="asterisk mr-1">*</span>维修工时</label>
      <div class="hq-col">
        <div class="input-group">
          <input [textMask]="{mask: workHourMask}" label="维修工时" formControlName="workHour" type="text" class="form-control">
          <!--<span class="input-group-addon"></span>-->
        </div>
      </div>
    </div>
    <div class="hq-input hq-input-column">
      <label for="price" class="form-label"><span class="asterisk mr-1">*</span>工时单价</label>
      <div class="hq-col">
        <div class="input-group">
          <input [textMask]="{mask: priceMask}" label="工时单价" formControlName="price" type="text" class="form-control">
          <span class="input-group-addon">元</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="hq-input hq-input-column">
      <label for="discount" class="form-label"><span class="asterisk mr-1">*</span>折扣率</label>
      <div class="hq-col">
        <div class="input-group">
          <input [textMask]="{mask: discountMask}" [errors]="{range:'折扣率必须得是0~100之间的整数'}" label="折扣率" formControlName="discount" type="text" class="form-control">
          <span class="input-group-addon">%</span>
        </div>
      </div>
    </div>
    <div class="hq-input hq-input-column">
      <label for="amount" class="form-label">金额</label>
      <div class="hq-col">
        <div class="input-group">
          <input label="金额" formControlName="amount" type="text" class="form-control">
          <span class="input-group-addon">元</span>
        </div>
      </div>
    </div>
  </div>
</form>
<br>
<div class="text-center">
  <button type="submit" class="btn btn-success" [disabled]="!maintenanceItemForm.valid" (click)="onConfirmHandler()">保存</button>
  <button type="button" class="btn btn-secondary" (click)="onCancelHandler()">取消</button>
</div>